

.list-group-item {
  z-index: 1;
  /* position: relative; */
}

.task-options-image {
  border: 1px solid #DFE1E6;
  vertical-align: middle;
  padding: 4px 5px;
  border-radius: 4px;
  color: #818181;
  /* margin-left: 5px; */
}
div.task-options div {
  margin-left: 5px;
  height: 22px;
  width: 26px;
}
.new-row:hover .task-options {
  display: flex;
}
div.task-options div:last-child div {
  margin-left: 0;
}
.parent__tasksubarray-wrapper{
  top: 12px; 
  left: 26px; 
  z-index: 3;
}
.parent__task-lastchild{
  width: 21px;
}
.task__type-image{
  height:14px; 
  width:14px; 
  vertical-align: middle;
}
.tasktype__wasabiimg{
  height:14px; 
  width:14px;
}
.edit__taskname{
  max-width: 44%;
  color: #6b6b6b;
}
.img__parent-task{
  min-width:34px;
}
.show__count{
  transform: translateX(95%); 
  top: 3px;
}