
.auth-template-right {
  width: 32.3%;
}
.logo-image {
  width: 300px;
  margin-bottom: 35px;
}

.auth-image-circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20em;
}

.authetication-container .sidebar {
  height: calc(100% - 0px);
  width: 100%;
  bottom: 0;
  left: 0;
  top: 0;
}


@media(max-width:1890px){
  .auth-image-bg {width: 67%;}
  .auth-title {font-size: 54px;}
}
@media(max-width:991px){
  .auth-template-left,.auth-template-right{width: 100%!important;}
  .auth-image-bg {min-width: 18em!important;right: 0;left: auto;bottom: -45px;}
  .auth-template-left {overflow: hidden;}
}
@media(max-width: 767px) {
  .auth-template-right {width: 100vw;border: 0px;}
  .logo-image {width: 250px;min-width: 250px;}
  .assignee-userlist {font-weight: 400;font-size: 16px;line-height: 21px;color: #535358 !important;}
  .auth-template-right input.form-control.listsidebar-search {height: 50px !important;background: #F0F0F0 !important;border: 1px solid #E0E0E0 !important;border-radius: 6px !important; margin: 0px 0 20px 0 !important;}
  .auth-template-right .sidebar-head {border: 0 !important;padding: 17px 20px 3px 20px!important;height: auto !important;}
  .mobile-list-inputsearch-wrapper {border-bottom: 1px solid #DFE1E6 !important;padding: 15px 20px 20px 20px !important;}
  .assignee-headtitle {font-weight: 500 !important;font-size: 20px !important;line-height: 32px !important;color: #090A0A !important;}
  .mobile-listuser {padding: 14.5px 20px !important;}
  .mobile-listuser:hover .assignee-userlist{color: #fff !important;}
}