.view__list-dropdown {
    background-color: #F4F5F7;
    height: auto;
    border-radius: 6px !important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
    border: 0 !important;
}

.grey_btn{
    background-color:  #959595 !important;
}

.view__navbar{
    max-width: 193px;
    width: 100%;
    padding: 15px;
    background-color: #FFFF;
    border-radius: 3px 0px 0px 6px!important;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
}
.view__navbar .drop-down-item {
    margin: 0 !important;
    padding: 11px 10px!important;
    border-radius: 5px !important;
}
.view__navbar .drop-down-item  .project-mobile-desc{
    color: #818181 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.view__navbar .comments__divider {
    background-color: #cFcfcf !important;
    min-width: 163px;
    height: 1px;
    margin-left: -10px;
    width: 100%;
}
.options{
    margin: 10px;
}
.view__navbar .hover-bg-lighter-gray-dropdown:hover{
    background-color: #F4F5F7 !important;
}
.view__navbar .activeView {
    background: #F4F5F7 !important;
}
.view__body{
    width: 100%;
    max-width: calc(100% - 193px);
    justify-content: center;
    padding: 20px 15px;
    border-left: 1px solid #DFE1E6;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.view__body [type="radio"]:checked,
.view__body [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.view__body [type="radio"]:checked + label,
.view__body [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
.view__body [type="radio"]:checked + label:before{
    border: 1px solid #2F3990 !important;
}
.view__body [type="radio"]:checked + label:before,
.view__body [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #D8DBE2;
    border-radius: 100%;
    background: #fff;
}
.view__body [type="radio"]:checked + label:after,
.view__body [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #2F3990;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.view__body [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.view__body [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.view__list-dropdown input[type="checkbox"] {
    width: 15px !important;
    height: 15px !important;
    border: 1px solid #DFE1E6 !important;
    margin: 0 2px 0 0;
    min-width: 15px;
    position: relative;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0;
    vertical-align: text-top;
    -webkit-appearance: none;
    top: 0px;
    background: #fff;
}
.view__list-dropdown input[type="checkbox"]:checked {
    background-color: #2F3990 !important;
    border: 1px solid #2F3990 !important;
}
.view__list-dropdown input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 51%;
    top: 47%;
    width: 4px;
    height: 9px;
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
}