.calendar_wrapper {
    width: 281px;
    height: 165px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: absolute;
    bottom: 100%;
}
.monthyearfontfamily {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
}
.calendar_year_wrapper{
    justify-content: space-between;
    padding: 11.9px 16px;
    border-bottom: 1px solid #E0E0E0;
}
.calendar_wrapper .common_class {
    max-width: 25%;
    width: 25%;
    flex: 0 0 25%;
    text-align: center;
    padding-bottom: 16px;
}
.calendar_month_wrapper{
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 5px 0px;
}
.calendar_month_Font{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #818181;
}
.isDisable {
    pointer-events: none;
    opacity: 0.5;
    cursor: pointer;
}

.customcalendar{
    width: 281px;
    height: 230px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    position: absolute;
}
.monthyearcalendar{
    height: 44px;
    border-bottom: 1px solid #E0E0E0;
    justify-content: space-between;
    padding: 0px 16px;
}
.monthyearfontfamily {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    text-align: center;
}
.monthcalendarfontfamily{
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: left;
}
.monthandrange{
    padding: 2px 10px;
    max-height: 186px;
    overflow-y: auto;

}
.monthandrange::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #CFCFCF;
    border-radius: 6px;
}
.monthandrange::-webkit-scrollbar-thumb {
    background: #2f3990;
    border-radius: 6px;
  }
.hovermonthandrange{
    padding: 6px 10px;
    margin: 3px 0px;
}
.hovermonthandrange:hover{
    background: #F0F0F0;
    border-radius: 4px;
}
.hourlyCalendarModelWrapper{
    height: 30px;
    max-width: 100%;
    width: 100%;
    margin-left: 0px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949DA8;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
}
span.addActiveClassForCurrentDate {
    display: block;
    background-color: #8591f9;
    border-radius: 4px;
    color: white;
}
span.addActiveClass {
    display: block;
    background-color: #2F3990;
    border-radius: 4px;
    color: white;
}
.drop_down_month_year{
    position: absolute;
    top: 25px;
    background: white;
    box-shadow: 0 5px 25px 0 rgb(0 0 0 / 10%);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px;
    width: 100%;
    max-height: 95px;
    overflow: auto;
    width: 70px;
    left: -18px;
}
.drop_down_month_year_month{
    /* text-align: center; */
    z-index: 9;
}
.select_drop_down_range {
    display: block !important;
    padding-bottom: 10px !important;
    cursor: pointer;
}
.select_drop_down_range:last-child{
    padding-bottom: 0px !important;
}
.vc-disabled {
    cursor: not-allowed;
    pointer-events: none !important;
}