.description-main {
    /* max-height: calc(100dvh - 360px);
    overflow: auto; */
    padding-top: 3px;
    padding-bottom: 10px;
}
.description-main .ql-toolbar.ql-snow+.ql-container.ql-snow {
    max-height: calc(100dvh - 360px);
    overflow: auto;
}
.description__Edit-wrapper.d-block {
    max-height: calc(100dvh - 360px);
    overflow: auto;
}
.description-wrapper {
    border-bottom: 1px solid #d4d6d7;
}
.ql-snow .ql-editor pre.ql-syntax {
    background-color: transparent !important;
    color: black;
}
.description-wrapper pre {
    white-space: pre-wrap;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding: 5px 10px !important;
}
.description-wrapper blockquote {
    display: block;
    margin-bottom: 15px !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.description-main::-webkit-scrollbar{display: none;}
.description-action button {
    
    height: 30px;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 15px;
}
.description-editor {
    background: #ffffff;
    border: 1px solid #DFE1E6;
    border-radius: 6px;
    margin-top: 11px;
}
.description-main u{
    text-decoration: underline;
}

.description-main s{
    text-decoration: line-through;
}

.editor-container{
    position: relative;
    padding-top: 1rem;
}

.ce-toolbar__content {
    max-width: calc(100% - 120px);
}
#editorjs {
    list-style-type: disc;
    color: black;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #f5f1f1;
    /* min-height: 350px; */
}

#editorjs .codex-editor__redactor {
    padding: 10px 10px 10px 5px;
    /* min-height: 350px; */
    overflow-x: auto;
}

#editorjs .codex-editor__redactor::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
#editorjs .codex-editor__redactor::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: red;
    border-radius: 8px;
}
#editorjs .codex-editor__redactor::-webkit-scrollbar-thumb {
    background-color: #959595;
    border-radius: 8px; 
}


#editorjs .ce-block__content {
    max-width: 100%;
}

#editorjs .ce-toolbar__actions {
    right: 100%;
}
#editorjs .ce-toolbar__settings-btn{
    margin-left: -5px;
}
.editor-container .show_hide_class{
    max-height: 350px;
    /* height: 350px; */
    overflow: hidden;
}
.editor-container .hide_show_wrapper {
    width: 100%;
    height: 60px;
    bottom: 41px;
    position: absolute;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;

    display: flex;
    align-items: end;
    z-index: 1;

    background-image: linear-gradient(to top, white 50%, transparent);
}
.editor-container .hide_show{
    align-items: center;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    line-height: 1em;
    padding: 7px 9px;
    white-space: nowrap;
    border: 0px;
    padding: 10px 0px;
    border-radius: 5px;
}
.editor-container .hide_show:hover {
    background-color: #d1cfcf5c;
}
.editor-container .codex-editor__redactor {
    padding-bottom: 50px;
}

#editorjs .cdx-block {
max-width: 100% !important;
}

#editorjs [data-item-name=convert-to] {
    display: none;
}

.codex-editor [data-item-name=WriteWithAi] path {
    stroke: none !important;
}

.add_description_button {
    width: 100%;
    padding: 4px 14px;
    border: 0;
    border-radius: 4px;
    background-color: white;
    text-wrap: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #959595;

    cursor: pointer;
}

.add_description_button:hover {
    color: #333;
    background-color: #d1cfcf5c;
}

@media(max-width: 767px){
    .description__Edit-wrapper {max-height: 450px;margin-bottom: 20px;overflow: auto;}
    .description__Edit-wrapper::-webkit-scrollbar{display: none;}
    .description-main{border-bottom: 0 !important;max-height: calc(100dvh - 160px);margin-bottom: 20px;}
    .description-action{margin-bottom: 20px;}
    .description-main .ql-toolbar.ql-snow+.ql-container.ql-snow{padding: 15px !important;}
    .description-main .ql-editor p{padding: 0 !important;}
}
@media (min-width: 651px) {
    #editorjs .ce-block__content, #editorjs .ce-toolbar__content {
        max-width: calc(100% - 50px) !important;
        margin: 0px 0px 0px 60px;
    }
    
    #editorjs .ce-popover__container{
        margin-left: 10px;
    }
}





