.description-main {
    /* max-height: calc(100dvh - 360px);
    overflow: auto; */
    padding-top: 3px;
    padding-bottom: 10px;
}
.description-main .ql-toolbar.ql-snow+.ql-container.ql-snow {
    max-height: calc(100dvh - 360px);
    overflow: auto;
}
.description__Edit-wrapper.d-block {
    max-height: calc(100dvh - 360px);
    overflow: auto;
}
.description-wrapper {
    border-bottom: 1px solid #d4d6d7;
}
.ql-snow .ql-editor pre.ql-syntax {
    background-color: transparent !important;
    color: black;
}
.description-wrapper pre {
    white-space: pre-wrap;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding: 5px 10px !important;
}
.description-wrapper blockquote {
    display: block;
    margin-bottom: 15px !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.description-main::-webkit-scrollbar{display: none;}
.description-action button {
    
    height: 30px;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 15px;
}
.description-editor {
    background: #ffffff;
    border: 1px solid #DFE1E6;
    border-radius: 6px;
    margin-top: 11px;
}
.description-main u{
    text-decoration: underline;
}

.description-main s{
    text-decoration: line-through;
}

@media(max-width: 767px){
    .description__Edit-wrapper {max-height: 450px;margin-bottom: 20px;overflow: auto;}
    .description__Edit-wrapper::-webkit-scrollbar{display: none;}
    .description-main{border-bottom: 0 !important;max-height: calc(100dvh - 160px);margin-bottom: 20px;}
    .description-action{margin-bottom: 20px;}
    .description-main .ql-toolbar.ql-snow+.ql-container.ql-snow{padding: 15px !important;}
    .description-main .ql-editor p{padding: 0 !important;}
}





