
*{
    box-sizing: border-box;
}

.setting_template_wrapper .usetemplatesWrapper {
    width: 100%;
}

.setting_template_wrapper .usetemplatesWrapper .mainLeftside {
    width: 338px;
    height: calc(100vh - 146px);
    border-right: 1px solid #CFCFCF;
    padding-right: 15px;
}

.setting_template_wrapper .usetemplatesWrapper .mainLeftside h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  margin-bottom: 15px;
}

.setting_template_wrapper .mainLeftside .taskStatusLeftListWrapper li {
    border-radius: 6px;
    padding: 10px;
    margin: 0px;
    list-style: none;
    position: relative;
}
.template__brwose-category {
    padding: 0px 14px 0px 15px;
}
.setting_template_wrapper .usetemplatesWrapper .mainLeftside {
    max-width: 337px;
    width: 100%;
    height: calc(100vh - 146px);
    border-right: 1px solid #CFCFCF;
}
.setting_template_wrapper .usetemplatesWrapper .mainLeftside ul li {
    padding: 10px !important;
}
.setting_template_wrapper .usetemplatesWrapper .mainLeftside h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 20px;
}
.setting_template_wrapper .template-right-side {
    width: calc(100% - 337px);
    background: #F4F5F7;
    height: auto;
    max-height: calc(100vh - 107px);
    overflow: auto;
    padding: 0px 0 0 20px;
}
.setting_template_wrapper .template-right-side::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #CFCFCF;
    border-radius: 6px;
}
.setting_template_wrapper .template-right-side::-webkit-scrollbar-thumb {
    background: #2f3990;
    border-radius: 6px;
}

.setting_template_wrapper .taskStatusLeftListWrapper {
    margin-bottom: 19px !important;
}
.setting_template_wrapper .templateListIcon ul {
    padding: 0;
}
.setting_template_wrapper .template-scroll-wrapper{
    overflow: auto;
    height: calc(100vh - 178px);
}
.setting_template_wrapper .templateListIcon ul li {
    border: 0.7px solid #DFE1E6;
    border-radius: 3.29932px;
    padding: 1px;
    list-style: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.setting_template_wrapper .templateListIcon.template-right-listicon ul li{
    width: auto;
    height: auto;
}
.setting_template_wrapper .taskStatusLeftListWrapper li span {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #535358;
}
.setting_template_wrapper .template_project_text .templateListIcon ul li span {
    line-height: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;    
}
span.default-status-squer.status__color {
    display: inline-block !important;
}
.setting_template_wrapper .template_project_text .templateListIcon img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.setting_template_wrapper .template_project_text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #818181;
    margin: 5px 0px 10px 1px;
    display: block;
    width: 97%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 31px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.template-right-side .setting_templateDetail_wrapper .allgoodproject h5{
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    color: #535358;
}
.setting_template_wrapper .template_project_imgTxt_wrapper {
    background: #FFFFFF;
    border-radius: 9px;
    max-width: 297px;
    cursor: pointer;
    width: 100%;
    border: 1px solid #cfcfcf;
}
.setting_template_wrapper .template_project_imgTxt_wrapper:hover
{
    box-shadow: 0px 0px 15px 0px #00000033;

}

.setting_template_wrapper .template_project_imgTxt_wrapper .template_project_img img {
    background: #DBF1FF;
    border: 0.5px solid #CFCFCF;
    border-radius: 5px;
    min-height: -webkit-fill-available;
    height: 132.42px !important;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
.setting_template_wrapper .template_project_img {
    background: #DBF1FF;
    border-radius: 8px 8px 0px 0px;
    padding: 13px 19px 8.6px 18px;
}
.setting_template_wrapper .template_project_text {
    padding: 10px 15px 20px 15px;
}
.setting_template_wrapper .template_project_text span {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.template-right-side .setting_templateDetail_wrapper .template-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #2f3990;
    border-radius: 6px;
}
.template-right-side .setting_templateDetail_wrapper button.template-detail-delete {
    font-size: 16px;
    background: #fff !important;
    padding: 2px 12.6px;
    border-radius: 4px;
    color: #2f3990;
    border: 1px solid #2f3990;
    margin-left: 15px;
    cursor: pointer;
    margin-right: 10px;
    line-height: 24px;
}
.template-right-side .setting_templateDetail_wrapper .header-templatedetail {
    background-color: #FCFCFC;
    padding: 17px 14px 17px 14px;
    border-bottom: 1px solid #DAE1E7;
}
.template-right-side .setting_templateDetail_wrapper h4.text-blue{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F3990;
    margin: 3px 0 20px 0;
}
.template-right-side .setting_templateDetail_wrapper button.backButtonTemplateList img{
    margin-right: 6px !important;
}
.template-right-side .setting_templateDetail_wrapper button.backButtonTemplateList{
    padding: 0;
    background-color: transparent;
    border: 0px;
}
.setting_template_wrapper .setting_templateDetail_wrapper button.use-template-btn {
    background-color: transparent;
    border: 0px;
    color: #2F3990;
    top: 0px;
    right: 135px;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
}

.setting_template_wrapper .setting_templateDetail_wrapper button.deleteTemplateBtn {
    background-color: transparent;
    border: 0px;
    color: #ff0000;
    top: 0;
    right: 0;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 20px;
}

.template-right-side .setting_templateDetail_wrapper button.backButtonTemplateList img {
    vertical-align: middle;
}


.setting_template_wrapper .template_project_text .templateListIcon span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #818181;
}

.setting_template_wrapper .choose-project-tilte {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #818181;
    margin-top: 9px
}

.usetemplatesWrapper .mainLeftside ul li p {
    margin: 1.5px 0;
}

.mobile-projectName-category-wrapper .createprojectContent .form-group:last-child {
    margin-bottom: -2px !important;
}
.setting_template_wrapper .createprojectContent .form-group label {
    width: 150px;
    min-width: 150px;
}

.mobile-projectName-category-wrapper input.dp__pointer.dp__input_readonly.dp__input.dp__input_reg {
    font-size: 13px;
    font-weight: 400;
    color: #949DA8 !important;
    border: 0;
    border-radius: 5px;
    height: 30px;
}

.mobile-projectName-category-wrapper input.dp__pointer.dp__input_readonly.dp__input.dp__input_icon_pad.dp__input_reg {
    background-image: url('../../../assets/images/png/download.png');
    background-repeat: no-repeat;
}

.mobile-projectName-category-wrapper .dp__input_wrap {
    border: 1px solid #E0E0E0;
    border-radius: 6px;
}

.mobile-projectName-category-wrapper .dp__input_icons {

    padding: 0 !important;
}

.mobile-projectName-category-wrapper svg.dp__icon.dp__input_icon.dp__input_icons {
    display: none;
}

.mobile-projectName-category-wrapper .sidebar-options.overflow-x-hidden {
    padding-top: 15px;
}

.imagePicker label.button-primary {
    padding: 5px 14.46px;
}

.orDiv span {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.ul-colors .status_square {
    width: 8px !important;
    height: 8px !important;
}

.imageColorPickerDiv h5.projectColor {
    margin-bottom: 4px;
}

.orDiv {
    margin: 4px 0px 14px;
}

.allgoodproject li.setImagevalue {
    list-style: none;
}

.setting_template_wrapper .setting_templateDetail_wrapper {
    max-width: 923px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.setting_template_wrapper .setting_templateDetail_wrapper .templateDetailWrapper {
    padding: 33px 135px 32px 135px;
    background: #DBF1FF;
    border-radius: 16px;
    max-width: 923px;
}
.setting_template_wrapper .setting_templateDetail_wrapper .templateDetailWrapper img{
    border-radius: 16px;
    width: 653px;
    height: 332px;
    object-fit: cover;
}
.setting_template_wrapper .templateName_detail_wrapper{
padding: 30px 0px 20px 0px;
}
.setting_template_wrapper .setting_templateDetail_wrapper .templateName_detail span {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 11px !important;
}
.setting_template_wrapper .setting_templateDetail_wrapper .project-task-allgoogproject-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #DFE1E6;
    border-radius: 8px;
}
.setting_template_wrapper .setting_templateDetail_wrapper .allgoodproject:last-child{
    border-radius: 0px 0px 6px 6px !important;
    border-bottom: 0px;
}
.template-right-side .setting_templateDetail_wrapper .templateName_detail p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #818181;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.setting_templateDetail_wrapper .allgoodprojectvalue {
    background-color: #fff;
    border-bottom: 1px solid #DFE1E6;
    height: 43px;
    padding: 0px 21px;
    justify-content: space-between;
}
.setting_template_wrapper.white_btn.vs-button-primary.vs-button-filled, .white_btn {
    font-size: 16px;
    background: #fff !important;
    padding: 4px 10px;
    border-radius: 4px;
    color: #2f3990;
    border: 1px solid #2f3990;
    margin-left: 15px;
    cursor: pointer;
}

.company_img {
    padding-bottom: 20px;
}

.create-workspace-sidebar-image {
    display: block;
    width: 122px;
    height: 122px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    position: relative;
}

.placeholder {
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border: 1px dashed #959595;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 13px;
}

 .upload_image {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.file-input {
    display: none;
    max-width: 180px;
    height: 180px;
    width: 100%;
}
.createprojectContent .text-red.asterisk {
    font-size: 14px !important;
    position: relative;
    top: 1px;
}
 .black.sidebar-body.bg-white {
    background-color: #F4F5F7;
}
 .sidbar-bodytamplate {
    padding: 20px;
    margin: 15px 15px 0px 15px;
    background-color:#FFFFFF;
    border-radius: 8px;
}
 .template-uploaded-image.template_img {
    width: 100px;
    height: 100px;
    margin-bottom: 28px;
    padding-bottom: 0px!important;
    overflow: hidden;
}
 .template-uploaded-image .create-template-sidebar-image {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.setting_template_wrapper .placeholder{
    background: #f4f5f7;
    border: 1px dashed #959595;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}
.createprojectContent .form-group {
    position: relative;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
     display: flex;
}
.createprojectContent label{
    min-width: 150px !important;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20.72px;
}
.createprojectContent .text-red{
    position:absolute;
}
.createprojectContent .form-group:last-child {
    margin-bottom: 0px;
}
.form-group.textareaWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.createprojectContent .input-field-group {
    width: calc(100% - 150px);
}
.templateSidebar textarea.form-control {
    width: 100%;
    resize: none;
    border-radius: 5px;
    padding: 5px 10px;
    min-height: 83px !important;
    height: auto !important;
}
.setting_template_wrapper .btn-primary {
    width: 120px !important;
}
.requiredListItem{
    height: 50px !important;
}
button.dot-btn {
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}
.closeStatus {
    height: 29px;
    font-size: 14px;
}
.setting_template_wrapper .addStatusBtn{
    margin: 10px 0 20px 0 !important;
}
.setting_template_wrapper .conditional-btn-wrapper button{
    line-height: 24px;
    margin-top:30px;
}
.templateBtnWrapper .btn{
    border: 1px solid #2F3990;
    border-radius: 4px;
    padding: 2px 13.22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px;
}
.templateBtnWrapper  .btn-blue{
    right: 5px !important;
    background-color: #2f3990;
    color: #fff !important;
}
.templateBtnWrapper  .btn-blue-line{
    background-color: #fff;
    color: #2f3990;
 
    right: 195px !important;
}
.dragImage  {
    left: -17px;
    top: 0px;
    cursor: grab;
}
.practice-customer {
    margin-left: auto;
}
.errorDesc {
    margin-left: 28%;
}
.taskStatusRight ul.status_ul li {
    height: 29px;
}
.activeStatus ul.status_ul li {
    padding: 0px 10px 0px 8px !important;
}
input.statusInputText.form-control.edit-input.statuseditInput {
    padding-left: 10px !important;
    border: 1px solid #e0e0e0;
}
.sidbar-bodytamplate button.btn.btn-blue.btn-login.btn-disabled {
    border-radius: 4px;
    height: 30px;
    margin: 0 !important;
    border: 0 !important;

}
.conditional-btn-wrapper .conditional-next-step {
    padding: 2px 14.55px !important;
    height: 30px;
    width: 62px;
}
.create__template {
    width: 160px;
    height: 30px;
    margin: 0 !important;
}
.conditional__template-project {
    height: 30px;
    width: 62px;
    border-radius: 4px !important;
}
.conditional-previous-step.btn {
    height: 30px;
    width: 90px;
    margin-right: 20px;
}
.statuInputwrapper input:focus-visible {
    outline: none !important;
    border: 0 !important;
}
.conditional__template-project:focus-visible{
    outline: none !important;
}
.status__color{
    width: 10px !important;
    height: 10px !important;
    top: 0;
}
.mobile-usetempllate-list-display{
    gap: 20px !important;
}
.status__name{
    width: 12px !important;
    height: 12px !important;
}
.attachment__image-height{
    object-fit: contain !important;
}
.createprojectContent .input-field-group{
    position: relative;
}
.btn-bg-blue{
    background-color: #2F3990 !important;
}
.custom__field_add_button {
    height: 30px;
    width: auto;
    border-radius: 4px !important;
}
.createProject__table-header {
    overflow: auto;
    max-height: 280px;
}
.createProject__table-header table thead {
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
}
.createProject__table-body-content {
    width: 100px;
    display: inline-block;
}
img.template_image_wrapper {
    height: 10px !important;
    width: 10px !important;
}
@media (max-width: 1890px){
    .setting_template_wrapper .template_project_imgTxt_wrapper {max-width: 23.5%;}
}
@media (max-width: 1650px){
.setting_template_wrapper .template_project_imgTxt_wrapper {
    max-width: 31%;
}
}
@media (max-width: 1566px){
    .setting_template_wrapper .template_project_imgTxt_wrapper {width: 31%;}
}
@media (max-width:1440px) {
    .setting_template_wrapper .setting_templateDetail_wrapper .templateDetailWrapper img{width: 100% !important;height: 196px;object-fit: scale-down !important;}
    .setting_template_wrapper .setting_templateDetail_wrapper .templateDetailWrapper{width: 100% !important;padding: 23px 53px 23px 53px !important;}
}
@media (max-width: 1300px){
    .setting_template_wrapper .statusTaskWrapperMain .template-right-side{max-width: calc(100% - 280px) !important;width: 100%;overflow: auto;}
    .setting_template_wrapper .usetemplatesWrapper .mainLeftside {max-width: 280px;width: 100%;padding-right: 0;}
    .setting_template_wrapper .template_project_img{max-width: 100%;}
    .taskStatusRight ul.status_ul li input.form-control.edit-input {height: 25px;}
}
@media (max-width: 1024px) {
    .setting_template_wrapper .template_project_imgTxt_wrapper {width: 47%;max-width: 100%;
}
}
@media (max-width: 767px) {
    .conditional-previous-step.btn {height: 45px;width: 48.5%;font-weight: 500!important;font-size: 18px!important;order: 1; margin: 0px;border-radius: 8px !important;}
    .conditional-btn-wrapper{    flex-wrap: wrap;justify-content: space-between !important;}
    .conditional__template-project {height: 45px;padding: 2.5px 2px !important;width: 48.5%;font-weight: 500!important;font-size: 18px!important;border-radius: 8px !important;margin-left: auto !important;display: table !important;order: 2;line-height: 18px !important;}
    .sidbar-bodytamplate .cat.action{width: 100% !important;}
    .conditional__template-projectstepOne {width: 100% !important;margin-top: 10px;}
    .create__template {width: 48.5%;font-weight: 500!important;font-size: 18px!important;border-radius: 8px !important;order: 2;height: 45px;line-height: 18px !important;}
    .addStatusInput{padding: 8px 10px;}
    .closeStatus input.statusInputText.form-control.edit-input{height: 24px;}
    .closeStatus{height: 40px;}
    .closeStatus {padding: 4px 10px 4px 23px!important;}
    .black.sidebar-body.bg-white {background-color: #fff;}
    .sidbar-bodytamplate .requiredviewListWrapper .requiredListItem {width: 100% !important;}
    .sidbar-bodytamplate .createProjectWizardSlider{padding: 0;}
    .sidbar-bodytamplate .statusTaskWrapper {display: block !important;overflow: auto;max-height: 450px;}
    .sidbar-bodytamplate .statusTaskWrapper::-webkit-scrollbar{display: none;}
    .sidbar-bodytamplate {padding: 20px;margin: 0;border-radius: 0;height: 100%;}
    .setting-section-right:has(.setting_template_wrapper) {background: #fff;}
    .setting_template_wrapper .para-overflow{-webkit-line-clamp: 6 !important;  }
    .createprojectContent .form-group{display: block !important;}
    .createprojectContent .input-field-group {width: 100% !important;}
    .sidbar-bodytamplate .form-control {height: auto;}
    .templateSidebar textarea.form-control{padding: 10px;min-height: 55px !important;height: 55px !important;border-radius: 8px;}
    .createprojectContent label{min-width: 100% !important;font-size: 16px;line-height: 21px;margin-bottom: 10px;display: block;}
    .form-group.textareaWrapper.flex-column {height: auto;}
    .taskStatusRight ul.status_ul li {height: 40px;}
    .sidbar-bodytamplate .createprojectContent.whitebodyContent_v2.templateSidebar .form-control.template__input {padding: 15.5px 10px;}
     .statusHeader h3.heading_text {padding: 18.5px 10px !important;background: #f4f5f7 !important;}
    .sidbar-bodytamplate .taskStatusLeft{margin-bottom: 30px;}
    .statusTaskWrapper.statusTaskWrapperMain.usetemplatesWrapper.d-flex {flex-direction: column;width: 100%;}
    .setting-section-right .mainLeftside {max-width: 100%;height: 100% !important;padding: 0 5px;}
    .setting-section-right .mainLeftside ul {display: flex;margin-bottom: 0px !important;min-width: max-content;align-items: center;}
    .setting-section-right .taskStatusLeftListWrapper li span {font-size: 16px!important;line-height: 19px!important;}
    .setting_template_wrapper .usetemplatesWrapper .mainLeftside{max-width: 100% !important;width: 100%;background-color: #fff;overflow-y: auto;max-height: 520px;}
   .setting_template_wrapper .statusTaskWrapperMain .template-right-side{max-width: 100% !important;width: 100%;background-color: #fff;overflow-y: auto;max-height: 550px;padding: 0px 15px;}
    .setting_template_wrapper .template_project_imgTxt_wrapper {max-width: 100% !important;width: 100%;box-shadow: none !important;padding: 0px; padding: 0 0px;}
    .setting_template_wrapper .template_project_text {border-radius: 0px 0px 9px 9px;border-top: 0;padding: 10px 15px 16px 15px;}
    .setting_template_wrapper .usetemplatesWrapper .mainLeftside{border-right: 0;padding: 0;}
    .setting_template_wrapper .mobile-usetempllate-list-display { margin-top: 10px;margin-bottom: 10px;}
    .setting_template_wrapper .template-right-side{padding: 0;}
    .setting_template_wrapper .template-right-side.template__settings__spinner{padding: 35px;}
    .use-template-browsecategory {overflow-x: auto;}
    .sidbar-bodytamplate .mobile-usetempllate-list-display{padding: 0 0px 0px;}
    .addUseTemplate .usetemplatesWrapper .mainLeftside{padding: 20px;}
    .mobile-usetempllate-list-display::-webkit-scrollbar, .template-right-side::-webkit-scrollbar, .use-template-browsecategory::-webkit-scrollbar{display: none;}
    .setting_template_wrapper .usetemplatesWrapper .mainLeftside h5{margin: 10px 0px;}
    .setting_template_wrapper .usetemplatesWrapper .mainLeftside ul li{padding: 9px 9.5px!important;margin-right: 15px;border: 1px solid #CFCFCF;border-radius: 6px;}
    .setting_template_wrapper .usetemplatesWrapper .mainLeftside ul li.active__template{border: 1px solid #dbf1ff !important;}
    .setting_template_wrapper .templateName_detail_wrapper{padding: 20px;} 
    .setting_template_wrapper .template_project_imgTxt_wrapper .template_project_img img{max-width: 100%;width: 100%;border: 0.5px solid #CFCFCF;border-radius: 5px;object-fit: scale-down !important;}
    .setting_template_wrapper .setting_templateDetail_wrapper .templateDetailWrapper{padding: 20px;max-width: 100%;padding: 20px!important;background: #DBF1FF;border-radius: 0;width: auto !important;}
    .setting_templateDetail_wrapper .templateDetailWrapper img {border: 0.5px solid #CFCFCF;border-radius: 5px;object-fit: scale-down;height: 198px;}
    .setting_template_wrapper .setting_templateDetail_wrapper button.deleteTemplateBtn, .setting_template_wrapper .setting_templateDetail_wrapper button.use-template-btn{padding-right: 20px;font-size: 12px;padding-left: 0;}
    .template-right-side .setting_templateDetail_wrapper h4.text-blue{margin: 10px 15px 15px 20px;}
    .setting_template_wrapper .setting_templateDetail_wrapper button.use-template-btn {right: 100px;}
    .template__brwose-category {padding: 0px 20px 10px 20px;}
    .templateBtnWrapper .btn{padding: 5px 5px;margin-right:0;font-size: 14px;line-height: 18px;}
    .usetemplatesWrapper .mainLeftside ul li p{margin: 0;}
    input.statusInputText.form-control.edit-input.statuseditInput {padding-left: 10px !important;height: 40px !important;margin-right: 0;}
    .addStatusInput::placeholder{font-size: 14px !important;color: #535358 !important;line-height: 21px !important;}
    .addStatusBtn.searchValue input {padding-left: 10px;width: 78% !important;margin-right: 10px;padding-top: 6px;padding-bottom: 6px;height: auto !important;color: #535358 !important;}
    input.form-control.edit-input {padding: 3px 10px 3px 24px !important;}
    .addStatusInput {padding: 9px 10px 7px 10px !important;}
    span.task-leftside{display: flex;margin-right: 10px;}
    .taskStatusLeft .d-flex.justify-content-between {width: 100% !important;}
    .setting_template_wrapper .setting_templateDetail_wrapper .templateDetailWrapper img{border-radius: 5px !important;}
    .company_img {padding-bottom: 30px;}
    .taskStatusRight ul.status_ul li input.form-control.edit-input{font-size: 16px !important;}
    .requiredListItem, .cat.action{height: 55px !important;}
    .mobile-projectName-category-wrapper input.dp__pointer.dp__input_readonly.dp__input.dp__input_icon_pad.dp__input_reg {background-image: url('../../../assets/images/svg/calendar_month\ \(1\).svg');background-repeat: no-repeat;background-position: calc(100% - 20px);}
    .sidbar-bodytamplate button.btn.btn-blue.btn-login.btn-disabled {padding: 2px 2px;width: 48.5% !important;height: 45px;order: 2;border-radius: 8px !important;margin: 0px 0 0 0 !important;font-size: 18px!important;}    
}
@media(max-width:480px){
   .addStatusBtn.searchValue input {width: 65% !important;margin-right: 0;}
   .sidbar-bodytamplate .statusTaskWrapper {display: block !important;overflow: auto;max-height: 400px;}
   .setting_template_wrapper .template_project_imgTxt_wrapper .template_project_img img{object-fit: cover !important;object-position: 100% 15%;}
}
@media(max-width:414px){
    .templateBtnWrapper .btn {font-size: 12px;line-height: 14px;}
 }
@media(max-width:375px){
    .conditional__template-project {height: 45px;padding: 2.5px 2px !important;font-size: 15px!important;}
 }

