
/*ProjectAlianAppsForm*/
.cat.action {
    border: 1.5px solid #CFCFCF;
    width: 48.047%;
    padding: 9px 10px;
    border-radius: 7px;
    margin-bottom: 20px;
    cursor: pointer;
    height: 50px;
}
span.changesFont{
    font-weight: 400;
    color: #818181;
}
.cat.action input[type=checkbox] {
    display: none;
}
.cat.action h4.changesFont {
    margin: 0;
}
.cat.action:has( input[type=checkbox]:checked) {
    border: 1.5px solid #3845B3;
}
.cat.action:has( input[type=checkbox]:checked) h4.changesFont.enableapp-list-desktop {
    color: #3845B3 !important;
}
.cat.action input[type=checkbox]:checked h4.changesFont.enableapp-list-desktop {
    color: #3845B3 !important;
}
/*All page detail*/
.allgoodproject:last-child {
    border-radius: 8px;
}
.Allgood {
    background: #F4F5F7;
    border: 1px solid #DFE1E6;
    border-radius: 8px; 
    border-bottom: 0;
}
.project-detail-setup{
    margin-bottom: -4px;
}
.Allgood h4 ,h3,h5,h6,ul{
    margin: 0;
}
.Allgood h5 {
    font-weight: 500;
    line-height: 19px;
    color: #535358;
}
.Allgood h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    color: #535358;
}
.allgoodprojectvalue, .allgoodproject {
    padding: 0 20px;
    border-bottom: 1px solid #DFE1E6;
    height: 43px;
}
.createProjectWizardSlider li{
    list-style: none;
}
li.setImagevalue {
    margin-left: 10px;
    cursor: pointer;
}
li.setImagevalue img {
    width: 15px;
    height: 16px;
    object-fit: cover;
    border-radius: 2px;
}
p.navigating {
    margin-bottom: 38px;
    margin-top: 29px;
}
.requiredviewListWrapper {
    margin-bottom: -15px;
}
.createProjectWizardSlider button.btn-white{
    background-color: transparent;
    border: 0;
}
.createProjectWizardSlider .color-input {
    border: 0;
}
.statuInputwrapper {
    margin-bottom: 10px;
    padding-left: 8px;
}
.taskStatusSection.statusTaskWrapper label {
    margin-bottom: 5px;
    display: block;
}
.addStatusBtn.searchValue {
    margin-bottom: 20px;
}
ul.templated_name_ul{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    max-height: 140px;
    overflow: auto;
}
.taskStatusRight ul {
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.createProjectWizardSlider button.add_template {
    border: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #3845B3;
    padding: 0px;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 6px;
    font-family: 'Roboto';
}
.closeStatus .style_changes_value {
    font-size: 13px !important;
    width: 85%;
    display: block;
}
.statusHeader h3.heading_text{
    margin-bottom: 30px;
}
p.box-text {
    margin-top: 10px;
}
label.status_lable {
    margin-bottom: 5px;
    display: block;
}
.taskStatusSection .add_new_temp{
    flex-grow: 1;
    padding-right: 56px !important;
    box-sizing: border-box;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
    margin-left: 1px;
    background-color: transparent;
}

 input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0px !important;
}
input[type="color"]::-webkit-color-swatch {
    padding: 5px;
    border: 0;
    border-radius: 2px;
}
input[type="color"]::-moz-color-swatch{
    padding: 5px;
    border: 0;
    border-radius: 2px;
}
.templated_name_ul input.form-control.edit-input {
    background: #fff !important;
    padding-left: 22px;
    flex-grow: 1;
    padding-right: 56px !important;
    box-sizing: border-box;
}
label.task-done-status {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #3A3A3A;
}
.statusHeader_one ul.status_ul li {
    padding: 0px 10px;
}
.taskyou_need_right ul.status_ul li span.taskInnerData:nth-child(1) {
    max-width: 175px;
}
.taskStatusRight ul.status_ul li {
    height: 29px;
}
.closeStatus input.statusInputText.form-control.edit-input {
    height: 24px !important;
    padding-left: 0 !important;
}
.taskStatusRight ul.status_ul li input.form-control.edit-input {
    height: 25px;
}
.taskyou_need_right ul.status_ul li span.taskInnerData:nth-child(1) .d-flex.align-items-center {
    width: 100%;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
.taskyou_need_right ul.status_ul li span.taskInnerData:nth-child(1) .d-flex.align-items-center img {
    vertical-align: middle;
    height: 14px;
    border-radius: 4px;
}

ul.templated_name_ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #C1C1C1;
}
ul.templated_name_ul::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}
ul.templated_name_ul {
    scrollbar-width: thin;
    scrollbar-color: #F5F5F5;
}
.taskStatusLeft ul.templated_name_ul li{
    list-style: none;
    font-weight: 400;
    color: #818181;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 10px;
}
.taskStatusRight h3 {
    margin: 0;
    margin-bottom: 10px;
}
label.templetes {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #959595;
}
button.add_template {
    border: 0;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #3845B3;
}
.taskyou_need_right ul.status_ul li span.taskInnerData {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #535358;
}
.checkBox_Text p.turnOff {
    margin: 30px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #535358;
}

.taskyou_need_right ul li{
    padding: 0px 10px!important;
}
.text-red{
    color: red;
    
}
.createprojectContent .text-red{
    color: red;
    font-size:11px !important; 
    line-height: 18px !important;
}
.activeStatus ul.status_ul li {
    list-style: none!important;
    border: 1px solid #ececec!important;
    border-radius: 5px;
    padding: 4px 10px 4px 8px;
    margin-bottom: 10px;
}
.statuInputwrapper input:focus-visible {
    outline: none !important;
    border: 0 !important;
}
.activeStatus ul.status_ul li input[type="color"]
{
    background-color: transparent !important;
    cursor: pointer;
    padding: 0px!important;
    width: 12px!important;
    min-width: 12px !important;
    height: 12px!important;
    display: inline-block!important;
    border-radius: 2px!important;
    margin-right: 8px!important;
    border: 0px!important;
    border: none !important;
}
.activeStatus ul.status_ul li input[type="color"]::-moz-color-swatch {
border: none;
}
.activeStatus ul.status_ul li input[type="color"]::-webkit-color-swatch-wrapper {
padding: 0;
border-radius: 2px !important;
}
.statuInputwrapper.activeStatus {
    padding-left: 0px;
}
.status_change_dropdown .drop-down-options .drop-down-item {
    justify-content: flex-start!important;
}
li.temp_save_value {
    position: relative;
}
button.save_template {
    padding: 0;
    background-color: transparent;
    border: 0;
    position: absolute;
    font-size: 12px;
    line-height: 18px;
    color: #3845B3;
    right: 18px;
    cursor: pointer;
}
.mobile-add-status-project .bg-light-gray {
    padding: 30.5px 15px!important;
}
.statuInputwrapper.activeStatus input.addStatusInput.form-control {
    border: 0;
    height: 24px;
    padding-left: 0 !important;

}
img.info-mobile {
    display: none;
}
.text-toggle span {
    color: #3845B3 !important;
    margin-right: 2px !important;
}
.checkBox_Text .toggle-button.bg-white.toggle-button {
    width: 11px !important;
    height: 11px !important;
    top: 7px !important;
    left: 2px !important;
}
.checkBox_Text .toggle-button.bg-white.toggle-button-active
{
    left: 17px !important;
}
.statuInputwrapper {
    margin: 10px 0 0 0;
    position: relative;
}
.requiredviewListWrapper .requiredListItem:hover .text-toggle img.makeAsDefaultDotBlue {
    display: none;
}
.requiredviewListWrapper .requiredListItem .text-toggle img.makeAsDefaultDot {
    display: none;
}
.requiredviewListWrapper .requiredListItem .text-toggle:hover img.makeAsDefaultDot {
    display: inline-block;
}
.requiredviewListWrapper .requiredListItem .text-toggle .cursor-pointer:hover img.makeAsDefaultDot {
    display: none;
}
.requiredviewListWrapper .requiredListItem .text-toggle .cursor-pointer:hover img.makeAsDefaultDotBlue {
    display: inline-block;
}
.requiredviewListWrapper .requiredListItem .text-toggle img.makeAsDefaultDotBlue{
display: none;
}
.requiredviewListWrapper .requiredListItem:hover .text-toggle img {
    display: inline-block;
}
.requiredListItem{
    height: 50px !important;
}
button.refresh-btn{
    display: none;
}
ul.status_ul {
    margin-top: 10px !important;
}
.addStatusBtn {
    margin: 10px 0 20px 0;
}
.addProjectEnabale .cat.action:has( input[type=checkbox]:checked) h4.changesFont.enableapp-list-mobile {
    color: #3845B3 !important;
}
.taskStatusLeft ul.templated_name_ul li {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.taskStatusLeft ul.templated_name_ul li img.taskleftEditIcon,
.taskStatusLeft ul.templated_name_ul li img.taskleftdeleteIcon{
    display: none;
    margin-left: 15px;
}
.taskStatusLeft ul.templated_name_ul li:hover img.taskleftEditIcon,
.taskStatusLeft ul.templated_name_ul li:hover img.taskleftdeleteIcon{
    display: inline-block;
}
/* .cat.action:nth-last-of-type(2) {
    margin-bottom: 0;
} */
/* .cat.action:last-child {
    margin-bottom: 0;
} */
.create-project-cancelbtn{
    max-width: 77px;
    min-width: 77px;
}
.use-template-browsecategory:last-child {
    margin-top: 21px;
}
.upload-image-btn img.projecttasktypeform__image__after {
    width: 30px !important;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
}
.upload-image-btn {
    width: 30px !important;
    height: 30px;
    padding: 0px;
}
.project__profilepreview-img, .avatar__inital-box{
    width:20px; 
    height:20px;
}
.avatar__inital-box{
     line-height: 20px; 
     text-align: center !important;
}
.project__status-icon{
   width:12px;
   height: 12px;
}
.task__status-icon{
    width:10px;
    height: 10px;
}
.requiredListItem{
    padding: 14.5px 20px 14.5px 15px;
    height:auto !important;
    width: 48.047%;
}
.always__text-div{
    height: 15px;
    width: calc(100% + 2px);
    top: -12px; 
    left: -1px;
}
.save__closeimg-wrapper{
    right: 10px;
    top: 6px;
}
.upload-image-btn.up__btn{
    width: 32px;
}
.green__check{
    width: 15px; 
    height: 15px;
}
.cross__check{
    width: 12px; 
    height: 15px;
}
.add__task-type{
    width: 54.2%;
}
.save__delete-wrappper{
    right: 10px;
}
.templated_name_ul .templated_name{
    width: 150px;
}
.taskStatusSection.style-scroll{max-height: 307px;overflow: auto;}
@media(max-width: 1366px){
    .taskStatusSection.style-scroll{max-height: 307px;overflow: auto;}
    .requiredviewListWrapper {overflow: auto;max-height: 257px;padding-top: 12px;}
    .enable-app-data {max-height: 288px;overflow: auto;}

}
@media(max-width:767px){
    .addProjectEnabale .cat.action:nth-last-of-type(2){margin-bottom: 20px;}
    .labelDetail.leadMain {display: block;}
    .labelDetail.leadMain label{margin-bottom: 10px!important;}
    li.addIcon{margin-left: 0px!important;}
    .createProjectBlankUseTemplateWrapper .createprojectContent .form-group .input-field-group { width: 100%!important;}
    .jadePowerWorkspace, .shareGraphicPrivate{width: 48%!important;max-width: 48%!important;}
    ul.templated_name_ul::-webkit-scrollbar {width: 5px !important;}
    .Allgood h5 {line-height: 26px;}
    .project-detail-setup {padding-top: 5px;padding-bottom: 10px;margin-bottom: 0;}
    .createProjectBlankUseTemplateWrapper .createprojectContent .form-group .input-field-group {width: 100%!important;}
    .jadePowerWorkspace, .shareGraphicPrivate{width: 48%!important;max-width: 48%!important;}
    .addProjectEnabale .cat.action{width: 100% !important;padding: 13.5px 10px 13.5px 20px;}
    .addProjectEnabale .checkBox_Text p.turnOff {margin: 28px 0;font-size: 16px;line-height: 21px;}
    .addProjectEnabale .modalHeader.bg-light-gray.text-center.p-1 {background-color: #F4F5F7 !important;padding: 18.5px 15px 18.5px 15px !important;background: #f4f5f7 !important;   }
    .createProjectBlankUseTemplateWrapper .sidebar  .modalHeader.bg-light-gray.text-center{background-color: #F4F5F7 !important;background: #f4f5f7 !important;}
    .addProjectEnabale .cat.action:has( input[type=checkbox]:checked) {border: 1px solid #3845B3 !important;}
    .addProjectEnabale{padding-top: 5px;padding-bottom: 10px;}
    .addProjectEnabale .cat.action:last-child {margin-bottom: 0;}
    .addProjectEnabale{max-height: 430px;overflow: auto;}
    .addProjectEnabale::-webkit-scrollbar{display: none;}
    img.info-mobile {display: block !important;}
    img.info-desktop{display: none !important;}
    p.navigating{max-width: 100%;margin-bottom: 0px;margin-top: 30px;}
    .requiredviewListWrapper .requiredListItem {width: 100% !important;padding: 13.5px 20px !important;}
    .requiredviewListWrapper .requiredListItem span.changesFont {margin-left: 12px !important;}
    .requiredviewListWrapper .requiredListItem:last-child{margin-bottom: 0 !important;}
    .requiredviewListWrapper {margin-bottom: 0;}
    .requiredviewListWrapper .text-toggle img {margin-right: 15px !important;}
    .requiredviewListWrapper .text-toggle img.default_home_settingsImg {margin-right: 0px !important;}
    .mobile-project-taskstatus-section.task-detail-mobile .statusHeader h3.heading_text{padding: 18.5px 10px;background: #f4f5f7 !important;}
    .mobile-project-taskstatus-section.task-detail-mobile .bg-light-gray {padding: 0;}
    .conditional-btn-wrapper {margin-top: 20px !important}
    .createProjectWizardSlider{padding: 0 5px;}
    .mobile-project-taskstatus-section.task-detail-mobile {padding-top: 5px;margin-bottom: 10px !important;}
    .mobile-project-taskstatus-section.task-detail-mobile .statusTaskWrapper {justify-content: space-between;padding: 0px 0px 0px 0px;width: 100%;display: block !important;}
    .mobile-project-taskstatus-section.task-detail-mobile .taskStatusLeft {width: 100%;margin-bottom: 30px;}
    .mobile-project-taskstatus-section.task-detail-mobile .templated_name_ul {max-height: 120px;overflow: auto;scroll-behavior: smooth;}
    .mobile-project-taskstatus-section.task-detail-mobile ul.templated_name_ul li {margin-bottom: 0;}
    .mobile-project-taskstatus-section.task-detail-mobile .templated_name_ul::-webkit-scrollbar {width: 5px !important;background-color: #F8F8F8;}
    .taskStatusRight .addStatusBtn button {background: #303A94;border-radius: 8px;padding: 11.5px 42.72px;height: auto;width: auto !important;font-weight: 500 !important;font-size: 16px;line-height: 22px;color: #FFFFFF;}
    .mobile-project-taskstatus-section.task-detail-mobile ul.templated_name_ul::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #C1C1C1!important;}
    .mobile-project-taskstatus-section.task-detail-mobile .templated_name_ul::-webkit-scrollbar-thumb {border-radius: 8px;background-color: #2F3990;}
    ul.templated_name_ul {margin-bottom: 9px !important;}
    .mobile-project-taskstatus-section.task-detail-mobile .taskStatusLeft ul.templated_name_ul span.templated_name {display: block !important;padding: 7.5px 0 !important;}
    .mobile-project-taskstatus-section.task-detail-mobile label.templetes {display: block;padding-bottom: 0 !important;}
    .mobile-project-taskstatus-section.task-detail-mobile .taskStatusLeft .d-flex.justify-content-space-between {width: 100% !important;margin-bottom: 21px;}
    .mobile-project-taskstatus-section.task-detail-mobile .taskStatusRight {width: 100%;}
    .mobile-project-taskstatus-section.task-detail-mobile .taskStatusLeft .d-flex.justify-content-between {width: 100% !important;}
    .mobile-project-taskstatus-section.task-detail-mobile .templated_name {width: 90%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: #535358;font-size: 16px;line-height: 20.72px;}
    .mobile-project-taskstatus-section.task-detail-mobile .taskStatusLeft button.add_template { background-color: transparent;border: none;margin-top: 0px;font-weight: 400;font-size: 16px;line-height: 21px;color: #3845B3;}
    .mobile-project-taskstatus-section.task-detail-mobile .taskyou_need_right ul.status_ul li span.taskInnerData {font-weight: 400;font-size: 16px !important;line-height: 26px !important;display: flex;align-items: center;}
    .mobile-project-taskstatus-section.task-detail-mobile .taskyou_need_right ul li {padding: 4px 10px!important;}
    .mobile-project-taskstatus-section.task-detail-mobile { overflow: auto; max-height: 600px; margin-bottom: -10px;}
     .mobile-project-taskstatus-section.task-detail-mobile::-webkit-scrollbar {width: 2px;height: 2px;background: #F8F8F8;border-radius: 6px; display: none;}
     .mobile-project-taskstatus-section.task-detail-mobile::-webkit-scrollbar-thumb { background: #2F3990;border-radius: 6px;display: none;}
   .upload-image-btn {padding: 9px 13px!important;margin-right: 10px;}
     .mobile-project-taskstatus-section.task-detail-mobile .addStatusInput {font-size: 16px;line-height: 26px;display: flex;align-items: center;}
     .mobile-project-taskstatus-section.task-detail-mobile .addStatusBtn.searchValue input {padding-left: 10px;width: 78% !important;margin-right: 10px;padding-top: 6px;padding-bottom: 6px;height: auto !important;color: #535358 !important;}
     input.add_new_temp {border: 1px solid #DFE1E6;height: auto !important;border-radius: 3px;width: 100%;padding: 8px;font-weight: 400;font-size: 16px;line-height: 22px;margin-top: 10px;color: #535358;padding-left: 12px !important;border-radius: 5px;}
    .mobile-project-taskstatus-section.task-detail-mobile .addStatusInput::placeholder{font-size: 14px !important;color: #535358 !important;line-height: 21px !important;}
    .mobile-project-taskstatus-section.task-detail-mobile .addStatusInput{width: 90% !important;padding: 8px 10px !important;height: auto !important;color: #535358 !important;font-size: 16px !important;line-height: 22px !important;margin-right: 10px;}
    .mobile-project-taskstatus-section.task-detail-mobile h3.text-capitalize.task-done-status {margin-top: 10px;}
    .mobile-project-taskstatus-section.task-detail-mobile h3.text-capitalize.task-close-status {margin-top: 30px;}
    span.style_changes_value,
    .status_new_right ul.status_ul li span.taskInnerData, .closeStatus .style_changes_value{font-size: 16px !important;line-height: 26px !important;}
    .activeStatus ul.status_ul li{padding-top: 4px !important;padding-bottom: 4px !important;}
    span.taskInnerData .d-flex.align-items-center {font-size: 16px !important;line-height: 26px !important;}
    ul.status_ul li {padding-top: 4px !important;padding-bottom: 4px !important;}
    .taskStatusRight .addstatus-btn {background: #303A94;border-radius: 8px;font-weight: 500;font-size: 16px;line-height: 22px;color: #FFFFFF;padding: 11.5px 36.91px;height: auto;width: auto !important;}
    .taskStatusRight ul.status_ul li {height: 40px;}
    .activeStatus ul.status_ul li input[type="color"]{width: 16px!important;min-width: 16px !important;height: 16px!important;border-radius: 4px!important;}
    .activeStatus ul.status_ul li input[type="color"]::-webkit-color-swatch-wrapper {border-radius: 4px !important;}
    input[type="color"]::-webkit-color-swatch {border-radius: 4px !important;}
    input[type="color"]::-moz-color-swatch {border-radius: 4px !important;}
    input[type="color"]{width: 16px !important;height: 16px !important;min-width: 16px !important;}
    .taskStatusLeft ul.templated_name_ul li {width: 98%;align-items: center;}
    .taskStatusLeft ul.templated_name_ul li{margin-bottom: 0px;font-size: 16px;}
    .taskStatusLeft ul.templated_name_ul span.templated_name {display: block !important;padding: 7.5px 0 !important;}
    .enable-app-data {max-height: 330px;overflow: auto;}
    .requiredviewListWrapper {overflow: auto;max-height: 200px;padding-top: 40px;}
    .requiredviewListWrapper::-webkit-scrollbar ,.enable-app-data::-webkit-scrollbar{display: none;}
    .edit-rightinput{top: 21px !important;}
    .createProjectBlankUseTemplateWrapper .default-status-squer, .taskdetail-icon-image{width: 12px !important;height: 12px !important;border-radius: 2px !important;}
    .createProjectBlankUseTemplateWrapper li.setImagevalue img {width: 14px;height: 14px;}
    .taskStatusLeft,.taskStatusRight{max-width: 100%!important;width: 100%!important;}
    .template-right-side .setting_templateDetail_wrapper .templateName_detail p {margin-bottom: 20px !important;font-weight: 400;font-size: 14px;line-height: 22px;color: #818181;}
    .closeStatus {padding: 4px 10px 4px 23px!important;height: 40px;}
    .mobile-add-status-project .bg-light-gray {padding: 32.5px 15px!important;}
    .createProjectWizardSlider button.add_template{font-size: 16px;line-height: 21px;}
    .use-template-browsecategory:last-child {margin-top: 0;}
    .closeStatus input.statusInputText.form-control.edit-input {font-size: 16px !important;margin: 0;position: relative;top: -1px;}
    .statuInputwrapper.activeStatus input.addStatusInput.form-control {font-size: 16px !important;padding: 0 !important; }
    .requiredListItem, .cat.action{height: 55px !important;}
    .Allgood ul{padding: 0;}
    .taskStatusSection.style-scroll {max-height: 340px;}
    .taskStatusSection.style-scroll::-webkit-scrollbar{display: none;}
    .task_statusLeft-mobile .taskStatusLeft {margin-bottom: 20px;}
   
}
@media(max-width:480px){
    .shareHrDesignWokspacePrivateWrapper,.statusTaskWrapper{flex-wrap: wrap;}
    .jadePowerWorkspace{margin-bottom: 20px;}
    .jadePowerWorkspace, .shareGraphicPrivate{max-width: 100%!important;width: 100%!important;}
    .cat.action {width: 100%;}
    .requiredviewListWrapper .requiredListItem {width: 100%!important;}
    .mobile-project-taskstatus-section.task-detail-mobile .addStatusBtn.searchValue input {width: 65% !important;margin-right: 0;}
}
@media(max-width:414px){
.create-project-cancelbtn{width: 55px;min-width: 55px;font-size: 14px !important;padding: 3px !important;}
.templateNameProject{font-size: 16px !important;}
}
@media(max-width:375px){
    .Allgood h5 {line-height: 16px;font-size: 14px !important; width: 40%;}
    .allgoodprojectvalue, .allgoodproject {padding: 0 10px;height: 49px;}
}
