* {
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}

.time_tracking_wapper,
.time_tracking_main {
    width: 100%;
    height: 100%;
}
.time_tracking_main
{
    background-image: url('@/assets/images/Group_40061.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.timetracking-head {
    margin-top: 40px;
}
.h1-head{
    width: 774px;
    margin: 0 auto;
    max-width: 100%;
}
.timetracking-head h1 {
    color: #3845B3;
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 46.8px;
    flex-direction: column;
    display: flex;
    margin: 0;
}
.p-head{
    width: 832px;
    max-width: 100%;
    margin: 0 auto;
}
.timetracking-head p {
    color: #535358;
    text-align: center;
    font-size: 20px;
    font-family: Roboto;
    line-height: 35.2px;
    display: flex;
    flex-direction: column;
}

.time_tracking_wapper .download-links-wappermain {
    gap: 40px;
    padding-top: 20px;
}

.time_tracking_wapper .download-links-wapper {
    text-align: center;
    padding: 10px 30px 10.61px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 160px;
    background: #FFF;
}
.time_tracking_wapper .download-links-wapper.cursor-pointer.download-links-wapper.cursor-pointer.active{
    background: #EAEDFF;
}
.time_tracking_wapper .download-links-wapper:hover {
    background: #EAEDFF;
    border: 1px solid #2F3990
}
.time_tracking_wapper .download-links-img{
    padding:10px 10px 13px 10px;
}
.time_tracking_wapper .download-lable-wapper{
    padding-top: 40px;
}
.time_tracking_wapper .download-links-lable {
    max-width: 452px;
    width: 100%;
    border-radius: 10px;
    background: #27C26C;
    padding: 5px 0px 5px 10px ;
}
.time_tracking_wapper .download-links-msg{
    width : calc(100% - 40px);
    text-align: left;
    padding: 5px 9px;
    line-height: 30px;
}
.time_tracking_wapper .download-links-lable span {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 28.6px;
}

.time_tracking_wapper .download-links-lable p {
    color: #EAFAF1;
    text-align: center;
    font-size: 17px;
    line-height: 0.8px;
    margin-bottom: 0;
}
.time_tracking_wapper .download-links-lable:hover{
    background:#26AB61;
    box-shadow: 8px 8px 27px 0px #26AB61;
}

.time_tracking_wapper .download-links-wapper .ostype{
    text-align: center;
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.6px;
}

.time_tracking_wapper .download-links-wapper .osversion{
color:#818181;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20.8px;
display: inline-block;
padding-top: 7px;
}
.download__icon-wrapper{
    width: 40px;
}
@media (max-width:1560px) {
    .time_tracking_main{
        background-image: none;
    }
}
@media (max-width:1024px) {
    .timetracking-head {
        margin-top: 20px;
    }
    .timetracking-head h1 {
        width: 550px;
        font-size: 25px;
        line-height: 35.8px;
    }
    .timetracking-head p{
        margin-top: 10px;
        line-height: 26px;
        font-size: 18px;
        margin-bottom: 10px
    }
    .time_tracking_wapper .download-links-wappermain {
        gap: 40px;
        padding-top: 15px;
    }
    .time_tracking_wapper .download-lable-wapper {
        padding-top: 20px;
    }
    .time_tracking_wapper .download-links-wapper .osversion {
        font-size: 14px;
        line-height: 16.8px;
    }
    .time_tracking_wapper .download-links-wapper .ostype {
        font-size: 18px;
        line-height: 25.6px;
    }
}

@media(max-width:767px){
    .time_tracking_main{
        background-image: none;
    }
    .time_tracking_wapper .download-links-lable {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width:575px) {
    .time_tracking_wapper .download-links-wappermain {
            gap: 10px;
    }
    .time_tracking_wapper .download-lable-wapper, .timetracking-head{
        padding-right: 15px;
        padding-left: 15px;
    }
    .time_tracking_wapper .download-links-lable img{
        width: 50px;
        height: 75px;
    }
    .time_tracking_wapper .download-links-lable span{
        font-size: 17px !important;
    }
    .time_tracking_wapper .download-links-lable p {
        font-size: 16px !important;
    }
    .time_tracking_wapper .download-links-wapper{
        display: block;
        margin: 0 auto;
        margin-top: 17px;   
    }
}
@media (max-width:480px) {
    .time_tracking_wapper.download-links-lable{
     height: auto;
     align-items: center;   
    }
    .time_tracking_wapper .download-links-lable span{
        font-size: 14px !important;
        line-height: 20px;
    }
    .time_tracking_wapper .download-links-lable p {
        font-size: 12px !important;
        line-height: 15px;
    }
    .time_tracking_wapper .timetracking-head h1 {
        font-size: 18px;
        line-height: 25px !important;
    }
    .timetracking-head p{
        width: 600px;
        font-size: 16px;
        line-height: 25px;
    }
    .time_tracking_wapper .download-links-wappermain{
        padding: 0px !important;
        display: block !important;
    }
    .time_tracking_wapper .banner{
    background-size: 570px;
    }
}

@media(max-width:375px){
    .time_tracking_wapper .download-links-msg{
        padding: 2px;
    }
}