.task_detail_navbar {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    color: #818181;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 215px;
    /* background: #DFE1E6; */
    border-radius: 29px;
    padding: 0px 10px;
    line-height: 30px;
}
/* .task_detail_navbar:hover {
    background: #DBF1FF;
} */

.task_detail_navbar_img {
    padding: 0px 10px;
}
.task_detail_navbar_value{
    padding: 0px 10px;
}
.task_detail_navbar_folder_img{
    padding-right: 8px;
}

.task_detail_navbar_ul {
    padding:0px 0px 0px 0px;
    display: -webkit-box;
    border-bottom: none;
    margin: 0px;
    -webkit-box-align: center;
}

.task_detail_navbar_ul li {
    list-style: none;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

@media(max-width: 767px){
    .task_detail_navbar_ul{
        display: none;
    }
}