.dp__preset_range:active{
    background-color: #e5e5e5 !important;
}
.WrapperPresetRange .isActive {
    background-color: #2f3990;
    color: #fff;
}   
.WrapperPresetRange {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.WrapperPresetRange li {
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif !important;
    padding: 5px;
    width: 90%;
    border-radius: 0;
    height: auto;
}
.dp__sidebar_left{
    width: 100% !important;
}
.btn{
    margin-left: 5px;
    padding: 4px 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn.btn-success{
    background-color: #28a745;
    color: #fff;
}
.btn.btn-cansal{
    background-color: #6c757d;
    color: #fff;
}
.dp__action_row{
    border-top: 1px solid #ddd;
}
.dp__menu_transitioned {
    transition: none !important;
}
body:has(.calender-menu-class-duedate):after {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #ffffff00;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}
.calendar-comp {
    background-image: url('@/assets/images/svg/date_icon.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    width: 100%;
    padding-left: 30px;
    border: none!important;
    background-color: transparent;
    outline: none;
    background-position: 0% 100%;
    padding-right: 0 !important;
}
.calendar-comp-white {
    background-image: url('@/assets/images/svg/white-icon-cal.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #DFE1E6;
    padding-left: 35px;
    background-size: 24% 100%;
    width: 100%;
}
.calender-menu-class-range-picker {
    min-width: 380px;
}
.dp__cell_inner.dp__pointer.dp__range_between, 
.dp__calendar_header_item {
    border-color: transparent;
    color: #000;
    border-radius: 0;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    min-width: 28px;
    height: 29px;
    line-height: 24px;
    font-size: 12px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 2px;
    font-family: 'Roboto';
}
.dp__calendar_item {
    margin: 0px;
}
.dp__calendar_row {
    margin: 0px 0;
}
.dp__today {
    border: 0;
    background: #ebf4f8;
    font-weight: 700;
}
.dp__action_row {
    border-top: 1px solid #DFE1E6;
    padding: 8px 10px;
}
.dp__cell_inner.dp__cell_disabled {
    pointer-events: none;
    background-color: #eee;
    opacity: .6;
}
.dp__cell_inner.dp__cell_offset.dp__cell_disabled {
    background: transparent;
}
.dp__sidebar_left{
    border-right: 1px solid #DFE1E6;

}
.dp__action_buttons .btn {
    margin: 0 0 0 10px;
}
.dp__cell_inner.dp__pointer.dp__range_between, 
.dp__cell_inner.dp__cell_disabled.dp__range_between {
    background-color: #ebf4f8;
    border-color: transparent;
}
.dp__cell_inner.dp__cell_offset.dp__cell_disabled, 
.dp__cell_inner.dp__cell_disabled , 
.dp__cell_inner.dp__cell_disabled.dp__range_between{
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through;
    min-width: 32px;
    height: 29px;
    line-height: 24px;
    font-size: 12px;
    padding: 2px;
    font-family: 'Roboto';
}
.dp__cell_inner.dp__pointer.dp__range_start {
    background-color: #2f3990;
    font-size: 12px;
    line-height: 24px;
    height: 29px;
    font-family: 'Roboto';
}
.dp__month_year_wrap button.dp__btn.dp__month_year_select {
    padding: 2px !important;
    font-size: 14px;
    color: #000;
    font-family: 'Roboto';
}
.dp__cell_inner.dp__pointer,
.dp__cell_inner.dp__cell_disabled.dp__range_end,
.dp__overlay_cell.dp__overlay_cell_pad {
    line-height: 24px;
    height: 29px;
    font-size: 12px;
    padding: 2px;
    font-family: 'Roboto';
}
.dp__cell_inner.dp__cell_disabled.dp__range_end,
.dp__overlay_cell_active,
.dp__cell_inner.dp__pointer.dp__range_end{
    background-color: #2f3990;
    font-size: 12px;
    padding: 2px;
    font-family: 'Roboto';
}
.dp__calendar_header_separator {
    display: none;
}

.dp__cell_inner.dp__cell_offset.dp__pointer {
    color: #999;
}
.dp__month_year_select:hover, .dp__inner_nav:hover, .dp__overlay_cell:hover{
    background: transparent !important;
}
.dp__inner_nav svg path {
    fill: #000 !important;
}
.dp__calendar_item {
    min-width: 32px;
    border-radius: 50% !important;
    font-size: 14px;
    color: #000;
    font-family: 'Roboto';
    font-weight: 500;
}
.dp__calendar_item .dp__cell_inner {
    width: 32px;
    height: 32px;
    line-height: 28px;
    border-radius: 50%;
}
span.vc-day-content.vc-focusable.is-disabled {
    cursor: not-allowed;
    pointer-events: none!important;
}
.dp__cell_inner.dp__cell_disabled{
    color: #cbd5e0;
}

.dp__cell_inner.dp__pointer.dp__date_hover:hover {
    background-color: rgba(204,214,224,.3);
}
.dp__calendar_header_separator {
    display: none;
}
.dp__calendar_header_item {
    color: #a0aec0;
}
.dp__month_year_select:hover{
    background: transparent !important;
}
button.dp__btn.dp__month_year_select {
    padding: 0 !important;
    font-size: 18px;
    font-family: 'Roboto';
    color: #000;
}
.dp__overlay_cell.dp__overlay_cell_pad {
    padding: 5px !important;
    background: transparent;
}
.dp__cell_inner.dp__pointer.dp__today.dp__active_date{
    background: #2F3990;
    border: 0;
}
.dp__overlay_col {
    font-family: 'Roboto';
    font-size: 14px;
}
.vue__time-picker .dropdown ul li{
    font-size: 14px;
    font-family: 'Roboto';
    color: #000;
}
.tracker-timesheet-calender .calendar-comp::placeholder{
    font-size: 16px!important;
    color: #000!important;
    position: relative;
    top: 1px;
}
.logdetailview-calender .calendar-comp::placeholder{
    font-size: 16px!important;
    color: #000!important;
    position: relative;
    top: 2px;
}
.due-date-home-calender-wrapper .due-date-home-cal .calendar-comp::placeholder{
    font-size: 16px!important;
    color: #000!important;
    position: relative;
    top: 1px;
}
.due-date-home-calender-wrapper .due-date-home-cal .calendar-comp{
    position: relative;
    top: 1px;
    background-position: 0% 98%;
}
.logdetailview-calender .calendar-comp{
    position: relative;
    top: 1px;
    background-position: 0% 98%;
}
.dp__arrow_bottom{display: none;}
@media(max-width:  767px){
    .task-detail-right-side-label .calendar-comp {background-position: calc(100% - 130px);text-align: right;font-size: 16px;padding-right: 0 !important;padding-left: 0 !important;}
    .task-detail-right-side-label .calendar-comp::placeholder, .task-detail-right-side-label input#inputId::placeholder{color: #000 !important;font-size: 16px !important;}
}