.Notification_main .white-box {
    border: 1px solid #ececec;
    border-radius: 10px;
}
.header_col_blank {
    width: 70%;
}
.header_col {
    width: 10%;
    padding: 10px 0px;
    font-weight: 500;
}
.td {
    display: flex;
    align-items: center;
}
.dropdownvalues {
    width: 70%;
}
.section2,.section3,.section4 {
    width: 10%;
}
.th {
    background-color: rgba(223, 225, 230, 1);
    display: flex;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #CFCFCF;
}
.Notification_main.p-1 {
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    margin: 20px;
}
.tbody .tr {padding: 20px 0px;border-bottom: 1px solid #ececec;}
h4.sectionName.Notification_header {
    margin: 0;
    padding: 15px 0px 0px 0px;
}
.section1-title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.68px;
    max-width: 235px;
    /* width: 100%; */
}
.dropdownvalue {
    max-width: 150px;
    width: 100%;
    /* margin: 0px 10px; */
}
.td .dropdownvalue:first-child {
    margin: 0px 82px;
}
.dropdownvalues .dropdownvalue:first-child {
    margin: 0px 82px;
}
.d-flex.dropdownvalues .dropdownvalue {
    margin-left: 82px;
}
.d-flex.dropdownvalues .dropdownvalue:last-child {
    margin-left: 15px;
}
.tbody {
    padding: 0px 20px;
}

@media(max-width:991px){
    .advancePermissionContent{
        overflow: auto;
    }
    .Permissions-table{
        width: 991px;
    }
    .Notification_main.p-1 {
        margin: 10px;
    }
}
/* * {
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}
.Notification_main .white-box{
    box-shadow: 0px 2px 12px rgb(0 0 0 / 15%);
    border-radius: 6px;
    padding: 20px;
    background-color: #fff;
}


.Notification_main{
    overflow: auto;
    max-height: calc(100dvh - 105px);
    background-color: #F4F5F7;
    font-family: 'Roboto';
}

.Notification_main::-webkit-scrollbar {
    display: none;
}

.Notification_main::-webkit-scrollbar-thumb {
    display: none;
  }

.Notification_main .th{ 
    display: flex;
    width: 100%;
    background: #DFE1E6;
    border: 1px solid #CFCFCF;
    border-radius: 4px 4px 0px 0px;
    height: 44px;
    align-items: center;
    color: black;
    font-weight: bold;
}

.Notification_main.tbody .td {
    display: flex;
}

.Notification_main .thead{
    top: 0;
    z-index: 5;
}

.Notification_main .thead .tr {
    border-bottom: 0;
}

.Notification_main .tr .td {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    color: black; 
    height: 53px;
    border-bottom: 1px solid #dce0e4;
}



.Notification_main .tr  .td .section1{
    max-width: 1119px;
    width: 100%;
    padding-left: 0;
}

.Notification_main .tr  .td .section2 {
    min-width: 130px;
}

.Notification_main .dropdownvalue{
    width: 187px;
    margin-left: 20px;
}

.Notification_main .tr .td .section3 {
    min-width: 165px;
}

.Notification_main .allProjectDropDownWrapper{
    display: flex;
}

.Notification_main .tr .td .section4 {
    min-width: 94px;
}

.Notification_main .tr .select{
    background: transparent;
    padding: 4px 10px;
    border: 1px solid #dce0e4;
    border-radius: 3px;
    outline: 0;
    width: 100%;
    text-overflow: "";
    text-indent: 0.01px;
    text-overflow: "";
    border-radius: 0.25rempx;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #818181;
}

.Notification_main .Permissions-table{
    width: 100%;
    max-width: 1560px;
    max-height: 743px;
    border: 1px solid #CFCFCF;
    border-radius: 6px;
}
.Notification_main .section1-title{
    width: 350px;
}
.section1-title span{
    color: #535358;
}
.Notification_main .text-ellipsis {
    color: #818181;
}
.Notification_main .dropdownvalues{
    max-width: 1190px;
    width: 100%;
}
.Notification_main .tbody div .tr:last-child .td:last-child {
    border-bottom: 0px;
}
.Notification_main .Permissions-table .tbody .sectionName{
    margin-left: 20px;
}
.Notification_main .section-name{
    height: 55px;
    border-bottom: 1px solid #ececec;
}
.Notification_main .Notification_header{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.6px;
}
.Notification_main .blank_wrapper1{
    width: 154px;
}
.Notification_main .blank_wrapper2{
width:1300px
}
.Notification_main .header_col__email{
    min-width: 130px;
}
.Notification_main .header_col__browser{
    min-width:165px;
}
.Notification_main .header_col__mobile{
    width: 160px;
}
.assign__selection-component{
    width: 187px !important;
}
@media(max-width:1740px){
    .Notification_main .section1-title,.Notification_main .blank_wrapper1{
        min-width: 350px;
    }
     .Notification_main .section1-title span{
        width: 90%;
    }
}
@media (max-width: 1600px){
    .Notification_main .Permissions-table  .section1-title {
        position: sticky;
        z-index: 1;
        background-color: white;
        left: 28px;
        height: 52px;
        display: flex;
        align-items: center;
        border-right: 1px solid #CFCFCF;
    }
    .Notification_main .Permissions-table .section1-title:after {
        content: '';
        position: absolute;
        height: 52px;
        width: 28px;
        left: -28px;
        top: 0;
        background-color: white;
    }
    .Notification_main .Permissions-table .tbody .sectionName {
        position: sticky;
        z-index: 1;
        left: 0;
        width: max-content;
        width: auto;
        height: 38px;
        border-bottom: 1px solid #dce0e4;
        width: fit-content;
        left: 24px;
    }
    .Notification_main .tbody{
        width: 1250px;
    }
    .Notification_main .th {
        width: 1250px;
    }
    .Notification_main .tr .td {
        width: 1200px;

    }
    .Notification_main .tr .td .section1 {
        max-width: 850px;
        width: 100%;
    }
    .Notification_main .tr .td .section2 {
        min-width: 130px;
    }
    .Notification_main .tr .td .section3 {
       min-width: 165px;
    }
    .Notification_main .tr .td .section4 {
        min-width: 54px;
    }
}
@media(max-width:991px){
    .Notification_main .blank_wrapper1{
        position: sticky;
        z-index: 5;
        background-color:#dfe1e6;
        left: 28px;
        height: 41px;
        display: flex;
        align-items: center;
        padding-left: 28px;
        width: 360px  !important;
        border-right: 1px solid #CFCFCF;
        margin-left: 33px !important;
    }
    .Notification_main .tr .td .section2 {
        min-width: 130px;
    }
    .Notification_main .tr .td .section3 {
        min-width: 165px;
    }
    .Notification_main .tr .td .section4 {
        min-width: 36px;
    }
    .Notification_main .tr .td{
        margin-left: 0px;
    }
    .Notification_main .Permissions-table .section1-title{
        left: 0;
        padding-left: 28px;
    }
}
@media(max-width: 765px) {
    .setting-section-right:has(.Notification_main) {
        width: 100%;
    }
    .Notification_main .tr .td .section4{
        min-width: 45px;
    }
    .Notification_main .Permissions-table .section1-title {
        left: 15px;
    }
    .Notification_main .Permissions-table  .section1-title {
        position: relative !important;
        border-right: none !important;
       
    }
    .Notification_main .Permissions-table .tbody .sectionName {
        position: relative !important;
    }
    .Notification_main .blank_wrapper1{
        position: relative !important;
        border-right: none !important;
    }
}
 */
