
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* FONT */
.font-weight-bold {
    font-weight: bold;
}
.font-weight-normal {
    font-weight: normal;
}
.font-weight-light {
    font-weight: lighter;
}
.font-italic {
    font-style: italic;
}
.font-normal {
    font-style: normal;
}
.font-weight-400 {
    font-weight: 400!important;
}
.font-weight-500 {
    font-weight: 500!important;
}
.font-weight-600 {
    font-weight: 600!important;
}
.font-weight-700 {
    font-weight: 700!important;
}
.font-roboto-sans {
    font-family: 'Roboto', sans-serif;
}
.font-size-10 {
    font-size: 10px;
}
.font-size-11 {
    font-size: 11px;
}
.font-size-12 {
    font-size: 12px;
}
.font-size-13 {
    font-size: 13px;
}
.font-size-14 {
    font-size: 14px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-18 {
    font-size: 18px !important;
}
.font-size-20 {
    font-size: 20px !important;
}
.font-size-22 {
    font-size: 22px;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-26 {
    font-size: 26px;
}
.font-size-36 {
    font-size: 36px;
}
.assignee-userlist{
    font-size: 13px;
    font-weight: 500;
}
.assignee-headtitle{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.taskstatustitle-desktop{
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    color: #3A3A3A !important;
}
.task-heading-desktop{
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    color: #3A3A3A !important;
    text-align: center !important;
}
.enableapp-list-desktop{
    color: #959595 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 30px !important;
}
.taskInnerData-desktop{
    font-size: 13px !important;
    line-height: 19px !important;
    font-weight: 400 !important;
}
.enable-cataction-mobile {
    border: 1.5px solid #CFCFCF !important;
}
.p-navigating-desktop{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #535358;
}
.template-label-desktop{
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color: #959595 !important;
}
.Workspace-desktop-text{
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    color: #818181;
    text-align: center;
}
.privatespace-desc-desktop{
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}
@media(max-width: 767px){
    .mobile-label-font{font-size: 16px !important;line-height: 21px !important;letter-spacing: 0.02em !important;color: #3A3A3A !important;} 
    .taskstatustitle-mobile{ font-size: 16px !important;line-height: 21px !important;font-weight: 500 !important;color: #3A3A3A !important;}
    .enableapp-list-mobile{ font-size: 16px !important;line-height: 26px !important; color: #959595 !important; font-weight: 400 !important;}
    .task-heading-mobile{color: #2F3990 !important;text-align: center !important;}
    .templated-name-mobile {font-size: 16px !important;line-height: 21px !important;}
    .template-label-mobile{font-size: 16px !important;line-height: 21px !important;color: #959595 !important;}
    .task-heading-mobile{color: #2F3990 !important;}
    .enable-cataction-mobile{border: 1px solid #D9D9D9 !important;}
    .p-navigating-mobile{font-style: italic;font-size: 16px;line-height: 26px;text-align: center;color: #535358;}
    .assignee-userlist {font-weight: 400;font-size: 16px;line-height: 21px;color: #535358 !important;}
    .Workspace-text-mobile{font-weight: 400;font-size: 16px;line-height: 21px;color: #818181;}
    .privatespace-desc-mobile{font-size: 16px;line-height: 26px;}
}