.spinner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px; /* adjust to the size of your logo */
  height: 160px; /* adjust to the size of your logo */
  position: relative;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #2F399035;
  border-top-color: #2F3990;
  animation: spinner 1s ease-in-out infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}