
.timelogtracker{
    border: 1px solid #DFE1E6;
    padding: 5.5px 20px;
    background-color: #DFE1E6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 98px;
    z-index: 111;
}
.timelogText{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-left: 10px;
}
.imageUser{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.timelogTotal{
    padding: 0px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.timelogHours{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.mainTableDiv .time-logtable tbody tr {
    border: 1px solid #DFE1E6;
}
.mainDetail{
    border: 1px solid #DFE1E6;
    border-top: 0;
    padding: 0px 0px 20px;
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.startEndHours{
    font-size: 18px;
}
.totalHours{
    font-size: 18px;
}
.commentTimelog{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}
.commentDetail{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding-top: 5px;
    width: 50%;
}
.timelogtimeDetail{
    padding: 21px 20px 0;
    top: 141px;
    z-index: 1111;
}
.timelog_main .timelogtimeDetail{top: 0;} 
.cooment_titledesc-wrapper {
    top: 184px;
    z-index: 11111;
    padding: 18px 20px 22px;
}
.commentMain{
    padding-top: 0;
}
.commentMain::-webkit-scrollbar{
    display: none;
}

.mainImageDiv{
    gap: 20px;
}
.timelogImage .innerImageTimelog{
    width: 100%;
}

.timecheckbox {
    padding-top: 10px;
    padding-bottom: 2px;
}
.timecheckbox input[type="checkbox"] {
    width: 15px !important;
    height: 15px !important;
    border: 1px solid #DFE1E6 !important;
    margin: 0 0 0 0;
    min-width: 15px;
    position: relative;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0;
    vertical-align: text-top;
    -webkit-appearance: none;
    top: 2px;
}
.timecheckbox input[type="checkbox"]:checked {
    background-color: #2F3990 !important;
    border: 1px solid #2F3990 !important;
}
.timecheckbox input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 51%;
    top: 47%;
    width: 4px;
    height: 9px;
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
}
.logDetail-head{
    border-radius: 12px 12px 0px 0px;
}
.timesheet_sidebar-screen .cooment_titledesc-wrapper.bg-white {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}
.timesheet__profile-user{
    min-width:30px !important;
}
.norecords__wrapper{
    width: 200px !important;
}
@media(max-width: 991px){
    .timelogImage{max-width: 25%;flex: 0 0 25%;}
    .mainTimeTrackerDetail {margin-top: 0px;}
    .timelogtracker{top: 132px;}
    .timelogtimeDetail {top: 175px;}
    .cooment_titledesc-wrapper { top: 218px;}
    .timelog_main .timelogtracker{top: 0;} 
}
@media(max-width: 767px){
    .timelogtracker {top: 93px;}
    .timelogtimeDetail {top: 136px;}
    .cooment_titledesc-wrapper { top: 179px;}
}
@media(max-width: 600px){
    .timelogtracker {top: 132px;}
    .timelogtimeDetail {top: 173px;}
    .cooment_titledesc-wrapper { top: 216px;}
}
@media(max-width: 576px){
    .timelogImage{max-width: 28%;flex: 0 0 28%;}
}
@media(max-width: 414px){
    .startEndHours, .totalHours{font-size: 14px;}
    .active_inactivedot{padding: 0 10px !important;}
    .timelogTotal {padding: 0px 5px;}
    .timelogHours { font-size: 16px;}
    .timelogText {width: 75%;}
    .timeLogWrapper .user-list-top button {max-width: 80px;min-width: 80px;}
    .mainDetail {padding: 0px 15px 20px;}
    .timelogtracker {padding: 5.5px 15px;}
    .timelogImage{max-width: 40%;flex: 0 0 40%;}
    .timesheet_sidebar-screen .timelogtimeDetail {padding-left: 0;padding-right: 0;}
    .timesheet_sidebar-screen .cooment_titledesc-wrapper.bg-white{padding: 0 !important;}
    .timesheet_sidebar-screen .mainImageDiv {margin: 0;}
}
@media(max-width: 375px){
    .timelogText {width: 65%;}
}