.task-status-sidebar .sidebar-content .sidebar-head {
    height: 46px !important;
}

.task-status-name {
    border-radius: 7px;
    border-width: 2px;
    font-size: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    padding: 0px 10.157px 0px 10.156px;
    cursor: pointer;
}
@media(max-width: 767px){
.task-detail-right-side-label .task-status-name {
    min-width: 155px !important;
    height: 38px !important;
    width:auto;
    padding: 0px 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
}
