/* .drop-down-item {
} */
.project-mobile-desc {
    color: #818181;
    font-size: 12px;
}
.w-15px{
    width: 15px;
}
.project-mobile-desc img {
    max-width: 15px;
}

@media (max-width: 765px) {
    .drop-down-item {
        padding: 10px !important;
        margin-bottom: 10px !important;
        font-size: 16px;
        line-height: 30px;
        color: #4B4B4B !important;
        background: #F4F5F7 !important;
        border-radius: 12px !important;
    }
   .drop-down-item.mobile-delete-status{
        color: #FF0000 !important;
    }

    .drop-down-item .drop-down-options-image {
        background-color: white !important;
        border-radius: 5px !important;
    }
    .project-list-mobiletitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        text-transform: capitalize;
    }
    .project-mobile-desc{
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #4B4B4B;
        text-transform: capitalize;
        padding: 3.5px 10px !important;
    }
    .mobile-deleteIcon{
        color: #ff0000 !important;
    }
    .project-item {
        margin-right: 5px;
    }
}