.img-round-user-avatar{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
}
.projectPeopleMain tr {
    border-bottom: 1px solid #dfe1e6 !important;
}
.projectPeopleMain td {
    padding: 5px 20px!important;
}
.nametable img {
    margin-right: 5px;
}
.projectPeopleMain span.no-img-span {
    height: 30px;
    width: 30px;
    background-color: #2F3990;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 10px;
    color: #fff;
}
img.arrowIcon {
    position: relative;
    margin-left: 10px !important;
    width: 8.95px;
    height: 5px;
}
.nametable .employeename{
    width:max-content;
}

.memebertableClass .lastactive_status{
    width:max-content;
    display:block;
}

.memebertableClass .span_owner {
    display: inline-flex;
    padding: 0.9px 9.43px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #3845B3;
    background: #FFF;
    color: #3845B3;
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
}
.members-remove-dropdown{
    max-width:145px;
}
.members-remove-dropdown .search-project-filter {
    min-width:125px  !important;
}
.span_owner-role{
  line-height: 19.24px;
}