
.my-settings-main {
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 15%);
    border-radius: 5px;
    padding: 30px;
}

.my-settings-main .flex-row {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.col-md-2 .settingprofile {
    width: 10.6%;
}

.userimg {
    font-size: 14px;
    font-weight: 500;
    display: block;
    width: 120px;
    height: 120px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    max-width: 121px;
    object-position: center center;
    object-fit: cover;
    /* border: 2px solid #102A83; */
}

.fileinput {
    display: none;
    max-width: 180px;
    height: 180px;
    width: 100%;
}

.col-md-10 .settingprofileform {
    width: 89.4%;
    padding-left: 15px;
}

.settingprofileform .profileform .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

img.dropdown-arrow {
    position: absolute;
    left: 95%;
    right: 5.49%;
    top: 27%;
    bottom: 15.87%;
    height: 6px;
}

.settingprofileform .profileform .col-md-6 {
    flex-basis: auto;
    max-width: 100%;
    width: 47%;
    padding: 0px;
}

.inputfield {
    padding-bottom: 19px;
    width: 100%;
}

.inputfield label {
    display: block;
    margin-bottom: 12px;
}

.profileform label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.invalid-feedback {
    color: #ff0000;
    font-size: 12px;
}

.inputfield .logininput {
    border: 1px solid #DFE1E6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #818181;
    max-width: 465px;
    width: 278px;
    padding: 0px 10px;
    border-radius: 0.25rem;
}

.inputfield input {
    border: 1px solid #DFE1E6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #818181;
    max-width: 465px;
    width: 100%;
    padding: 0px 10px;
    border-radius: 0.25rem;
    height: 30px;
}

.inputfield .radio_wrapper .d-flex {
    padding: 16px 0 15px;
    display: flex;
}

.radio_wrapper .radio:first-child {
    margin-bottom: 2px;
}

.radio {
    padding-right: 20px;
}

.radio_wrapper.d-flex {
    padding: 16px 0 15px;
}

.settingprofileform form {
    padding-left: 65px;
    width: 680px;
}

.settingprofileform form .inputfield .con-select.selectExample {
    height: 30px;
    align-items: center;
    display: flex;
    width: 278px;
    border: 1px solid #DFE1E6;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #818181;
    max-width: 100%;
    padding: 0px 10px;
    border-radius: 0.25rem;
}

.con-select {
    width: 200px;
    clear: both;
}

.con-select,
.input-select-con {
    position: relative;
    width: 100%;
}

.btn_btn {
    font-size: 16px;
    background: #2f3990 !important;
    padding: 7px 10px;
    border-radius: 4px;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.radio_wrapper .radio label {
    position: relative !important;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    line-height: 19px !important;
    padding-left: 0px !important;
    color: #818181 !important;
}

.my-settings-main [type="radio"]:checked+label:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #2F3990;
    position: absolute;
    top: 0px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border: 1px solid #D8DBE2;
    cursor: pointer;
}

.my-settings-main input[type="radio"] {
    display: none;
}

.my-settings-main .radio input[type=radio]+.radio-label:before {
    content: "";
    background: #fff;
    border-radius: 100%;
    border: 1px solid #D8DBE2;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.my-settings-main [type="radio"]:checked {
    position: absolute;
    left: 0;
    opacity: 0;
}

.setting-section-right:has(.my-settings-main) {
    /* padding: 15px 15px 0px 15px; */
    height: calc(100vh - 100px);
    overflow: auto;
    background: #f4f5f7;
}
.change_password{
    text-decoration-line: underline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
}
.my-settings-main .noimg-uploadImage {
    width: 121px;
    height: 121px;
    display: inline-block;
    background-color: #2f3990;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #2F3990;
    font-size: 50px;
}
.mysettings__wasabi-img{
    width:120px;height:120px;border-radius: 50%;
}
button.btn_btn.mysetting_save_btn{
    margin-left: 0 !important;
}

.mysettings_profile img {
    border: 2px solid #102A83;
}
@media (max-width: 1199px) {
    .settingprofileform form {
        padding-left: 25px;
        width: 100%;
    }

    .settingprofileform .profileform .row {
        /* display: none; */
        /* flex-direction: column; */
        width: 100%;
    }
    .settingprofileform .profileform .col-md-6 {
        padding: 0px 15px!important;
    }
    .settingprofileform .profileform .row .inputfield input {
        border: 1px solid #DFE1E6;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #818181;
        max-width: 100%;
        width: 100%;
        padding: 0px 10px;
        border-radius: 0.25rem;
        height: 30px;
        overflow: scroll;
    }

    .settingprofileform form .inputfield .con-select.selectExample {
        height: 30px;
        align-items: center;
        display: flex;
        width: 100%;
        border: 1px solid #DFE1E6;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        color: #818181;
        max-width: 465px;
        padding: 0px 10px;
        border-radius: 0.25rem;
    }
}

@media (max-width: 991px) {
    .settingprofileform .profileform .row {
        /* display: none; */
        flex-direction: column;
        width: 100%;
    }
    .settingprofileform form .inputfield .con-select.selectExample{
        max-width: 100%;
    }
    .settingprofileform .profileform .col-md-6 {
        width: 100%;
        padding: 0px !important;
    }
    .my-settings-main .flex-row{
        display:block ;
    }
    .settingprofile .userimg {
        margin: 0 auto;
    }
    
    .btn_btn{
        margin-left: 0px !important;
    }
}

@media (max-width: 1024px) {

    .settingprofileform {
        width: 100%;
    }
}

@media (max-width: 765px) {
    .setting-section-right:has(.my-settings-main) {
        width: 100%;
        overflow: auto;
    }

    .settingprofileform form {
        padding-left: 0px;
    }
    .settingprofileform form .inputfield .con-select.selectExample{
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .my-settings-main .flex-row {
        display: block;
           }
    .col-md-10 .settingprofileform {
        width: 100%;
    }

    .userimg {
        margin: 0 auto;
    }

    .settingprofileform {
        width: 100%;
        margin: 0 auto;
        padding: 50px 0 0 0;
    }

    .my-settings-main .flex-row {
        display: block;
        flex-direction: inherit;
    }

    /* .my-settings-main {
        width: calc(100% - 60px);
    } */

    .settingprofileform .profileform .row {
        display: block;
    }

    .settingprofileform .profileform .col-md-6 {
        width: 100%;
        padding: 0px;
    }

    .settingprofileform form {
        width: 98%;
        margin: 0 auto;
    }

    .settingprofileform .profileform .row .inputfield input,
    .settingprofileform form .inputfield .con-select.selectExample {
        max-width: 100%;
        width: 100%;
        padding: 5px 15px;
    }

    .userimg {
        margin: 0 auto;
    }

    .btn_btn {
        margin: 0 auto;
    }
    .change_password{
        margin: 0 auto !important;
    }
}
@media (max-width:412px) {
    .mysetiing_save{
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .change_password{
        margin: 0px !important;
        padding: 5px;
    }
}
@media (max-width:375px) {
    .radio_wrapper {
        display: block;
    }
}