.setting-section-left {
    max-width: 285px;
    width: 100%;
}
.setting-section-right {
    max-width: calc(100% - 285px);
    width: 100%;
}
.active-tab{
    border-left: 5px solid #2F3990;
   
}
.active-tab img{
    margin-left: 18px !important;
}
.tab__item-wrapper {
    max-height: calc(100vh - 172px);
    overflow-y: auto;
}
.blue_btn {
    font-size: 16px;
    background: #2f3990 !important;
    padding: 7px 10px;
    border-radius: 4px;
}
.company_logo{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    top: 10px;
    margin-left: 24px;
}
span.no-img{
    width: 26px;
    height: 26px;
    display: inline-block;
    background-color: #2f3990;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
}
span.blue.companyname {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-left: 13px !important;
}
.side_tab_border{
    border-left: 5px solid #FFFFFF;
}
.top_section {
    height: 64.13px;
    padding: 0px 15px;
    background: #FCFCFC;
    border: 0;
    /* margin-top: -1px; */
    border-bottom: 1px solid #DFE1E6;
}
.setting__leftright-wrapper{
    height: calc(100% - 0px); 
}
.add__new-project{
    min-width: 160px;
}
@media(max-width: 1300px){
    .setting-section-right{width: 100%; max-width: 100%;}
    .top_section{height: auto;background: #fff;margin-top: 0;padding: 15px;}
    .active-tab img{margin-left: 13px !important;}
}