
.ah-rightside h3 {
    font-size: 36px;
}
.ah-rightside p {
    line-height: 24px;
    font-size: 16px;
}
.ah-rightside form {
    margin-top: 30px;
}
.ah-rightside form .form-group {
    margin-bottom: 20px;
}
.ah-rightside form label {
    font-size: 14px;
    line-height: 30px;
}
.ah-rightside .login-input {
    margin-left: 0;
    border: 1px solid #DED2D9;
    padding: 13px 10px;
    height: 56px;
}
.col-md-6 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 50%;
    padding: 0px 10px;
}
.ah-rightside .login-input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #DFE1E6;
}
.btn-blue{
    border: 1px solid #2f3990;
}
button.btn.btn-blue.btn-login {
    font-size: 18px;
    line-height: 27px;
    border-radius: 6px;
    padding: 13px 10px 12px;
    width: 100%;
}
.invalid-feedback{
    font-size: 12px;
}
.btn-disabled{
    pointer-events: none;
}
.form-group.country-code-main input {
    border-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
