.permissiontable table.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
    border-bottom: 1px solid #ececec;
}
.permissiontable {
    width: 100%;
    margin-top: 15px;
    z-index: 0;
    border-left: 1px solid #dfe1e6;
    border-top-left-radius: 5px;
}
.permissiontable table.table thead {
    top: 0;
    z-index: 99;
}
.permissiontable table.table thead tr th {
    border-right: 1px solid rgb(207, 207, 207);
}
table.table tr th {
    background: #DFE1E6;
}

.permissiontable table.table tr th:last-child {
    border-top-right-radius: 5px;
}
.permissiontable table.table tr:last-child th:last-child {
    border-top-right-radius: 0px;
}
.permissiontable table.table thead tr th:last-child {
    border-right: 0px solid rgb(207, 207, 207);
}
.permissiontable table.table tr th, .permissiontable table.table tr td {
    padding: 10px 20px;
    min-width: 315px;
}
.highlightRow {
    background: #f58f8f;
}
.permissiontable table.table tbody tr td:first-child, .permissiontable table.table tbody tr td {
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
}
th {
    font-size: .85rem;
    color: black;
    text-align: left;
}
table.table tr td label {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: black;
}
.permissionname{
    width: -webkit-fill-available;
}
.ActionInSecurity{
    left: -1px; 
    border-right: 1px solid #CFCFCF;
    border-left: 1px solid #cfcfcf;
}
.style-scroll::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background-color: red;
    border-radius: 8px;
}
.permissiontableMaxheight{
    max-height: calc(100vh - 350px);
}
.permissiontableMaxheightSetting{
    max-height: calc(100vh - 268px);
}
@media(max-width:767px){
    th.position-sti.ActionInSecurity, td.position-sti.z-index-1.bg-white.actionListName {
        z-index: -1;
    }
    .permissiontable table.table tbody tr td, .permissiontable table.table tbody tr td:not(first-child) {
        background-color: #ffffffe6;
        z-index: 1;
    }
    .permissiontable table.table thead tr th {
        border-right:transparent;
    }
}