.top-filter-section {
    height: 30px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 13.5px 5px 13.5px;
    max-width: 90px;
    width: 100%;
}
.top-filter-section span.task-filter-count {
    margin: 0 9px 0 10px;
    font-size: 12px;
    color: #fff;
    padding: 0 3.77px;
    border-radius: 5.5px;
    background: #959595;
    line-height: 12px;
}
.top-filter-section  .task-filter-close {
    margin-right: -4px;
}
.top-filter-section span {
    font-size: 12px;
    background: #959595;
    color: #fff;
    border-radius: 10px;
    padding: 0 7px;
}
.table-data {
    overflow: auto;
}
.fieldTable {
    max-height: 200px;
}
.add-filter-wrapper {
    padding-top: 13px;
}
 .filter-info a{
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    color: #2F3990;
}
.action-section a, .action-section a:hover{
    color: #2F3990 !important;
}
.save-filter-section .text,
.save-filter-section .drop-icon{
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #2F3990;
    border-radius: 4px;
}
.save-filter-section span {
    color: #2F3990 !important;
}
.save-filter-section .drop-icon {
    padding: 5.5px 9px;
    height: 25px;
}
.save-filter-section .text {
    padding: 5.5px 9.23px 4.5px 10.23px;
    height: 25px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.action-section button {
    height: auto;
    padding: 5px 14.5px;
    font-size: 12px;
}
.save-filter-section .drop-icon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.save-filter-section .save-action {
    display: flex;
    justify-content: flex-end;
}
.filter-list-title {
    font-weight: 400;
    font-size: 13px;
    color: #CFCFCF;
    margin: 10px 0 6px 0;
    line-height: 19.24px;
}
.saved-filterdropdownlist-wrapper {
    overflow: auto;
    max-height: 125px;
    padding: 0 10px 10px 10px;
}
.saved-filterdropdownlist-wrapper::-webkit-scrollbar { 
    display: none; 
}
.hover-action {
    visibility: hidden;
}
.dropdown-item:hover .hover-action {
    visibility: visible;
}
 .table-data::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}
.lebel-items .user-icon {
    width: 25px;
}
.custom-filters-table .select-option {
    margin: 0!important;
    border-radius: 4px !important;
}
.custom-filters-table:last-child {
    margin-bottom: 0px !important;
}
.custom-filters-table .date-picker-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #DFE1E6;
    border-radius: 4px;
    padding: 4px 10px;
    color: #818181 !important;
    font-size: 13px;
    width: 250px;
}
.custom-filters-table .select-option-value {
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}
 .custom-radio input[type="radio"]{
    display: none;
    height: 0;
    width: 0;
}
 .custom-radio label {
    cursor: pointer;
    background-color: #fff;
    color: #818181;
    border: 1px solid #DFE1E6;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 400;
    max-width: 64px;
    width: 64px;
    height: 30px;
    display: flex;
    align-items: center;
}
 .custom-radio input[type="radio"]:checked + label{
    color: #000;
}
 .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
 .alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
 .selected-options {
    max-width: 250px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    padding-left: 1px;
}
.custom-filters-col .selected-options{
    border: 1px solid #DFE1E6 !important;
}
.cls-custom-dd .search-project-filter {
    margin-left: -9px;
    background: #fff;
    margin-top: -4px;
}

.filter-status-field span {
    color: #4B4B4B;
    line-height: 28px;
}
.filter-status-fieldwrapper, .filter-operator {
    padding: 4px 12px 4px 8px;
    border: 1px solid #DFE1E6;
    border-radius: 4px;
    height: 30px;
    color: #818181;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.24px;
    background-image: url('../../../assets/images/svg/filter_select_dropdown.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 12px);
}
.filter-status-fieldwrapper{
    min-width: 150px;
    max-width: 150px;
}
.filter-operator {
    min-width: 90px;
    max-width: 90px;
}
.custom-filters-table .main-checkbox-component {
    margin-right: 5px;
}
.filter-operation-dropdown .search-project-filter,
.filter-status-dropdpown .search-project-filter {
    padding: 10px;
}
 .filter-close-icon {
    position: absolute;
    right: 10px;
    top: 8px;
}
.cls-custom-dd .label-all {
    padding: 9.5px 10px;
    border-bottom: 1px solid #00000033;
    justify-content: space-between;
}
.cls-custom-dd .lebel-items {
    padding: 4px 10px;
}
.width-250-px {
    width: 250px;
}
.checkbox-dropdown {
    padding-top: 7px;
}
 .selected-options span:nth-child(1) {
    margin-left: 2px;
}
.checkbox-dropdown:last-child {
    margin-bottom: 8px;
}
.width-211-px {
    width: 211px;
}
.assignee-filter .assignee-user {
    padding: 7px 10.1px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.assignee-status {
    padding: 3.5px 11.41px 4.5px 8px !important;
    display: flex;
    align-items: center;
    height: 28px;
}
.custom-filters-table .span-count {
    padding: 1px 2.36px 1px 2.36px;
    background-color: #818181;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px;
}
.custom-filters-table .date-picker-wrapper {
    display: flex;
    align-items: center;
}
.custom-filters-table .where-title {
    display: block;
    background-color: #F4F5F7;
    padding: 7.5px 10px;
    border-radius: 4px;
    max-width: 64px;
    width: 64px;
}
.custom-filters-table .select-option span{
    text-transform: capitalize;
}
.filer-checkbox:checked {
    border-radius: 4px;
}
.filer-checkbox {
    border: 1px solid #DFE1E6;
}
.custom-filters-table .select-option::placeholder{
    color: #818181 !important;

}
.task-filtersearch {
    max-width: 43%;
    width: 43%;
}
.task-fitler-search .form-control{
    font-size: 16px;
    line-height: 23.68px;
}
.task-fitler-search .form-control::placeholder{
    font-size: 16px;
    line-height: 23.68px;
    color:#949DA8;
    text-transform: capitalize;
}
.task-fitler-search {
    margin-right: 3px;
}
.task-serachstatus-dropdown {
    justify-content: space-between;
    padding: 6px 10px !important;
}
.group-by-dropdown{
    padding: 5px 10px 5px 1.77px;
    background-image: url('../../../assets/images/svg/drop_down_arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 3px);
    border-radius: 6px;
}
.group-by-dropdown span {
   padding: 0px 12px 0 3px;
}
.assignee-filter{
  height: 30px;
}
.comparison-select .select-option-value {
    width: 100px;
    overflow: auto;
    max-height: 150px;
}
span.font-size-12.font-weight-400 {
    margin-left: 10px;
}
.archived-btn {
    background: transparent !important;
    line-height: 19.24px !important;
}
.cutsom-select-search {
    display: none;
}
.checkbox-dropdown-wrapper {
    overflow: auto;
    max-height: 210px;
    padding-top: 3px;
}
.checkbox-dropdown-wrapper::-webkit-scrollbar{
    display: none;
}
.bottom-filter-section {
    width: 644px;
    border-radius: 8px;
    padding: 11px 10px 15px 10px;
}
.checkbox-dropdown-wrapper .status_square {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 2px;
}
.save-thisfilters-dropdown {
    margin-left: -14px;
    margin-top: -5px;
}
.update-searchfilter-dropdown {
    margin-left: -94px;
    margin-top: -6px;
}
.save-thisfilters-dropdown .search-project-filter,
.update-searchfilter-dropdown .search-project-filter {
    padding: 0 !important;
}
.savefilter-inputserach-wrapper {
    padding: 10px 10px 0 10px;
}
.saved-filterdropdownlist-wrapper .saved-filters-dropdown {
    margin-bottom: 0 !important;
}
.filter-selectall-options {
    margin-left: 9px;
    margin-top: 4px;
}

.tasks-statustags-wrapper .main-checkbox-component input[type=checkbox]{
    border: 1px solid #DFE1E6;
}
.tasks-statustags-wrapper .main-checkbox-component input[type=checkbox]:before{
    right: 53%;
    top: 50%;
    width: 3px;
    height: 8px;
    border: 0;
    border: solid #FFF;
    border-width: 0 1px 1px 0;
}
.checkbox-dropdown img.task-type-image {
    width: 14px;
    height: 14px;
    object-fit: cover;
    border-radius: 2px;
}
.main-filter-dropdown-wrapper {
    border: 0;
    margin-top: 7px;
}
.task-filtersearchassignee-wrapper {
    margin-bottom: 0px;
}
.top-filter-section .task-filter-icon{
    min-width: 13px !important;
}
.custom-filters-table .form-control .select-option__label.text-ellipsis span {color: #818181 !important;}
@media(max-width: 1800px){
    .task-fitler-search input.form-control {width: 290px !important;}
    .task-filtersearch {max-width: 43%;width: 43%;}
    .task-filtersearchassignee-wrapper{flex-wrap: wrap;}
}
@media(max-width: 1620px){
.top-filter-section {padding: 5px 8.5px 5px 8.5px;max-width: 100px;}
.task-filtersearch {max-width: 100%;width: 100%;}
.task-filter-assignee {width: 100%;justify-content: flex-start !important;margin-top: 10px;}
.task-filtersearchassignee-wrapper {height: auto !important;}
.task-filtersearchassignee-wrapper {margin-bottom: 0 !important;}
}
@media(max-width: 1024px){
    .task-filtersearch {justify-content: space-between;}
    .top-filter-section {max-width: 84px;width: 84px;}
    .task-fitler-search input.form-control,  .task-fitler-search  {width: 100% !important;}
}
@media(max-width: 767px){
    .top-filter-section {max-width: 43%;width: 100%;}
.task-fitler-search, .assignee-filter .assignee-user, .assignee-status, .assignee-filter{ display: none;}
.task-filter-assignee, .task-filtersearch {width: auto !important; }
.task-filtersearchassignee-wrapper {justify-content: flex-start !important;}
.task-filter-assignee{margin-top: 0;}
.top-filter-section {padding: 5px 12px;height: 31px;max-width: 77px;border: 1px solid #cfcfcf;}
.group_by .btn-white {height: auto;border-radius: 0px;padding: 0;border: 0;}
.group-by-dropdown {background-image: none;padding: 0;border: 1px solid #CFCFCF;height: 31px;padding: 6px 8.1px !important;}
.group-by-dropdown span {padding: 0 0 0 1px;}
.group_by {margin-right: 10px !important;}
.group-by-dropdown.active strong, .group-by-dropdown.active  span{color: #2F3990 !important;}
.group_by .group-by-dropdown.active {background: rgba(47, 57, 144, 0.15);}
.archived-btn {height: 31px;padding: 5px 8.21px !important;background-color: #fff !important; line-height: 18.2px !important;border: 1px solid #CFCFCF !important;}
.checkbox-dropdown {background: #F4F5F7;margin: 0px 20px 10px 20px;padding: 0;}
.checkbox-dropdown:last-child{margin-bottom: 0;}
.checkbox-dropdown .lebel-items {height: 50px;padding: 0 10px;}
.checkbox-dropdown-wrapper {max-height: 300px;margin: 0px 0 0px 0; }
.checkbox-dropdown-wrapper .status_square {height: 14px;width: 14px;margin-left: 6px !important;}
.saved-filterdropdownlist-wrapper .saved-filters-dropdown {padding: 10px 20px !important;margin-bottom: 10px !important;}
.saved-filterdropdownlist-wrapper .saved-filters-dropdown:first-child{margin-top: 0 !important;}
.saved-filterdropdownlist-wrapper .saved-filters-dropdown:last-child {margin-bottom: 0 !important;}
.savefilter-inputserach-wrapper {padding: 20px;}
.cls-custom-dd .search-project-filter, .filter-selectall-options, .update-searchfilter-dropdown, .save-thisfilters-dropdown{margin-left: 0;margin-top: 0;}
.bottom-filter-section {max-height: 500px;width: 100%;padding: 0;}
.custom-filters-col:nth-child(1) {width: 100%;margin-right: 0;}
.custom-filters-table .where-title{max-width: 100%;width: 100%;border-radius: 8px 8px 0 0;height: 50px;display: flex;align-items: center;background-color: #E9E9E9 ;}
.custom-filters-detailwrapper {width: 100%;flex-wrap: wrap;justify-content: space-between;}
.custom-filters-col .selected-options {width: 100%;max-width: 100%;height: 50px;border-radius: 8px !important;}
.filter-status-fieldwrapper{width: 47.5%;margin-left: 10px;margin-right: 0px !important;min-width: 47.5%;}
.filter-operator{margin-left: 0px !important;margin-right: 10px !important;width: 47.5%;min-width: 47.5%;}
.filter-status-fieldwrapper, .filter-operator {padding: 15px 10px;border-radius: 8px;height: 50px;margin-bottom: 20px;}
.cursor-pointer.filter-status-field {border-radius: 12px;background: #F4F5F7;padding: 10px;height: 50px;margin: 10px;}
.filter-status-dropdpown .search-project-filter {padding: 0px 10px 10px 10px;margin: -10px 0 0 0;}
.filter-status-fieldwrapper, .filter-operator{background-image: url('../../../assets/images/svg/drop_down_mobile.svg');}
.tasks-statustags-wrapper .main-checkbox-component input[type=checkbox]{width: 20px !important;height: 20px !important;}
.filter-dropdownmobile-title {color: #000;font-size: 20px;font-weight: 500;line-height: 23.4px;}
.cancel-title-donewrapper .cancel {color: #646464;font-size: 16px;font-weight: 400;line-height: 25.6px;}
.cancel-title-donewrapper .done {color: #2F3990;font-size: 18px;font-weight: 700;line-height: 23.4px;}
.custom-filters-table .select-option {border-radius: 8px !important;height: 50px !important;}
.custom-filters-table {background: #F8F9FB;border-radius: 11px 11px;margin-bottom: 20px !important;}
.custom-filters-col {padding-bottom: 20px;}
.custom-filters-col:nth-child(4) {width: 100%;max-width: 100%;height: 50px;margin: 0 10px !important;}
.custom-filters-table .date-picker-wrapper {width: 100%;height: 50px;border-radius: 8px !important;}
.custom-filters-table  .date-img-wrapper{background-color: transparent;padding: 0 !important;}
.comparison-select .select-option-value{width: 100% !important;}
.filter-title h3 {color: #000;font-size: 20px;}
.action-section button { padding: 5px; width: 100%;height: 45px;font-size: 18px;font-weight: 500;border-radius: 8px;line-height: 28.8px;}
.save-filter-section, .action-section{width: 49.5%;}
.save-filter-section .text {padding: 6px 3px;height: 45px;width: 71%;border-radius: 8px 0px 0px 8px;}
.custom-filters-col:last-child {padding-bottom: 0;height: auto;}
.save-filter-section .drop-icon {padding: 7.5px 0px;height: 45px;width: 25%;display: flex;justify-content: center;border-radius: 0px 8px 8px 0;}
.add-filter-wrapper {justify-content: end;}
.add-section a, .action-section a {color: #2F3990;line-height: 23.4px;}
.save-filter-section span {font-size: 18px;font-weight: 500;line-height: 28.8px;display: flex;justify-content: center;}
.filter-info a {font-size: 16px;line-height: 25.6px; text-decoration: none;}
.custom-filters-table:last-child {margin-bottom: 24px !important;}
.save-filter-wrapper {margin-top: 5px;}
.saved-filters .form-control {height: 50px !important;margin-bottom: 0px;}
.saved-filters .saved-filterdropdownlist-wrapper .form-control {height: 50px !important;margin-bottom: 0px !important;font-size: 12px !important;}
.saved-filters-dropdown.edit-input-mobile {padding: 0 !important;height: 50px;}
.custom-filters-col .custom-radio label {width: 94%;max-width: 100%;height: 50px; border-radius: 8px 0px 0 0;max-width: 100%; display: flex; background-color: #E9E9E9;border-right: 0;}
img.up-downarrow {top: 20px !important;}
.remove_icon {border-radius: 0px 8px 0 0;background-color: #E9E9E9;height: 50px;width: 57px;color: #818181;line-height: 25.6px;padding-right: 0;margin-left: auto;  }
.custom-radio .remove_icon {padding-right: 10px;margin-left: 0;width: 70px;}
img.mobile_icon_dropdown {padding-left: 8px;}
.cls-custom-dd .label-all{display: none;}
.custom-filters-table .date_format {font-size: 14px;color: #B3B3B3 !important;}
.w-545{width: 545px;}
.task-assigneesearch-groupbywrapper::-webkit-scrollbar{display: none;}
.custom-filters-table .form-control .select-option__label.text-ellipsis span {color: #b3b3b3 !important;}
.savedfilter-input-wrapper input {height: 55px !important;border-radius: 8px !important;border: 1px solid #DFE1E6;}
.tasks-statustags-wrapper {margin: 20px 0;}
.saved-filterdropdownlist-wrapper{max-height: 200px;margin-top: 0px;margin-bottom: 10px;padding: 0 20px 20px 20px;}
.edit-delete-erapper {position: absolute;right: 40px;background-color: #fff;}
.saved-filters-dropdown.edit-input-mobile .form-control{font-size: 16px !important; padding: 10px 20px !important;}
img.saveFilterDropArrow {padding: 12px 14px;}
.saved-filters .form-control::placeholder, .savefilter-inputserach-wrapper .form-control::placeholder {font-size: 14px !important;}
.filter-status-field span {font-size: 16px !important;}
.fieldTable {max-height: 500px;}
.add-filter-wrapper {padding-top: 0px;}

}
@media(max-width: 575px){
.filter-status-fieldwrapper, .filter-operator{width: 46.4%;min-width: 46.4%;}
}
@media(max-width: 414px){
.filter-status-fieldwrapper, .filter-operator {width: 45.4%;min-width: 45.4%;}
}