.custom__field-image {
    height: 16px;
    width: 16px;
    margin: 0px 10px;
}
.phone_pipeline::after {
    content: "";
    height: 20px;
    width: 1px;
    background: #DFE1E6;
    display: block;
    margin: 0 10px;
}
.customfield__form-control {
    height: 30px;
    max-width: 100%;
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949DA8;
    font-size: 13px;
    margin: 0px 0px 5px 0px;
}
.custom-field__height{
    height: 200px;
}
@media (max-width:767px) {
    .customfield__form-control {
        margin: 0px 0px 15px 0px;
    }
}