.milestone-report-wrapper {
    width: 100%;
    max-width: 100%;
}
.padding_right_report{
    padding-right: 20px;
}
.milestone-report-wrapper .product_top_bar {
    padding: 15px;
    background-color: #FCFCFC;
    border-bottom: 1px solid #DAE1E7;
}
.milestone_reports_family {
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.64px;
    vertical-align: bottom;
}
.product_top_bar_left {
    width: 50%;
}
.product_top_bar_right {
    width: 50%;
    max-width: 587px;
}
.product_top_bar_right input {
    width: 96% !important;
}
.milestone-report-wrapper .breadcrumb .pipeline:before {
    background-color: #000000;
    content: "";
    display: inline-block;
    font-size: 20px;
    opacity: 0.2;
    width: 1px;
    height: 23px;
    margin-right: 20px;
}
.dateFilterWrapper {
    padding: 15px 0px;
}
.milestone_table_filter_wrapper {
    height: calc(100vh - 180px);
    background-color: #F4F5F7;
    overflow: auto;
    margin: 0px 0px 15px 0px;
    position: relative;
}
.milestone-report-wrapper .milestone-report-table {
    position: relative;
    border-collapse: collapse;
    border-radius: 4px;
}
.milestone-report-wrapper .milestone-report-table thead{
    position: sticky;
    top: 0;
    z-index: 1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 1px solid #dfe1e6;
    background-color: #dfe1e6;
}
.milestone-report-wrapper .milestone-report-table thead tr:nth-child(1) th.fixed {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.milestone-report-wrapper .milestone-report-table .bg-color-highlight {
    background-color: #2F3990 !important;
    color: white !important;
}
.milestone-report-wrapper .milestone-report-table tr th {
    min-width: 150px;
    width: 150px;
    font-weight: normal;
    font-family: "Roboto-Medium";
    color: #000;
    background-color: #e0e1e6;
}
.milestone-report-wrapper .milestone-report-table tr th:first-child{
    position: sticky;
    left: 0px;
    z-index: 9;
}
.milestone-report-wrapper .milestone-report-table tr td:first-child {
    position: sticky;
    left: 0px;
}

.milestone-report-wrapper .milestone-report-table tr th:first-child::after,.milestone-report-wrapper .milestone-report-table tr td:first-child::after{
    position: absolute;
    content: '';
    display: block;
    right: -1px;
    width: 1px;
    height: 100%;
    top: 0;
    background-color: #CFD0D3;
}
.milestone-report-wrapper .milestone-report-table tr th.border-color-highlight-left:first-child::after,.milestone-report-wrapper .milestone-report-table tr td.td_class_border:first-child::after{
    right: 0px !important;
}
/* .milestone-report-wrapper .milestone-report-table .padding_warpper_sheet {
    z-index: 10;
} */
.milestone-report-wrapper .milestone-report-table thead tr:nth-child(1) {
    border-radius: 4px;
}
.milestone-report-wrapper .milestone-report-table .thtitle_family {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.68px;
    color: #000000;
}
/* .milestone-report-wrapper .milestone-report-table .thtitle-wrapper {
    padding: 0px 27px 0 23px;
} */
.milestone-report-wrapper .milestone-report-table thead tr:nth-child(1) th.fixed .thtitle div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: auto !important;
}
.milestone-report-wrapper .milestone-report-table .thtitle:nth-child(1) {
    width: 359px !important;
}
.milestone-report-wrapper .milestone-report-table .thtitle:nth-child(2) {
    width: 116px !important;
}
.milestone-report-wrapper .milestone-report-table .thtitle:nth-child(3) {
    width: 122px !important;
}
.milestone-report-wrapper .milestone-report-table .thtitle:nth-child(4) {
    width: 116px !important;
}
.milestone-report-wrapper .milestone-report-table .fixed .d-flex div:last-child {
    text-align: left !important;
}
.milestone-report-wrapper .milestone-report-table tr th .d-flex.thtitle-wrapper:first-child::after {
    content: "";
    position: absolute;
    height: -webkit-fill-available;
    width: 1px;
    background-color: rgb(0 0 0 / 10%);
    right: -1px;
    top: 0;
    z-index: 999;
    -webkit-box-shadow: 1px 0px 1px 1px rgb(0 0 0 / 2%);
    box-shadow: 1px 0px 1px 1px rgb(0 0 0 / 2%);
}
.milestone-report-wrapper .milestone-report-table tr.fixed {
    position: sticky;
    z-index: -1;
}
.milestone-report-wrapper .milestone-report-table tr.fixed:nth-child(2) th {
    padding: 4.5px 0!important;
    /* cursor: pointer; */
}
.milestone-report-wrapper .milestone-report-table tr.fixed th:before
 {
    content: "";
    border-top: 1px solid #cfd0d3 !important;
    display: block;
    position: absolute;
    /* height: -webkit-fill-available; */
    width: 100%;
    right: 0;
    top: -1px;
    z-index: 999;
}

.milestone-report-wrapper .milestone-report-table tr th div.days-selected-dropdown {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 21px;
    text-align: center;
    color: #000000;
    position: fixed;
    z-index: 1111;
    margin-top: -11px;
    right: 26%;
}
.milestone-report-wrapper .milestone-report-table tr th div.days-selected-dropdown-value {
    right: 30%;
}
.milestone-report-wrapper .milestone-report-table .days-selected-dropdown {
    /* margin-right: 23px; */
    height: 21px;
    text-align: left !important;
}
.milestone-report-wrapper .milestone-report-table tr:first-child th:last-child {
    border-top-right-radius: 4px !important;
    height: 27px;
    border-left: 1px solid #CFD0D3;
    position: relative;
    /* border-bottom: 1px solid #dfe1e6; */
}
.milestone-report-wrapper .milestone-report-table tr:first-child th:last-child::before {
    content: '';
    display: block;
    position: absolute;
    left: -1px;
    background-color: #CFD0D3;
    height: 100%;
    width: 1px;
    top: 0;
}
.milestone-report-wrapper .milestone-report-table tr:first-child th:last-child::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #CFD0D3;
    width: 100%;
    height: 1px;
}

.milestone-report-wrapper .milestone-report-table th.border-color-highlight-left:last-child,.milestone-report-wrapper .milestone-report-table td.border-color-highlight-left:last-child {
    border-right: 1px solid #2F3990 !important;
}
.milestone-report-wrapper .milestone-report-table th:last-child,.milestone-report-wrapper .milestone-report-table td:last-child {
    border-right: 1px solid #CFD0D3;
}
.milestone-report-wrapper .milestone-report-table .border-color-highlight-left,.milestone-report-wrapper .milestone-report-table .border-color-highlight-left-next {
    border-left: 1px solid #2F3990 !important;
}
.milestone-report-wrapper .milestone-report-table tr.fixed th.border-color-highlight-left:before {
    border-top: 1px solid #2F3990 !important;
    top: 0 !important;
}
.milestone-report-wrapper .milestone-report-table tr.fixed:nth-child(2) th{
    position: relative;
    border-left: 1px solid #CFD0D3;
}
.milestone-report-wrapper .milestone-report-table tr.fixed:nth-child(2) th.border-color-highlight-left:before{
    height: inherit !important;
}
.milestone-report-wrapper .milestone-report-table tr.fixed:nth-child(2) th:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    background-color: #CFD0D3;
    width: 100%;
    height: 1px;
}
tr.fixed th {
    text-align: center;
}
.milestone-report-wrapper .milestone_table_filter_wrapper::-webkit-scrollbar {
    width: 5px;
    background-color: #dfe1e6;
    height: 6px;
}
.milestone-report-wrapper .milestone_table_filter_wrapper::-webkit-scrollbar-thumb {
    background-color: #2f39a2 !important;
    height: 6px;
    width: 6px;
    border-radius: 5px;
}
.padding_warpper_sheet {
    padding-left: 23px;
}
.rotate_arrow {
    transform: rotate(90deg);
}
.background_color_currency {
    background-color: #EEEEEE;
}
.milestone-report-wrapper .milestone-report-table .thtitle_currency_family {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.72px;
}
.milestone-report-wrapper .milestone-report-table .padding_wrapper_arrow {
    padding-left: 5px;
}
.milestone-report-wrapper .milestone-report-table .padding_wrapper_left_arrow {
    margin-left: 10px;
}
.milestone-report-wrapper .milestone-report-table tbody tr {
    height: 37px;
    border-bottom: 1px solid #DFE1E6;
}
.milestone-report-wrapper .milestone-report-table .project_name_wrapper .project_name_td {
    padding-left: 21px;
    background-color: #fff;
}
.milestone-report-wrapper .milestone-report-table .project_name_wrapper .thtitle:nth-child(1) {
    width: 344px !important;
}
.milestone-report-wrapper .milestone-report-table .project_name_wrapper .project_name_mil_td .thtitle:nth-child(1) {
    width: 347px!important;
}
.short_name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 276px;
    display: inline-block;
    vertical-align: middle;
}
.thtitle_currency_family_mil {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.thtitle_currency_family_status {
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.24px
}
.project_name_mil_td {
    padding-left: 35px;
    background-color: #fff;
}
.short_name_mil {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 175px;
    display: inline-block;
    vertical-align: middle;
}
.short_mil_status {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.border_currency {
    border-left: 1px solid #CFD0D3;
}
.totalAmountCurrencyFamily {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    line-height: 20.72px;
}
.totalMilestoneCurrencyFamily {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lightGrey {
    color: #505050;
}
.monthFamily {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.68px;
    text-decoration-line: underline;
}
.monthDateFamily {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    line-height: 23.68px;
}
.days-selected-dropdown .select-option {
    margin: 0 !important;
    border: none !important;
    padding: 0px !important;
    height: 24px;
    box-shadow: none !important;
    color: black !important;
    position: inherit !important;
}
.days-selected-dropdown .select-option__label.text-ellipsis {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.68px
}
.background_color_total_status {
    background-color:#F3F3F3;
}
.lightGreyColor {
    color: #3B3B3B;
}
/* .FilterDropDown {
    width: 586.99px;
} */
/* .milestone-report-wrapper .filterBy {
    border: 1px solid #DFE1E6;
    padding: 4px 8px;
    border-radius: 5px;
    background-color: white;
} */
.milestone-report-wrapper .filter_table_wrapper {
    padding: 0px 15px;
    background-color: #F4F5F7;
}
.filter_family {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}
.milestone-report-wrapper span.chipusername_wrapper {
    display: flex;
    background-color: #f1efef;
    border-radius: 10px;
    margin-right: 10px;
    padding: 3px 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 5px;
}
.milestone-report-wrapper  a.link_disable_css {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.milestone-report-wrapper span.chipusername_wrapper button {
    padding: 0 !important;
    border: 0 !important;
    margin-left: 4px !important;
    min-width: 14px;
}
.milestone-report-wrapper span.timesheet_user_filter {
    position: sticky;
    left: 0;
    background-color: #fff;
    padding: 3px 0px 3px 10px;
    min-width: 132px;
}
.milestone-report-wrapper .wf_filter {
    display: flex;
    align-items: center;
    max-width: 585.99px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 6px;
    padding: 0px;
    overflow: auto;
    background-image: url('../../assets/images/svg/filter_icon.svg');
    background-repeat: no-repeat;
    background-position: 97% 54%;
    margin-left:0px;
    cursor: pointer;
}
.milestone-report-wrapper .wf_filter::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #C1C1C1;
}
.milestone-report-wrapper .wf_filter::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}
.milestone-report-wrapper .chipusername_main {
    display: flex;
}
.milestone-report-wrapper span.chipusername_wrapper span.user_name {
    font-size: 13px;
    line-height: 18px;
    min-width: max-content;
}
.milestone-report-wrapper span.timesheet_user_filter button.dot-btn {
    min-width: 120px;
}
.milestone-report-wrapper button.dot-btn {
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}
#dd_FilterDropDownSheet {
    width: 320px;
}
#dd_FilterDropDownSheet .drop-down-options{
    max-height: 200px !important;
}
#dd_FilterDropDownSheet .statusHeader {
    padding: 6px 0px;
    text-align: center;
    border-bottom: 1px solid #DFE1E6;
}
#dd_FilterDropDownSheet .statusHeader span {
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.72px;
    color: black;
}
#dd_FilterDropDownSheet .drop-down-item span {
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #3B3B3B;
}
.milestone-report-wrapper .border_none {
    border: none !important;
    text-align: center;
    position: fixed !important;
    text-align: center;
    width: 100%;
    padding-top: 8px;
}
.milestone-report-wrapper .milestone-report-table tr td.border_none:first-child::after {
    content: "";
    border: none !important;
    display: none !important;
}
.border_left_right{
    border-left: 1px solid #CFD0D3;
    border-right: 1px solid #CFD0D3;
}
.error_404 {
    height: 100%;
}
.padding_wrappper_thtitle {
    padding-left: 5px;
}
.short_mil_status_wrapper {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.milestone-report-wrapper .milestone-report-table .thtitle_wrapper {
    width: 28% !important;
}
@media (max-width:991px) {
    .product_top_bar_left {
        width: 100%;
    }
}
@media (max-width:767px) {
    .milestone-report-wrapper .wf_filter {
        max-width: 100%;
    }
    #dd_FilterDropDownSheet {
        width: 100%;
    }
}

