
.projectPeopleMain input#inputId{
    min-height: 28px !important;
    width: 506px !important;
    max-width: 528px !important;
    font-size: 16px;
}
.projectPeopleMain input::placeholder {
    font-size: 16px!important;
    text-transform: math-auto!important;
}
.projectPeopleMain .invireByEmail{
    border-right: 0px!important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.projectPeopleMain .dropdownMember{
    border: 1px solid #E0E0E0;
    margin-bottom: 0px;
    line-height: 27.68px;
    padding: 0px 27px ;
    background-color: rgba(255, 255, 255, 1);
    min-height: 30px;
    min-width: fit-content;
}
.projectPeopleMain .blue_btn{
    margin-left: 0px;
    font-size: 16px;
    background: #2f3990 !important;
    padding: 5px 15px !important;
    border-radius: 4px;
    border: 0;
    color: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: auto;
}
.projectPeopleMain .roleName{
    margin-left: 10px; 
    max-width:250px
}
.projectPeopleMain .addNewRole{
    color: rgb(47, 57, 144);
}
.projectPeopleMain form {
    margin-bottom: 20px;
}
.projectPeopleMain .tab-option{
    z-index: 1;
    cursor: pointer;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}
.projectPeopleMain .totalCount span {
    font-size: 14px;
    color: #000;
    font-family: 'Roboto';
    line-height: 20.72px;
    display: block;
}
.projectPeopleMain .activeTab {
    color: #2f3990 !important;
    font-family: 'Roboto', sans-serif !important;
    background: #FFFFFF;
    font-weight: 700;
}
.projectPeopleMain .invalid-feedback{
    top: 40px;
    font-size: 12px;
}
.projectPeopleMain .totalCount.d-flex.justify-content-between.position-re {
    border-bottom: 1px solid #CFCFCF;
}
.projectPeopleMain .currencies_wrapper {
    top: 10px;
    position: relative;
    height: calc(100vh - 235px);
   
}
.members-dropdown{
    min-width: 303px;
    margin-top: 5px;
    width: 303px;
}
.member__rol-one {
    width: 207px !important; 
    min-width: 207px !important;
    padding: 0 20px !important;
}
.members-dropdown-roll{
    width:160px;
    border: 0;
    margin-top: 6px;
    min-width: 160px;
}
.members-dropdown-load {
    width: 120px !important;
    min-width: 120px !important;
    padding: 0 10px !important;
}
.members-dropdown .search-project-filter {
    padding: 10px !important;
    min-width: 160px !important;
}

.members-dropdown-roll .search-project-filter {
    padding: 10px !important
}
.members-dropdown .search-box-member {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid #ececec;
}
.members-dropdown .search-box-member input.search_box{
    height: 30px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949DA8;
    margin: 0px!important;
    padding: 0px 0px 0px 10px;
    width: 90%;
    margin: 0 auto!important;
    display: block;
}
.members-dropdown .no-data{
    padding: 7px;
    color: rgb(129, 129, 129);
    display: flex;
    justify-content: center;
}
.roleName span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #535358;
    display: inline-block;
    max-width: 20%;

}
.roleName .edit{
    display: none;
}
.members-dropdown .AddNow_designation{
         margin: 0px !important;
}
.members-dropdown-roll .AddNow_roll{
    margin: 0px !important;
}
.members-dropdown .main_roleName:hover .edit{
    display: block;
}
.addNewRole{
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0px;
text-align: left;

}
.erp_app {
    width: 12px;
    height: 12px;
}
.update__wrapper{
    right: 2px;
    top: 3px;
}
.green__icon{
    right: 8px; 
    height: 10px; 
    width: 15px;
}
.green__icon-img{
    right: 4px;
    height: 10px; 
    width: 15px;
}
.close__icon{
    height: 10px;
    width: 10px;
    right: -5px;
}
.green__close-wrapper{
   right: 2px;
   min-width: 45px;
   top: 2px;
}
.else__invite{
    background: dimgray !important;
}
    @media (max-width: 1880px){
        .projectPeopleMain input#inputId 
        {
            max-width: 528px;
            width: 400px !important;
        }
    }
    @media (max-width: 1566px){
        .projectPeopleMain input#inputId {
            width: 340px !important;
        }
    }
    @media (max-width: 1500px){
        .projectPeopleMain form {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: start;
        }
        .projectPeopleMain input#inputId {
            width: 400px !important;
            max-width: 400px !important;
        }
        .searchByEmail {
            margin-bottom: 5px;
        }
    }
@media (max-width: 1366px){
    .setting-section-right:has(.member-management-settings) {
        overflow: auto;
    }
    .manufacture_create_content.currencies_table {
        padding: 0px;
    }
    .projectPeopleMain .dropdownMember {
        width: auto;
    }
}
@media (max-width: 1199px){
.projectPeopleMain form {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
}
.projectPeopleMain input#inputId {
    width: 400px !important;
    max-width: 400px !important;
}
.searchByEmail {
    margin-bottom: 5px;
}
}
@media (max-width:1024px){
    .projectPeopleMain {
        padding: 21px 10px;
    }
    .manufacture_create_content.memebertableClass {
        padding: 0px;
        overflow: auto;
    }
    .form-mianDiv.d-flex.align-items-center {
        width: auto;
        border-radius: 6px;
    }
    .invite-blue-top {
        margin-left: 2px ;
    }
    
}

@media(max-width:991px){
    .projectPeopleMain form{
        display: block;
        text-align: right;
    }
    .projectPeopleMain .invalid-feedback{
        top: 35px;
    }
    .projectPeopleMain .searchByEmail{
        margin-bottom: 0;
    }
    .projectPeopleMain .invireByEmail{
        border-right: 1px solid #E0E0E0 !important;
        border-radius: 6px;
    }
    .projectPeopleMain .form-mianDiv {
        display: block;
    }
    .projectPeopleMain input#inputId {
        width: 100% !important;
        margin-bottom: 14px;
        max-width: 100% !important;
        box-sizing: border-box;
    }
    .projectPeopleMain .dropdownMember {
        height: auto;
        width: auto;
        border-radius: 6px;
        margin-bottom: 14px;
        padding: 0px

    }
    .projectPeopleMain .dropdownMember .cursor-pointer{
        padding: 3px 10px;
    }
    .member__rol-one, .members-dropdown-load  {
 
        padding: 0px !important;
    }
    .members-dropdown-roll{
        width:160px;
        border: 0;
        margin-top: 6px;
        min-width: 160px;
    }
    .invite-blue-top{
        margin-top: 14px;
    }
    .member-management-settings .form-control {
        padding: 1px 5px;
    }
    .member-management-settings .blue_btn {
        margin-left: auto !important;
    }
    .projectPeopleMain .blue_btn{
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        margin-top: 0px;
    }
    .projectPeopleMain .invireByEmail{
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
    }
    .projectPeopleMain input#inputId{height: 35px!important;padding-left: 10px!important;}
    .projectPeopleMain .searchByEmail{
        width:100% !important;
            margin-bottom: 5px;
    }
    .member__rol-one {
        width: 100% !important; 
        min-width: 100% !important;
    }
  
    .members-dropdown-load {
        width: 100% !important; 
        min-width: 100% !important;
    }
}

@media(max-width:991px){
    .setting-section-right:has(.member-management-settings) {
        width: 100%;
    }
}

@media(max-width:767px){
    .members-dropdown .search-box-member {width: 100%;padding: 0;border-bottom: 0;}
    .members-dropdown .search-box-member input.search_box{width: 100%;}
    .members-dropdown .search-project-filter ,.members-dropdown-roll .search-project-filter{padding: 20px !important; }
    .members-dropdown .search-project-filter input.form-control , .members-dropdown-roll .search-project-filter input.form-control  {height: 39px !important;}
    .members-dropdown .search-project-filter .drop-down-item, .members-dropdown-roll .drop-down-item{height: 50px;}
}