.asignee-profile {
    border: 2px solid white;
}
.user-status {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 10px;
}
span.onoffDot {
    height: 5px!important;
    width: 5px!important;
    position: absolute!important;
    border: 1px solid #fff!important;
    border-radius: 5px!important;
    right: 1px!important;
    bottom: 5px!important;
    padding: 0!important;
}
span.onoffDot.online {
    background-color: #4dd966;
}
.converted__subtask-image .profile-image {
    border: 2px solid #fff !important;
}
.Assignee-component .setting_project-owner{
    min-width: 30px;
}

.setting_project-owner{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
@media(max-width: 767px){
    .task-detail-right-side-label .asignee-profile {border: 2px solid white !important;}
}