li {
    line-height: 20px;
    padding: 0px 10px 0px 20px;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

li.active {
    background-color: #F4F5F7 !important;
    height: 47px !important;
}

.chat-count {
    left: unset; 
    right: 5px;
    top: 5px;
    line-height: 12px;
    width: 16px;
    height: 11px;
    border-radius: 3px;
    font-size: 9px;
    padding-right: 1px;

    background-color: #ff0000;
}