* {
    /* margin: 0;
    padding: 0; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}
.red {
    color: #ff0000 !important;
}
.sinup-login-title-wrapper p {
    font-size: 16px;
    line-height: 24px;
    color: #535358;
}
.ah-rightside {
    padding: 0px;
}
.ah-rightside .login-input {
    margin-left: 0;
    border: 1px solid #DED2D9;
    border-radius: 5px;
    padding: 13px 10px;
    display: block;
    height: 56px;
}
.already__acount {
    margin-top: 10px;
    display: inline-block;
}
.ah-rightside .login-input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #DFE1E6;
}
.ah-rightside form label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #959595;
    margin-bottom: 3px !important;
    display: inline-block;
}
.ah-rightside form label > span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #959595;
}
.ah-rightside form .form-group {
    margin-bottom: 21px;
    position: relative;
}
.ah-rightside a {
    color: #8591F9;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}
.ah-rightside form {
    margin-top: 30px;
}
.ah-rightside p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535358;
    font-family: 'Roboto';
    margin-top: 0 !important;
}
.ah-rightside h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    text-transform: capitalize;
    color: #3A3A3A;
    margin-bottom: 10px;
    margin-top: 0;
}
.ah-rightside .row {
    align-items: flex-start;
}
.ah-user-profile .ah-rightside {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32.3%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 0px;
}
.auth-template-right {
    width: 32.3%;
}
.auth-template-left {
    width: 67.7%;
}
.ah-user-profile .ah-rightside .form-control {
    margin-left: 0;
}
.ah-user-profile .ah-rightside form {
    margin-top: 10px;
    height: 100dvh;
}
.logo-login {
    margin-bottom: 40px;
}
.eye {
    top: 34px;
    right: 5px;
    height: 56px;
    width: 31px;
    padding: 0px 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form-group label a {
    text-decoration: underline;
    color: #2f3990;
    font-size: 14px;
    line-height: 30px;
}
.btn-blue{
    border: 1px solid #2f3990;
}
.title-login{
    font-size: 36px;
    margin-bottom: 18px;
}
.create-accountlink span, .create-accountlink a {
    font-size: 18px;
    line-height: 27px;
}
button.btn.btn-blue.btn-login {
    font-size: 18px;
    line-height: 27px;
    border-radius: 6px;
    padding: 13px 10px 12px;
    width: 100%;
    border: 0;
}
.create-accountlink span, .create-accountlink a{
    font-size: 18px;
    line-height: 27px;
}
.invalid-feedback{
    font-size: 12px;
}
.auth-template-right .col-md-6 {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 50%;
    padding: 0px 5px;
}
.form-group.checkbox-label {
    justify-content: space-between;
    align-items: center;
}
.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.styled-checkbox+label:before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    width: 14px;
    height: 14px;
    border: 1px solid #2F3990;
    border-radius: 2px;
}
.styled-checkbox:checked+label:before {
    background: #2F3990;
}
.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}
.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}
.styled-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 13px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}
button.btn.btn-blue.btn-login {
    font-size: 18px;
    line-height: 27px;
    border-radius: 6px;
    padding: 13px 10px 12px;
    width: 100%;
    border: 0;
}
.btn-disabled {
    opacity: 0.7;
    pointer-events: none;
}
.create-accountlink {
    margin-top: -2px;
}
.create-accountlink span,
.create-accountlink a {
    font-size: 18px;
    line-height: 27px;
}
.invalid-feedback {
    font-size: 12px;
    margin-top: 5px;
}
.form-group.d-flex.checkbox-label.login-checkbox {
    margin: -12px 0 26px 0;
}
.forgot-checkbox {
    margin-top: 10px;
    margin-bottom: 21px;
}
p.GunPowder {
    margin-bottom: 1px !important;
    display: inline-block;
    margin-top: 0 !important;
}
.phone-country-wrapper .dropdown {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image:url('../../../assets/images/svg/dropdownarrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 5px);
    border: 0 !important;
    min-width: 98px;

}
.phone-country-wrapper {
    border-right: 0 !important;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 58px;
}
.activeCountrydialCode {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #000000;
}
.authetication-container{
    max-width: 470px;
    margin: 0 auto;
    padding: 25px;
    width: 100%;
}
.company-phno {
    border-top: 0 !important;
    border-radius: 0 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.ah-rightside .btn-login {
    margin-left: 0 !important;
}
.phone-country-wrapper{
    border: 1px solid #DED2D9 !important;
    border-radius: 5px;
}
.span_wrapper span.item-head-draggable-div:hover {
    cursor: grab;
}
.auth-template-right .sidebar-options {
    padding-top: 15px;
}
.auth-template-right .sidebar-content{
    width: 374px !important;
}
.auth-title {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    max-width: 40vw;
    position: relative;
    z-index: 6;
    margin-top: -4px;
  }
  .auth-image-bg {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .auth-template-left.back__image-wrapper {
    background-image: url('../../../assets/images/login-banner.png');
    background-position: 6% 100%;
    background-size: auto;
    background-repeat: no-repeat;
}
.ah-rightside .login-input.pwd__input {
    padding-right: 35px !important;
}
@media(max-width:1890px){
  .auth-title {font-size: 58px;}
  .auth-image-bg {width: 67%;}
  .auth-template-left.back__image-wrapper {background-size: 75% 76%;}
}
@media(max-width:1640px){
    .auth-title{font-size: 52px;line-height: 67px;}
    .auth-image-bg {width: 92%;}
    .auth-template-left.back__image-wrapper {background-size: 80% 76%;}
}
@media(max-width: 1440px) {
    .auth-image-bg {width: 90%;}
    .auth-title {font-size: 48px;line-height: 65px;} 
}
@media(max-width: 1366px) {
    .auth-template-left {width: 60%;}
    .auth-template-right {width: 40%;}
    .ah-rightside h3 {font-size: 32px;line-height: 42px;}
    .auth-title{font-size: 42px;line-height: 63px;}
    .auth-image-bg {width: 98%;max-width: 100%;height: 86vh;object-fit: contain;}
    .auth-template-left.back__image-wrapper {background-size: 90% 79%;padding: 4rem 25px !important;}
    .auth-image-circle {z-index: 0;width: 12em;}
}
@media(max-width: 1299px) {
    .auth-image-bg {width: 100%;max-width: 100%;}
    .auth-title {font-size: 40px;line-height: 55px;}
    img.paper_plane {width: 30%;}
}
@media(max-width: 1199px) {
    img.paper_plane {width: 20%;}
    .auth-template-left.back__image-wrapper {background-size: 90% 74%;}
    .auth-title {font-size: 38px;line-height: 55px;}
}
@media(max-width: 1100px) {
.auth-title{font-size: 37px;}
}
@media(max-width: 1024px) {
    .auth-template-left.back__image-wrapper{background-image: none;padding: 15px 25px !important;}
    img.paper_plane {display: none !important;}
    .ah-rightside h3 {font-size: 30px;line-height: 42px;}
    .logo-image {margin-bottom: 25px;}
    .form-group.d-flex.checkbox-label.login-checkbox {margin: 0px 0 26px 0;}
    .auth-template-left{align-items: center;display: flex;overflow: hidden;padding: 15px 35px;height: 320px;}
    .auth-template-left,.auth-template-right{width: 100%!important;}
    .authetication-container {max-width: 70%;padding: 30px;}
    .auth-image-bg {width: 39%;max-width: -webkit-fill-available;height: auto;-o-object-fit: contain;object-fit: contain; left: inherit; right: 0;}
    .auth-title {font-size: 37px;max-width: 45vw;}
}
@media(max-width: 991px) {
.auth-image-bg {width: 42%;}
}
@media(max-width: 927px) {
.auth-title {max-width: 52vw;}
.auth-template-right.border-left.bg-white.d-flex.align-items-center {overflow: auto;max-height: 600px;}
.auth-template-wrapper{height: auto !important;}
}
@media(max-width: 840px) {
    .ah-rightside h3 {font-size: 28px;line-height: 36px;}
    .auth-template-left{display: none;}
    .authetication-container{    max-width:90%;}
    .sinup-login-title-wrapper {text-align: center;}
    .authetication-container a.light-purple {text-align: center;}
    .auth-template-right.border-left.bg-white.d-flex.align-items-center {overflow: unset;max-height: unset;}
    .auth-template-wrapper{height: 100% !important;}
}
@media(max-width: 767px) {

    .sinup-login-title-wrapper p {text-align: center;}
    .ah-rightside h3 {font-size: 26px;line-height: 32px; text-align: center;margin-top: 0 !important;}
    .ah-rightside p{text-align: center;margin-top: 0 !important;width: 100%;}
    .logo-image {margin: 0 auto 25px auto;display: block;}
    .form-group.d-flex.checkbox-label {margin-top: 0;margin-bottom: 15px;}
    .ah-rightside form .form-group {margin-bottom: 20px !important;}
    .auth-template-right {width: 100%;}
    .ah-rightside form .form-group {margin-bottom: 20px;}
    .logo-image {margin-bottom: 20px;}
    .form-group.d-flex.checkbox-label {margin-top: 0;margin-bottom: 15px;}
    .auth-template-right {width: 100%;}
    .authetication-container {max-width: 100%;padding: 25px 20px;margin-top: 25px;}
    .already__acount {margin-top: 8px;margin-bottom: 15px;}
    .create-accountlink span, .create-accountlink a {font-size: 16px;line-height: 25px;}
    .phone-country-wrapper .dropdown {min-width: 98px !important;width: 98px !important;height: 46px;border-bottom: 1px solid #DED2D9 !important;position: relative;top: 1px;}
    .auth-template-right input {height: 46px !important;}
    .phone-country-wrapper {height: 48px;}
    .eye {top: 34px!important;right: 2px!important;height: 45px!important;width: 31px!important;}
    .title-login{font-size: 28px;}
    .company-phno {height: 44px !important;}
    .ah-rightside form label,.ah-rightside form label > span{font-size: 16px;color: #706F6F;}
    .ah-rightside form {margin-top: 20px;}
    .ah-rightside a{font-size: 16px;line-height: 26px;}
    .auth-template-left {display: none;}
    .ah-rightside .row { display: block;}
    .auth-template-right .col-md-6{max-width: 100%;}
    label.chk-label.gray span {font-size: 14px;line-height: 22px;color: #959595;}
    .auth-template-right .col-md-6 {padding: 0px;}
    .auth-template-right .sidebar-options {padding-top: 15px;}
    .auth-template-right .sidebar-content{width: 100% !important;}
    .ah-rightside {max-height: 620px;margin-bottom: 20px;}
    input.form-control.listsidebar-search {height: 50px !important;border-radius: 6px;border: 1px solid #E0E0E0;background: #F0F0F0;}
    .auth-title{display: none;}
    .styled-checkbox+label:before{ position: relative;top: 2px;}
    .styled-checkbox:checked+label:after {top: 14px;}
}
@media(max-width: 375px) {
    .ah-rightside h3 {font-size: 24px;}
    .form-group.d-flex.checkbox-label.login-checkbox {flex-direction: column;}
    .login-check-box-wrpper {width: 100%;}
}
@media(max-width: 300px) {
    .authetication-container {max-width: 100%;padding: 25px 13px;}
}
