.save-thisfilters-dropdown .search-project-filter,
.update-searchfilter-dropdown .search-project-filter {
    padding: 0 !important;
}
.savedfilter-input-wrapper h5 {
    margin: 0px;
}
.filter-list-title {
    font-weight: 400;
    font-size: 13px;
    color: #CFCFCF;
    margin: 10px 0 6px 0;
    line-height: 19.24px;
}
.saved-serach-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 112px;
}
.dropdown-item:hover .hover-action {
    visibility: visible;
}
.hover-action {
    visibility: hidden;
}