.list_view {
  overflow-y: auto;
  height: calc(100% - 90px);
  padding: 0px 20px 15px 20px;
}
@media(max-width:767px){
  .list_view {
    padding: 0px 10px 15px 10px!important;
    height: calc(100% - 50px);
}
}
