*{
    outline: none;
    box-shadow: none;
}
ul.imageUplaod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
}
.companyWrapper {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 12px rgb(0 0 0 / 15%);
    box-shadow: 0px 2px 12px rgb(0 0 0 / 15%);
    border-radius: 5px;
    padding: 30px;
    overflow: auto;
    /* height: calc(100vh - 200px); */
}
.companyWrapper__content {
    height: calc(100vh - 200px);
}
ul {
    padding: 0;
    margin: 0;
}

ul.imageUplaod li {
    display: inline-block;
    max-width: 150px;
    width: 100%;
    min-height: 180px;
    height: 100%;
    margin-bottom: 20px;
}

.error{
    font-size: 12px;
    position: absolute;
    margin-bottom: 0px;
}
.arrow{
    position: absolute;
    left: 75px;
    top: 12px;
    height: 6px;
    width: 12px;
}


.uploadImagewrapper ul.imageUplaod li.active div {
    border: 2px solid #959595;
    margin-bottom: 20px
}
.uploadImagewrapper{
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin-left: 5px;
    border: 2px solid #959595;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploadImagewrapper ul.imageUplaod li div {
    border: 2px solid #959595;
    height: 176px;
    width: 176px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 180px;
}

.uploadImagewrapper ul.imageUplaod li div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

ul.imageUplaod li img {
    -o-object-fit: cover;
    object-fit: cover;
}

ul.imageUplaod li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top: 30px;

}

span:has(img.companyimg) {
    height: 180px;
    width: 180px;
}

ul.imageUplaod li:last-child {
    margin-right: 0 !important;
}


ul.imageUplaod li {
    display: inline-block;
    max-width: 180px;
    width: 100%;
    min-height: 180px;
    height: 100%;
}


.cursor-pointer {
    cursor: pointer;
}

img.plusSignImg {
    width: auto !important;
    height: auto !important;
}

ul.imageUplaod li:last-child span {
    padding-top: 30px;
}



ul.imageUplaod li span.no-img{
    width: 180px;
    height: 180px;
    font-size: 64px;
    display: inline-block;
    background-color: #2f3990;
    color: #fff;
    padding-top: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px
}

.companyimg {
    width: 180px !important;
    height: 180px !important;
    font-size: 64px;
    display: inline-block;
    padding-top: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px
}


.create_company_wrapper .sidebar-body {
    overflow: auto;
}
.sidebarHeader {
    
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #DFE1E6;
}

.sidebarHeader h3.primaryColor {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.primaryColor {
    color: #2F3990 !important;
}

.sidebar-body{
    background-color: #f4f5f7 !important;
}

form.createCompanyform {
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 1);
    margin: 15px;
    border-radius: 8px;
    height: auto;
    width: auto;
}

.company_img {
    padding-bottom: 20px;
}

.create-workspace-sidebar-image {
    display: block;
    width: 122px;
    height: 122px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    position: relative;
    object-fit: cover;
}

.createCompanyform .placeholder {
    background: #F4F5F7;
    border: 1px dashed #959595;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.placeholder {
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    font-size: 18px;
    font-family: Helvetica;
}

.createCompanyform .upload_image {
    position: absolute;
    bottom: 15px;
    left: 50px;
}

.file-input {
    display: none;
    max-width: 180px;
    height: 180px;
    width: 100%;
}

.createCompanyform .form-group {
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.redmark {
    color: red;
}

form.createCompanyform .teaminput-sidebar {
    width: calc(100% - 150px);
    position: relative
}

.create_company_wrapper .form-control {
    height: 30px;
    max-width: 100%;
    width: 367px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949DA8;
    font-size: 13px;
    box-sizing: border-box;
}

.create_company_wrapper input .form-control {
    height: 30px;
    max-width: 100%;
    width: 367px;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #949DA8;
    font-size: 13px;
}

.vue-country-select {
    border-radius: 5px 0px 0px 5px !important;
    height: 30px;
    display: inline-block;
    border: 1px solid #DED2D9 !important;
    text-align: left;
}

.create_company_wrapper .dropdown {
    border: 1px solid #E0E0E0;
    height: 30px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5em;
    border-radius: 6px 0px 0px 6px;
    width: 94px !important;
    margin-left: 0px;
    box-sizing: border-box;
}
.create_company_wrapper .teaminput-sidebar .dropdown-arrow {
    position: absolute;
    left: 75px;
    top: 12px;
    width: 8px;
    height: 5px;
}
.create_company_wrapper .phone-input{
    height: 30px;
    max-width: 271px !important;
    width: 100%;
    border-radius: 0px 6px 6px 0px !important;
}
.create_company_wrapper .btn_block {
    padding-top: 8px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-right: 20px;
}

.vs-sidebar.vs-sidebar-primary.vs-sidebar-position-right .white_btn {
    margin-right: 10px;
}

.white_btn.vs-button-primary.vs-button-filled,
.white_btn {
    font-size: 16px;
    background: #fff !important;
    padding: 4px 10px;
    /* width: 77px; */
    height: 30px;
    border-radius: 4px;
    color: #2f3990;
    border: 1px solid #2f3990;
    margin-left: 15px;
    cursor: pointer;
}


button {
    cursor: pointer !important;
}

.blue_btn {
    font-size: 16px;
    background: #2f3990 !important;
    padding: 7px 10px;
    height: 30px;
    border-radius: 4px;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
}
.company__btn-cancel{
   padding: 3px 13.2px !important;
   margin-right: 20px;
}
.company__btn-save{
   padding: 3px 14.41px !important;
}

@media (max-width:1820px) {
    ul.imageUplaod {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width:1440px) {
    ul.imageUplaod {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:1024px) {
    ul.imageUplaod {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:991px) {
    /* ul.imageUplaod li{
        max-width: 140px;
    } */
    .imageUplaod li.active{
        position: relative;
    }
    .imageUplaod li.cursor-pointer {
        position: relative;
    }
    ul.imageUplaod li span{
        padding-right: 0;
        width: 176px;
    }
}
@media (max-width:767px) {
    ul.imageUplaod {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .setting-section-right:has(.workSpaceSection){
        width: 100%;
    }
    .create_company_wrapper .form-control{
        width: 100% !important;
        height: 30px!important;
    }
    .create_company_wrapper .phone-input{
        max-width: 100% !important;
    }
    .btn_block{
        margin-right: 0px !important;
    }
}
@media (max-width:575px) {
    .frominput-wapeer{
        display: block !important;
    }
    form.createCompanyform .teaminput-sidebar{
        width: 100% !important;
        /* top: 10px; */
        position: relative;
        padding-top: 0PX;
    }
    .create-workspace-sidebar-image{
        margin: 0 auto;
    }
    ul.imageUplaod li {
        margin-right: 0px;
        max-width: 180px;
    }
    .imageUplaod li.active{margin-right: 0px!important;}
    ul.imageUplaod{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    ul.imageUplaod li span{
        width: 176px;
    }
    ul.imageUplaod li:last-child {
        margin-right: 0 !important;
    }
    .uploadImagewrapper {margin-left: 0px;}

}