.notification-tick {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 6px;
    left: 14px;
    top: -6px;
}
.notification:hover .notification-close-icon {
    display: block !important;
}
.notification p{
  margin: 0;
  color: #535358;
  line-height: 19.24px;
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 14px;
  word-break: break-all;
}

.no-image{
    width: 25px;
    height: 25px;
    font-size: 15px;
    display: inline-block;
    background-color: #2f3990;
    color: #fff;
    padding-top: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px
}

.notification span{
  color: #b5b5b5;
  font-size: 14px;
}
span.company-text {
  color: #8591F9;
  font-weight: 400;
  margin-right: 10px;
  font-size: 13px;
}
div#company_selection .dropdown_wrapper{font-size: 13px; font-weight: 500;}
.statusHeader h3.heading_text{
  padding: 30.5px 16px;
}
.taskStatusRight h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #3A3A3A;
}
.taskStatusLeft {
  width: 47%;
}
.taskStatusRight {
  width: 46.742%;
}

/* NAVBAR BLINKING ANIMATION */
.blinking {
    -webkit-animation: 1s blink ease infinite;
    -moz-animation: 1s blink ease infinite;
    -ms-animation: 1s blink ease infinite;
    -o-animation: 1s blink ease infinite;
    animation: 1s blink ease infinite;
}
.upgrade-now{
  font-size: 13px;
  line-height: 19px;
  align-items: center;
  text-align: right;
  display: flex;
  color: #fff;
  background: #28C76F;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 30px;
}
.upgrade-now a{
  color: #fff;
  text-decoration: none !important;
}
img.profile-image.header-profile-image {
  width: 35px;
  height: 35px;
  border: 0 !important;
}
.app-version{
  font-size: 13px;
  line-height: 19px;
}
.mobile-profileimg-namewrapper {
  flex-direction: column;
}
.mobile-menu-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #494949;
  padding: 10.5px 10px 10.5px 43px !important;
  background-image: url('../../../assets/images/svg/mobile-gray-arrow.svg');
  background-repeat: no-repeat;
  background-position: calc(0% - -10px);
}
.mobile-profileimg-namewrapper span {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #646464;
}

.header__wrapper{
  height: 46px; 
}
.help__icon{
  height: 18px;
}
.question__icon{
  width: 18px; 
  min-width: 16px;
}
.log-out-list{
  margin: 160px 20px 20px 20px;
}
.notification-close-icon{
  right: 15px;
}
.comment__notification-message{
  width: calc(100% - 45px);
}
.tour__title {
  line-height: 24px;
}
.tour__description {
  line-height: 21px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.mark-all-comp-btn {
  background-color: white !important;
  border: none !important;
  font-weight: 700;
  font-size: 14px !important;
  padding: 0px;
}
.tour-box-card {
  border: 1px solid rgba(223, 225, 230, 1);
  border-radius: 10px;
  padding: 10px;
}
.image_wrapper_tour img {
  width: 20px;
  min-width: 20px;
}
.p-9px {
  padding: 9px;
}
.tour_sidebar .black.sidebar-body.bg-white{
  background-color: #fff !important;
}
.tour_sidebar .tour_image {
  width: 40px;
  height: 40px;
  object-fit: fill;
  min-width: 40px;
}
.project-list-title-small {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  border-radius: 5px;
  /* border: 1px solid #FFFFFF88; */
  background-color: rgba(255, 255, 255, 0.1);
  width: 15%;
  min-width: 185px;
  text-align: center;
}
.upgrade-section {
  text-align: center;
  padding: 30px;
  margin: 20px;
  background: #e4f9ec;
  border-radius: 10px;
}
.upgrade-section span {
  font-size: 15px;
  font-weight: 500;
}
.upgrade-section .btn-upgrade {
  background: #1CB303;
  padding: 10px;
  border-radius: 10px;
  color: #FFF;
  font-weight: 600;
  font-size: 15px;
  margin: 15px auto 0;
  cursor: pointer;
}
@media(max-width: 1366px) {
  .upgrade-now {display: none;}
}

@media(max-width: 1280px) {
  .project-list-title-small {font-size: 13px; width: 12%; min-width: 100px;}
}

@media(max-width: 1199px){
  .project-list-title-small {
    font-size: 13px;
    /* padding: 8px 12px; */
  }
  .link-item:last-child {margin-left: 8px;}
}
@media(max-width: 1150px){
  .project-list-title-small {
    min-width: 100px;
  }
}
@media(max-width: 991px){
.main-mobileheader-sidebar {padding: 0 !important;background: #fff;margin-top: -1px;padding-top: 13px !important;overflow: auto;}
.mobile-degignation-wrapper{background-image: url('../../../assets/images/svg/profile_notification.svg') !important;background-repeat: no-repeat;background-position: 88% 42%;margin-top: 3px;}
.mobile-menu-list{margin: 10.7px 20px !important;padding: 10.5px 10px 10.5px 34px !important;}
.header-mobile-title {height: 45px;width: 100%;padding-top: 5px;padding-bottom: 5px;}
.mobile-profileimg-namewrapper span{margin-top: -1px;}
.login-user-time {font-size: 15px;font-weight: 600;color: #000;letter-spacing: 0.8px;line-height: 18.29px;}
.time {padding-bottom: 21px;}
.active-list-mobile {background: #2F3990;color: #fff;padding-left: 43px !important;background-image: url('../../../assets/images/svg/mobile_active_arrow.svg') !important;background-repeat: no-repeat !important;background-position: calc(0% - -20px) !important;}
.mobile-menu-list:hover{background-image: url('../../../assets/images/svg/mobile_active_arrow.svg') !important;}
/* img.cursor-pointer.close-btn-mobileheader {position: relative;top: -3px;right: 0px;} */
}
@keyframes('blink') {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  /* NAVBAR BLINKING ANIMATION EBND */