* {
    /* margin: 0;
    padding: 0; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}
.title-login{
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 18px
}
.ah-rightside p {
    font-size: 16px;
    line-height: 24px;
}
.ah-rightside form {
    margin-top: 30px;
}
.btn-blue{
    border: 1px solid #2f3990;
}
button.btn.btn-blue.btn-login {
    font-size: 18px;
    line-height: 27px;
    border-radius: 6px;
    padding: 13px 10px 12px;
    width: 100%;
}
.ah-rightside form .form-group {
    margin-bottom: 20px;
}
.create-accountlink span, .create-accountlink a{
    font-size: 18px;
}