.timeLogWrapper .time-logtable-wrapper .time-logtable th:first-child .timelogtable-thtitle-wrapped {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.time-logtable-wrapper .timelog-loader{
    width: 200%;
}
.timelog___taskimg{
    width: 14px;
    height: 14px;
    object-fit:cover;
}
@media(max-width: 1440px){
    .time-logtable {width: 1040px;}
    .timeLogWrapper .time-logtable-wrapper .time-logtable th:first-child .timelogtable-thtitle-wrapped {max-width: 300px;}
    .time-logtable-wrapper::-webkit-scrollbar {width: 5px;height: 5px;background-color:  #CFCFCF;}
    .time-logtable-wrapper::-webkit-scrollbar-thumb {background-color: #b3b3b3;border-radius: 5px;}
}
