.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.6s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(2px);
}
.list2-move,
.list2-enter-active,
.list2-leave-active {
  transition: all 0.6s linear;
}

.list2-enter-from,
.list2-leave-to {
  opacity: 0;
}
.h-100 {
    height: 100% !important;
}
.dashboard__left .active__tab::after {
    content: '';
    width: 37px;
    height: 3px;
    background-color: #3845B3;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 3px;
}
.main__labled-component h3{
    min-width: 100px;
    max-width: 140px;
    width: auto;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.priority__component--wrapper span {
    font-size: 12px;
    line-height: 17.76px;
    position: relative;
    top: 1px;
}
.priority__component--wrapper .priority__component {
    border: 1px solid #dfe1e6;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.dashboard__left span.font-size-12.font-weight-400 {
    margin-left: 0px !important;
}
.dashboard__left{
    width: 55.8%;
    padding: 15px 56.37px 20px 35px;
    flex: 0 0 auto;
    height: calc(100vh - 106px);
    overflow: auto;
}
.dashboard__right{
    /* width: 44.2%; */
    width: 47%;
    padding: 33px 27.6px 30px 28px;
    height: calc(100vh - 106px);
    overflow: hidden;
}
.calendar__detail--wrapper{
    border: 1px solid #CFCFCF;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.05);
    height: calc(100vh - 201px);
    width: 100%;
}
.home-maincomponent{
    width: 100%;
}
.queue__list-task {
    background:  #DFE1E6;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.10));
    max-width: 750px;
    padding-right: 5px;
    overflow: auto;
}

.queue__list-taskdetail {
    padding: 11.5px 10px 11.5px 20px;
    background: #fff;
    margin: 5px 0px 5px 5px;
    min-width: 313px;
    width: 313px;
    position: relative;
}
.trending__comp-taskdetail {
    padding: 11.5px 20px;
    background: #fff;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.10));
    min-width: 313px;
    width: 100%;
    margin-right: 7px;
}
.status__color {
    width: 10px;
    height: 10px;
    background: #3845B3;
    border-radius: 1px;
    margin-right: 10px;
}
.trending__comp-task {
    overflow-x :auto;
    max-width: 953px;
    width: 100%;
}
.queue__list-taskdetail-wrapper, .trending__comp-taskdetail-wrapper{
    width: 100%;
    min-width: min-content;
    max-width: fit-content;
}
.calnedar__projectstatus--timecomponent {
    padding: 0px 11px 0px 10px;
    max-height: calc(100vh - 333px);
    margin-top: 10px;
}
.calendar__taskdisplay--wrapper{
    border-radius: 4px;
    border: 0.5px solid #FFBD10;
    background: rgba(255, 189, 16, 0.10);
    padding: 10px 44px 10px 20px;
}
.calendar__taskdisplay--wrapper-skelaton{
    border-radius: 4px;
    border: 0.5px solid #cfcfcf;
    padding: 10px 44px 10px 20px;
}
.calendar__taskdisplay--wrapper:last-child{
    margin-bottom: 0 !important;
}
.queue__list-taskdetail:hover .queue__list-closebtn {
    display: flex;
}
.queue__list-taskdetail .queue__list-closebtn {
    display: none;
}
.calnedar__projectstatus--timecomponent::-webkit-scrollbar{display: none;}
.due-date-home-calender-wrapper{
    border:1px solid #DFE1E6;
    height: 30px;
    background-color: #FFFFFF;
    width: 143px;
    min-width: 143px;
    z-index: 0;
    position: relative;
    top: -2px;
}
.due-date-home-calender-wrapper .due-date-home-cal {
    margin: 3px 10px 0;
}
.due-date-home-calender-wrapper .due-date-home-cal .date_format_cal.calendar-comp::placeholder{font-size: 16px !important;color: #000 !important;}
.due-date-home-calender-wrapper .due-date-home-cal .date_format_cal.calendar-comp{font-size: 16px !important;color: #000 !important;}
.lable-status-hover:hover {
    color: #2F3990;
    font-weight: 500;
}
.day__status {
    font-weight: 400;
}
.calendar__title{
    line-height: 33px;
}
.btn__task{
    opacity: 0.6;
    padding : 4px 14px 2px;
    line-height: 18px;
}
.calendar__component--header{
    height: 70px;
}
.calendar_days{
    min-width: 32px;
    height: 30px;
}
.right__side{
    right: 2px;
}
.left__days{
    left:2px;
}
.due-date-home-calender-wrapper{
    line-height: 18px;
}
.display__componet-wrapper{
    height: 63px;
}
.quelist__title{
    line-height: 33px;
}
.queue__list-closebtn{
    width: 6%;
}
.greencheck__img{
    margin-right: 9.5px;
}
.bg-timesheet-title{
    height: 60px;
}
.dashboard__calendar-wrapper{
    height: 30px;
}
.main_component-wrapper{
    height: calc(100% - 60px);
}
.home__component-li{
    list-style: none;
    line-height: 30px;
}
.trending__count{
    margin-left: 6.5px;
}
@media(max-width: 1900px){
.dashboard__right{overflow: auto;}
}
@media(max-width: 1440px){
    .dashboard__left{width: 53%; padding: 20px 30px 20px 30px;}
    .dashboard__right{width: 47%;}
}
@media(max-width: 991px){
    .dashboard__left, .dashboard__right{width: 100% !important;height: auto !important;overflow: visible;padding: 20px;}
    .main_component-wrapper{flex-direction: column !important;}
    .calendar__detail--wrapper[data-v-1188a573] {max-width: 100%;width: 100%;}
}