
.view-row{
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 500px;
    z-index: 2;
    height: 43px;
}

.view-item{
    padding: 5px 10px 5px 19px;
    color: #6B6B6B;
    background-color: white;
    border-bottom: 1px solid #DAE1E7;
    border-right: 1px solid #DAE1E7;
}

.view-status{
    font-size: 13px;
    font-weight: 400;
    border-radius: 7px;
    width: fit-content;
    height: 24px;
    padding: 0 10px;
    line-height: 24px;
}
.chat-main-new .count-block{
    transform: translateX(95%); 
}
.list_view_table .chat-main-new .count-block{
    top: -10px;
}
.task__type-img{
    height:14px !important;
    width:14px !important;
}