.memebertableClass{
    font-size: .8rem;
    width: 100% !important;
    border-collapse: collapse;
}
.currencies_table tr th {
    padding: 10px 20px !important;
}
.projectPeopleMain thead th {
    color: #000000;
    font-family: 'Roboto';
    font-size: 16px;
    text-align: left;
    font-weight: 500;
}
.manufacture_create_content .tr td {
    padding: 10px 15px !important;
}
img.arrowIcon {
    position: relative;
    margin-left: 10px !important;
    width: 8.95px;
    height: 5px;
    margin: auto;
}
.memebertableClass thead {
    position: sticky;
    top: -1px;
    z-index: 1;
}
.memebertableClass tbody tr {
    background-color:#FFFFFF;
    color: #535358;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.68px;
}
.projectPeopleMain .errorWrapper{
    text-align: center;
    position: relative;
    top: 105px;
}
.th__name{
    width:335px;
    border-radius: 4px  0px 0px 0px;
}
.memebertableClass thead tr{
    border-radius: 4px  4px  0px 0px !important;
}
.memebertableClass tbody
{
    border-radius: 0px 0px 4px  4px;
}
.th__settings{
    border-radius: 0px 4px  0px 0px;
}