.fix-milestone, .hourly_milestone{
    border: 1px solid #dfe1e6;
    border-radius: 5px;
    border-collapse: collapse;
    width: 100%;
    position: relative;
}
.fix-milestone-wrapper thead tr {
    background: #f4f5f7;
    border-bottom: 1px solid #e4e4e4;
    background-color: #DFE1E6;
}
.fix-milestone-wrapper th,.fix-milestone-wrapper td{
    text-align: left;
}
.fix-milestone-wrapper th {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.fix-milestone-wrapper td {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #000000;
}
.fix-milestone th:nth-child(1) , .fix-milestone td:nth-child(1) {
    width: 18px;
    /* padding: 10px 0px 0px; */
}
.fix-milestone th:nth-child(2) , .fix-milestone td:nth-child(2) {
    width: 165px;
}
.fix-milestone th:nth-child(3) , .fix-milestone td:nth-child(3) {
    width: 145px;
}
.fix-milestone th:nth-child(4) , .fix-milestone td:nth-child(4) {
    width: 145px;
}
.fix-milestone th:nth-child(5) , .fix-milestone td:nth-child(5) {
    width: 145px;
}
.fix-milestone th:nth-child(6) , .fix-milestone td:nth-child(6) {
    width: 140px;
}
.fix-milestone th:nth-child(7) , .fix-milestone td:nth-child(7) {
    width: 164px;
}
.fix-milestone th:nth-child(8) , .fix-milestone td:nth-child(8) {
    width: 115px;
}
.fix-milestone th:nth-child(9) , .fix-milestone td:nth-child(9) {
    width: 98px;
    padding-right: 20px;
    position: relative;
    /* vertical-align: middle; */
}
.fix-milestone .fixMilestone_wrapper_tr td:nth-child(2)
,.fix-milestone .fixMilestone_wrapper_tr td:nth-child(3)
,.fix-milestone .fixMilestone_wrapper_tr td:nth-child(4)
,.fix-milestone .fixMilestone_wrapper_tr td:nth-child(5)
,.fix-milestone .fixMilestone_wrapper_tr td:nth-child(6)
/* ,.fix-milestone .fixMilestone_wrapper_tr td:nth-child(7) */
,.fix-milestone .fixMilestone_wrapper_tr td:nth-child(8)
,.fix-milestone .fixMilestone_wrapper_tr td:nth-child(9){
    padding-top: 13px;
}
.fix-milestone .fixMilestone_wrapper_tr td:nth-child(1) {
    padding-top: 15px;
}
.fix-milestone th,.hourly_milestone th {
    padding: 9.5px 0px;
}
.fix-milestone td,.hourly_milestone td {
    padding: 8px 0px;
    vertical-align: top;
}
.image_icon_fix {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.fix-milestone-wrapper tbody tr{
    border-bottom: 1px solid #DFE1E6;
}
.add_new {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #2F3990;
    background-color: transparent;
    border: none;
}
.total_amount_width{
    width: 100%;
    max-width: 56%;
}
.add_new_width {
    width: 100%;
    max-width: 44%;
    padding-left: 12px;
}
.total_amount {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
.wrapper_add_amount {
    padding: 9.5px 0px;
    border: 1px solid #DFE1E6;
    border-top: none;
}
.warpper_input {
    padding: 9.5px 15px;
    border: 1px solid #DFE1E6;
    border-top: none;
}
.milestone_name {
    width: 150px;
}
.milestone-date {
    width: 128px;
}
.milestone-date input.form-control{height: 30px!important;}
.fix-milestone-wrapper tfoot{
    border-top: 1px solid #DFE1E6;
}
.hourly_wrapper {
    max-height: 176px;
    overflow: auto;
}
.hourly_wrapper_value {
    border-bottom: 1px solid #dfe1e6;
    padding: 7px 0px 7px 30px;
}
.multiple_status {
    width: 40%;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 10px;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
}
.multiple_status_date {
    width: 40%;
    margin-left: 42px;
}
.padding_status {
    padding: 0px !important;
}
.border_left_status {
    border-left: 1px solid #DFE1E6;
    padding: 0px !important;
}
.clear_status {
    text-align: right;
    padding: 10px 20px 5px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #2F3990;
}
.hourly_wrapper_value:last-child {
    border-bottom: none;
}
/* .milestone-date .dp__main.dp__theme_light {
    background: #FFFFFF;
    border: 1px solid #DFE1E6;
    border-radius: 4px;
    height: 30px;
    display: flex;
    align-items: center;
} */
img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
}
.milestone-date .date-img-wrapper {
    background: #2F3990;
    height: 30px;
    width: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.milestone-date span.date_format {
    margin-left: 5px !important;
    display: flex;
    align-items: center;
}
.milestone_font {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: black;
    padding-bottom: 15px;
    padding-top: 30px;
    border-top: 1px solid #DFE1E6;
}
.status_dot_value{
    width: 120px;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
}
.Dot_Change {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.pointer-event-none {
    pointer-events: none;
}
.refund-delete-image {
    padding-top: 10px;
    padding-left: 12px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.hourminutes {
    width: 36px !important;
    height: 30px !important;
}
.hoursMilestone {
    padding:0px 0px 0px 8px !important;
}
.minutesMilestone {
    padding:0px 0px 0px 6px !important;
}
.amountperhours {
    width: 96px !important;
}
.hourly-milestone-input-status {
    width: 146px;
}
.cancel_refund {
    padding-right: 15px;
}
.newstatus {
    padding-top: 5px;
}
.fixMilestone_wrapper_tr.sortable-chosen {
    background-color: #DFE1E6 !important;
}
.webkit_wrapper_milestone {
    display: -webkit-box;
    width: 100px;
}
@media (max-width: 1800px) {
    .table-responsive.fix-milestone, .table-responsive.hourly_milestone {
        overflow: auto;
        width: 1200px;
    }
    .fix-milestone-wrapper{
        width: 100%;
        overflow: auto;
    }
    .wrapper_add_amount {
        width: 1200px;
    }
}
