.formkit__content-wrapper {
    border-bottom: 1px solid #DFE1E6;
}
.formkit__content-wrapper .formkit-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.formkit__content-wrapper label.formkit-label {
    color: #505050;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.24px;
    padding: 7px 0px 5px 0px !important;
    display: flex;
    align-items: center;
}
.formkit__content-wrapper .formkit-outer {
    margin: 0px;
    padding: 0px;
}
.formkit__content-wrapper .formkit-inner {
    width: 100%;
    box-shadow: none;
    border-left: 1px solid #DFE1E6;
    border-radius: 0px;
    padding: 10px 20px 10px;
}
.formkit__content-wrapper .formkit-input {
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.24px !important;
    padding: 0px;
    color: #505050;
}
.formkit__content-padding {
    padding: 9.5px;
}
.formkit__content-wrapper textarea {
    resize: none;
    min-height: 15px !important;
    height: 20px !important;
}
.formkit__content-wrapper ul.formkit-messages {
    position: relative;
    padding: 0;
}
.formkit__content-wrapper li.formkit-message {
    position: absolute;
    top: -12px;
    left: 8px;
    font-size: 11px;
    padding: 0;
}