.task-detail-body-header{
    border-bottom: 1px solid #CFCFCF;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #FCFCFC;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 15px;
}
.task-body-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
    background: #f4f5f7;
}
.task-body-buttons button{
    width: 40%;
    padding: 8px;
    height: 38px;
}
.task-detail-leftside {max-height: calc(100dvh - 120px);overflow-y: auto;}

.task-detail-leftside::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}
.task-detail-leftside::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border: 2px solid #b3b3b3;
    border-radius: 5px;
  }
  .task-detail-leftside::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}
.activity-scroll img.profile-image.asignee-profile {
    border: 0;
}
.activity-scroll span.onoffDot.online{
    display: none;
}
.taskdetail__leftright-wrapper{
    height: calc(100% - 48px);
}
.mobile__bg--withPadding {
    padding-bottom: 18px;
    border-bottom: 1px solid #DFE1E6;
    border-radius: 0;
}

@media(max-width: 1199px){
    .task-detail-leftside {width: calc(100% - 310px) !important;}
}
@media(max-width: 1024px){
    .task-detail-leftside {width: calc(100% - 288px) !important;max-height: calc(100dvh - 121px);overflow: auto;}
}
@media(max-width: 767px){
    .task-detail-leftside {width: 100% !important;}
    .task-body-buttons button {width: 46.25%;font-size: 16px;height: 39px;font-family: 'Roboto';}
    .task-body-buttons .outline-secondary{border-radius: 6px !important;border: 1px solid #CFCFCF !important;}
    .task-body-buttons .btn-primary{border-radius: 6px !important;}
    .task-body-buttons {padding: 20px !important;}
    .task-detail-leftside {max-height: calc(100dvh - 230px);padding: 0px 0px 20px 0px !important; margin-top: 25px;}
    .task-detail-body-header{margin-bottom: 0;}
    .mobile__bg--withPadding {
        background-color: #fff;
        padding: 10px;
    }
    .mobile__bg--withPadding .description-padding {
        padding: 10px 20px 0px 20px !important;
    }
    .drag-and-drop-attchement,.slider-main {
        width: 94%;
    }
}