* {
    /* margin: 0;
    padding: 0; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}
.detailtimetrack{
    padding-right: 20px;
}
.greenPurpleDot{
    width: 10px;
    height: 10px
}
.trackedManualtime {
    padding-left: 5px;
    font-weight: 400;
    font-size: 14px;
}
.btn-default {
    font-weight: 400;
    font-size: 16px;
    padding: 5px 15px 6px 15px;
    border-radius: 4px;
    height: 32px
}
.timeLogWrapper .range-picker.rangeComp {
    min-width: 265px!important;
    width: fit-content !important;
}
input.dp__pointer.dp__input_readonly.dp__input.dp__input_reg {
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: 500;
    color: black;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: .8rem;
}
.table {
    width: 100%;
    margin: 0;
    min-width: 400px;
    position: relative;
}
.timeLogWrapper table th {
    padding: 8px 19px;
    line-height: 23.68px;
    color: #000;
    font-size: 16px;
    background-color: #DFE1E6;
    border-top: 0;
}
.timeLogWrapper table th:first-child {
    border-left: 1px solid #DFE1E6;
    border-top-left-radius: 2px;
    border-top: 1px solid #DFE1E6;
}
.timeLogWrapper table th:last-child {
    border-right: 1px solid #DFE1E6;
    border-top: 1px solid #DFE1E6;
    border-top-right-radius: 2px;
}
.timeLogWrapper thead:before {
    content: '';
    position: absolute;
    border: 1px solid #dfe1e6;
    width: 100%;
}
.timeLogWrapper thead tr {
    border-bottom: 0 !important;
    background-color: #dfe1e6;
}
.timeLogWrapper td {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 4.5px 11px;
    font-size: 13px;
    color: #535358;
}
.timeLogWrapper td:first-child {
    width: 17%;
    border-left: 1px solid #DFE1E6;
    font-weight: 700;
    padding-left: 19px;
    font-size: 14px;
}
.timeLogWrapper td:nth-child(2) {
    width: 14%;
}
.timeLogWrapper td:nth-child(3) {
    width: 15%;
}
.timeLogWrapper td:nth-child(4) {
    width: 15%;
}
.timeLogWrapper td:nth-child(5) {
    width: 10.8%;
    color: #000000;
    font-weight: 500;
}
.timeLogWrapper td:nth-child(6) {
    width: 11%;
    border-right: 1px solid #CFCFCF;
    padding-right: 0;
}
.timeLogWrapper td:last-child::after{
    content: none;
}
.timeLogWrapper td:after {
    position: absolute;
    content: '';
    height: 23px;
    width: 3px;
    border-right: 1px dashed #CFCFCF;
    right: 0;
    top: 8px;
}
.timeLogWrapper td:last-child::after{
    content: none;
}
.discription_project {
    width: 275px;
    text-align: left;
}
.discription_project span {
    font-size: 13px;
    line-height: 19px;
    color: #535358;
}
.eyeicon{
    width: 16px;
    height: 10.95px;
    position: relative;
    top: 5px;
    right: 3px;
}
.discription_project span {
    font-size: 13px;
    line-height: 19px;
    color: #535358;
}
.img-user-small{
    width: 23px;
    height: 23px;
    border-radius: 23px;
    margin-right: 10px;
}
.timeLogWrapper p.invalid-feedback {
    padding: 15px 0px;
}
.userProfileFilter{
    padding-left: 10px;
}
.selected-blue-border-img {
    border: 2px solid #2e3a90 !important;
    background-color: #f4f5f7 !important;
}
.timeLogWrapper .user-list-top {
    top: -20px;
    z-index: 11;
    background: #f4f5f7;
    padding-top: 0;
    margin-bottom: 0 !important;
    padding-bottom: 20px;
    margin-top: -20px;
    padding-top: 20px;
}
.timeLogWrapper .user-list-top.userlist-screenshot-listtop{
    top: 47px;
    z-index: 11;
    background: #f4f5f7;
    padding-top: 0;
    margin-bottom: 0 !important;
    padding-bottom: 20px;
}
.timeLogWrapper .user-list-top button {
    height: 30px;
    padding: 3.5px;
    margin-left: 1px;
    max-width: 97px;
    min-width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description-main .ql-editor {
    min-height: 155px;
    padding: 14px 15px;
}
.backClass{
    padding-left: 10px;
    font-weight: 400;
    font-size: 18px;
}
.back__Wrapper {
    padding-bottom: 25px;
    position: sticky;
    top: -20px;
    z-index: 111;
    background: #f4f5f7;
    padding-top: 20px;
    margin-top: -20px;
}
.user-list-top {
    margin-top: 21px;
}
.timeLogWrapper {
    padding: 0 1.5px;
}
.mainTableDiv .time-logtable{
    margin-top: 0;

}
.description-main .ql-toolbar.ql-snow+.ql-container.ql-snow {
    border-top: 0;
    border: 0 !important;
}
.description-main .ql-toolbar.ql-snow {
    border: 0!important;
    border-bottom: 1px solid #dfe1e6!important;
    padding-top: 2px;
    padding-bottom: 2px;
}
.description-main .quillWrapper .ql-snow.ql-toolbar .ql-formats {
    margin-bottom: 2px;
}
.description-main .ql-editor, .description-main .ql-editor p {
    color: #3b3b3b!important;
}
.description-main .ql-editor, .description-main .ql-editor p, .description-main span:last-child{
    font-weight: 400;
    font-size: 13px !important;
    line-height: 19px !important;
    font-style: normal !important;
    font-family: 'Roboto';
}
.description-main .ql-toolbar.ql-snow .ql-picker-label {
    border: 0 !important;
    color: #3b3b3b!important;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
}
.timeLogWrapper .d-flex.align-items-center.justify-content-center.profile-image.GunPowder.blue.text-nowrap {
    width: 30px;
    height: 30px;
    font-size: 12.706px;
    line-height: 15px;
    margin-left: -10px;
    position: relative;
    background: #DFE1E6;
}
.timeLogWrapper .drop-down-menu{
    transition: all 0.3s ease;
    filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.15));
    border: 0 !important;
}
.timeLogWrapper .drop-down-menu .profile-image {
    height: 22px;
    width: 22px;
}
.timeLogWrapper .drop-down-menu .d-flex.justify-content-between.align-items-center.border-bottom.cursor-default {
    border-bottom: 0 !important;
}
.timeLogWrapper .range-picker.rangeComp {
    width: fit-content !important;
    min-width: 265px !important;
}
.timeLogWrapper input.dp__pointer.dp__input_readonly.dp__input.dp__input_reg {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-family: 'Roboto';
    border: 1px solid #DFE1E6;
    padding: 4px 10px 4px 7px !important;
    border-radius: 4px;
    text-align: center;
    background-image: url('../../assets/images/svg/calendar_img.svg');
    background-position: 10px;
    background-repeat: no-repeat;
}
.timeLogWrapper table th .d-flex.align-items-center img {
    width: 14px;
    height: 14px;
    object-fit: cover;
    border-radius: 2px;
}
.mainTableDiv .time-logtable .timelog-task-title img {
    width: 14px;
    height: 14px;
    object-fit: cover;
    border-radius: 2px;
    min-width: 14px;
}
.mainTableDiv .timelog-table-thead{
    top: 52px;
    z-index: 1;
}
.timeLogWrapper td.editdelete img {
    margin-right: 1.5rem;
}
.timeLogWrapper td.editdelete img:last-child {
    margin-right: 0;
}
.timeLogWrapper .userProfileFilter img.profile-image {
 
    border: 2px solid #fff !important;
}
.timeLogWrapper .userProfileFilter .selected-blue-border-img img.profile-image{
    border: 0 !important;
}
.timeLogWrapper .userProfileFilter .selected-blue-border-img{
    border-radius: 50%;
}
.timeLogWrapper .userProfileFilter .drop-down-options img.profile-image {
    margin-left: 0px;
}
.timeLogWrapper .profile-image {
    -o-object-fit: cover;
    object-fit: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.timeLogWrapper .userProfileFilter {
    padding-left: 30px;
}
.timeLogWrapper .date-userprofile-wrapper {
    margin-bottom: 2px;
    width: 34%;
}
.timeLogWrapper .img-user-small{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
/* calendar css start 23-05-2023*/
/* .calender-menu-class-range-picker {
    min-width: 380px;
}
.dp__cell_inner.dp__pointer.dp__range_between, 
.dp__calendar_header_item {
    border-color: transparent;
    color: #000;
    border-radius: 0;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    min-width: 32px;
    height: 29px;
    line-height: 24px;
    font-size: 12px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 2px;
    font-family: 'Roboto';
}
.dp__calendar_item {
    margin: 0px;
}
.dp__calendar_row {
    margin: 0px 0;
}
.dp__today {
    border: 0;
    background: #ebf4f8;
    font-weight: 700;
}
.dp__action_row {
    border-top: 1px solid #DFE1E6;
    padding: 8px 10px;
}
.dp__cell_inner.dp__cell_disabled {
    pointer-events: none;
    background-color: #eee;
    opacity: .6;
}
.dp__cell_inner.dp__cell_offset.dp__cell_disabled {
    background: transparent;
}
.dp__sidebar_left{
    border-right: 1px solid #DFE1E6;

}
.dp__action_buttons .btn {
    margin: 0 0 0 10px;
}
.dp__cell_inner.dp__pointer.dp__range_between, 
.dp__cell_inner.dp__cell_disabled.dp__range_between {
    background-color: #ebf4f8;
    border-color: transparent;
}
.dp__cell_inner.dp__cell_offset.dp__cell_disabled, 
.dp__cell_inner.dp__cell_disabled , 
.dp__cell_inner.dp__cell_disabled.dp__range_between{
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through;
    min-width: 32px;
    height: 29px;
    line-height: 24px;
    font-size: 12px;
    padding: 2px;
    font-family: 'Roboto';
}
.dp__cell_inner.dp__pointer.dp__range_start {
    background-color: #2f3990;
    font-size: 12px;
    line-height: 24px;
    height: 29px;
    font-family: 'Roboto';
}
.dp__month_year_wrap button.dp__btn.dp__month_year_select {
    padding: 2px !important;
    font-size: 14px;
    color: #000;
    font-family: 'Roboto';
}
.dp__cell_inner.dp__pointer,
.dp__cell_inner.dp__cell_disabled.dp__range_end,
.dp__overlay_cell.dp__overlay_cell_pad {
    line-height: 24px;
    height: 29px;
    font-size: 12px;
    padding: 2px;
    font-family: 'Roboto';
}
.dp__cell_inner.dp__cell_disabled.dp__range_end,
.dp__overlay_cell_active,
.dp__cell_inner.dp__pointer.dp__range_end{
    background-color: #2f3990;
    font-size: 12px;
    padding: 2px;
    font-family: 'Roboto';
}
.dp__calendar_header_separator {
    display: none;
}

.dp__cell_inner.dp__cell_offset.dp__pointer {
    color: #999;
}
.dp__month_year_select:hover, .dp__inner_nav:hover, .dp__overlay_cell:hover{
    background: transparent !important;
}
.dp__inner_nav svg path {
    fill: #000 !important;
} */
button.dp__btn.dp__month_year_col_nav {
    padding: 0 !important;
}
.WrapperPresetRange li{
    width: 100%;
}
.timelog-user-status {
    margin-left: -10px;
}
.time-logtable img.greenPurpleDot {
    margin-left: -10px;
    margin-top: -2px;
}
.mainTableDiv::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #CFCFCF;
    border-radius: 6px;
}
.mainTableDiv::-webkit-scrollbar-thumb {
    background: #2f3990;
    border-radius: 6px;
  }
  .timelog-usercount-dropdown .search-project-filter.dropdown_option {
    padding: 9px 5px !important;
}
.timelog-usercount-dropdown {
    border: 0;
    border-radius: 2px !important;
    filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.15));
    margin-left: -8px;
    margin-top: 5px;
   
}
.timelog-usercount-dropdown .drop-down-item {
    padding: 4px 5px !important;
}
.timelog-usercount-dropdown .drop-down-item .profile-image{
    width: 22px !important;
    height: 22px !important;
}
.timelog-usercount-dropdown input[type="checkbox"] {
    width: 15px !important;
    height: 15px !important;
    border: 1px solid #DFE1E6 !important;
    margin: 0 14px 0 0;
    min-width: 15px;
    position: relative;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0;
    vertical-align: text-top;
    -webkit-appearance: none;
}
.checkboxBlue {
    background-color: #2F3990 !important;
    border: 1px solid #2F3990 !important;
}

.checkboxBlue:before {
    opacity: 1 !important;
}

.timelog-usercount-dropdown input[type='checkbox']:before {
    content: '';
    position: absolute;
    right: 51%;
    top: 47%;
    width: 4px;
    height: 9px;
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    opacity: 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
}
/* .timelog-usercount-dropdown input[type='checkbox']:checked:before {
    opacity: 1;
} */
.userfilter-list{
    margin-left: 3px; 
    font-size: 12.921px;
    color: #3B3B3B;
}
table.time-logtable td.editdelete img.eyeicon {
    top: 0;
}
.timeLogWrapper .dp__clear_icon{
    padding-right: 10px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .date-userprofile-wrapper .range-picker.rangeComp {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    font-family: Roboto;
    border: 1px solid #dfe1e6;
    padding: 4px 10px 4px 33px!important;
    border-radius: 4px;
    text-align: center;
    background-position: 10px;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/svg/calendar_img.svg');
} */
.timelog_main .user-list-top.userlist-screenshot-listtop{
    top: 0px !important;
}
.timelog_main .timelogtracker{
    top: 0;
    margin-top: 15px; 
}



@media(max-width: 1599px){
    .mainImageDiv .timelogImage {margin-top: 20px;}
    .cooment_titledesc-wrapper{padding-bottom: 15px;}
    .mainImageDiv {margin: 0px 20px 0;}
}
@media(max-width: 1440px){
    .timeLogWrapper td:first-child {width: 20%;}
    .timeLogWrapper{overflow: auto;}
    /* .timeLogWrapper .user-list-top {position: unset;} */
    .timeLogWrapper .user-list-top.userlist-screenshot-listtop{position: sticky;}
    .mainTableDiv .timelog-table-thead {top: -20px;}
    .mainTableDiv .time-logtable {height: 100%;border-right: 2px solid #dfe1e6 !important;}
}
@media(max-width: 1199px){
    .timeLogWrapper .range-picker.rangeComp{min-width: 225px !important;}
    .timeLogWrapper input.dp__pointer.dp__input_readonly.dp__input.dp__input_reg {font-size: 14px;padding: 4px 10px 4px 15px !important}
    .back__Wrapper {margin-bottom: 15px;}
    .mainImageDiv .timelogImage {margin-top: 8px;}
}
@media(max-width: 1024px){
    .detailtimetrack {padding-right: 0px;}
    .detailtimetrack > .d-flex.align-items-center {padding-right: 7px !important;}
    .timeLogWrapper .user-list-top button {padding: 4.5px 5px;font-size: 14px;}
    .trackedManualtime {font-size: 13px;}
}
    @media(max-width: 991px){
    .timeLogWrapper .user-list-top {flex-wrap: wrap;flex-direction: column;}
    .timeLogWrapper .userProfileFilter {padding-left: 20px;}
    .timeLogWrapper .date-userprofile-wrapper {margin-bottom: 15px;}
    .timeLogWrapper thead:after {content: '';position: absolute;border: 1px solid #dfe1e6;width: 100%;}
}
@media(max-width: 767px){
    .timeLogWrapper .user-list-top {flex-direction: row;}
    .timeLogWrapper .date-userprofile-wrapper {margin-bottom: 0px; margin-right: 10px;}
    .timelog-usercount-dropdown{margin-left: 0;margin-top: 0;}
    .userfilter-list{font-size: 16px;margin-left: 10px;}
    .timelog-usercount-dropdown .drop-down-item .profile-image {width: 25px !important;height: 25px !important;}
    .timelog-usercount-dropdown .drop-down-item {padding: 10px !important;}
    .timelog-usercount-dropdown input[type="checkbox"] {width: 20px !important;height: 20px !important;}
    .timelog-usercount-dropdown .search-project-filter.dropdown_option {padding: 20px !important;}
    .timelog-usercount-dropdown img.cursor-pointer.mobileCloseIcon {display: none;}
    .back__Wrapper {margin-bottom: 13px;}
    .mainTableDiv .timelog-table-thead {top: 0px;}
    .description-main .ql-editor {min-height: 40px;padding: 15px 15px 15px 15px;max-height: 100px;}
    .description-main .ql-editor{padding: 0 !important;}
    .range-picker.rangeComp {
        min-width: 237px !important;
        width: -moz-fit-content !important;
        width: fit-content !important;
    }
}
@media(max-width: 647px){
    .timeLogWrapper .user-list-top {flex-direction: column;}
    .timeLogWrapper .date-userprofile-wrapper {margin-bottom: 15px;}
}
@media(max-width: 576px){
    .timeLogWrapper .user-list-top {flex-wrap: wrap;}
    .timeLogWrapper .user-list-top button {max-width: 80px;min-width: 80px;}
}
@media(max-width: 380px){
    .calender-menu-class-range-picker {min-width: 280px;}
}