
.cancelButtonList{
    border: 1px solid #2F3990;
    border-radius: 4px;
    height: 30px;
    padding: 3px 14px;
    font-size: 16px;
    line-height: 24px;
}
.converted__sidebar .sidebar-body {
    background-color: #F4F5F7 !important;
}
.inital-box{
    margin-left: 0 !important;
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.24px;
    color: #FFF;
}
.projectDivInList{
    background: #DFE1E6;
    width: 100%;
    max-width: 100%;
    border: 1px solid #DFE1E6;
    border-radius: 5px;
    height: 36px;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.convertlist__cancel-btn{
    padding: 3px 13.2px !important;
}
.close_image-icon{
    right: 15px !important; 
    top: 14px !important;
}
.project__icon-wrapper{
    top: 0 !important;
}
.important__note-desc{
    line-height: 23px;
}
@media(max-width: 767px){
    .projectDivInList{height: 50px;}
    .converted__sidebar .sidebar-body {background-color: #fff !important;}
}