
.task-detail-head {
    /* border-bottom: 1px solid #DAE1E7 !important; */
    padding: 1.9rem 1rem !important;
    background: #FCFCFC;
}
.task-sub-sidebar .sidebar-head {
    background-color: #DFE1E6;
    color: #000000;
    height: 62px !important;
    border: 1px solid #c7c7c7 !important;
}
.task-sub-sidebar  .sidebar-body{
    height: calc(100% - 62px) !important;
}
.task-details-subtitle {
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 8px;
    color: #000000;
}
.task-detail-leftside .description-main h4.task-details-subtitle {
    margin-top: 28px;
}
.checklist-main h4 {
    margin-top: 35px;
}
.task-detail-subdesc {
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #3B3B3B;
}
.description-main .description-main .ql-editor {
    padding: 0;
}
.task-detail-leftside .description-main {
    border-top: 1px solid #DFE1E6;
    margin-top: 14px;
}
.subtaskitem-wrapper{
    min-width: 45%;
}
.subtaskitem-wrapper .tag-div {
    margin-left: 5px;
    position: relative;
    top: 1px;
}

.show_tag{
    display: none;
}

.subtaskitem-wrapper:hover .show_tag{
    display: block;
}

.drag-and-drop-attchement img {
    margin-right: 6px;
}

.drag-and-drop-attchement span {
   margin-left: 5px;
}
.drag-and-drop-attchement {
    background: #DFE1E6;
    border: 1px dashed #959595;
    height: 93px;
    line-height: 93px;
    text-align: center;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
}
.upload-body-dragged{
    background: #DFE1E6!important;
    border: 1px dashed #959595!important;
    height: 93px!important;
    line-height: 100px;
    text-align: center;
    border-radius: 6px;
    margin-top: 8px!important;
}
.sliderImgWrapper img {
    object-fit: contain;
}
.sliderImgWrapper,.sliderImgWrapper img{border-radius: 6px;height: 100%;}
.attachment-display:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    border-radius: 6px;
    opacity: 0;
}
.hover_icon-slider{display: none!important;}
.attachment-display:hover .hover_icon-slider{
    display: flex!important;
}
.attachment-display:hover:after{opacity: 1;}
.createProjectListSidebarContentWrapper .tagList__main-wrapper-sidebar {
    max-width: 97%;
}
.breadcrubm-skeleton {
    border-radius: 5px;
    height: 35px;
    margin: 5px;
    width: 500px;
}
@media(max-width:1199px){
    .createProjectListSidebarContentWrapper .tagList__main-wrapper-sidebar {
        max-width: 95%;
    }
    .taglist__dropdown-mobile__margin {
        margin-left: 10px;
    }
}

@media(max-width:991px){
    .createProjectListSidebarContentWrapper .tagList__main-wrapper-sidebar {
        max-width: 92%;
    }  
    .taglist__dropdown-mobile__margin{
        margin-left: 10px;
    }
}

@media(max-width: 767px){
    .createProjectListSidebarContentWrapper .tagList__main-wrapper-sidebar {
        max-width: 95%;
    }
    .drag-and-drop-attchement{height: 70px;font-size: 14px;}
    .drag-and-drop-attchement {width: 94%;}
    .checklist-main h4 {margin-top: 10px;margin-bottom: 10px;}
    .task-details-subtitle {font-weight: 600;}
    .attachment-display:after{background-color: transparent;border-radius: 8px;}
    .hover_icon-slider{display: flex!important;}
    .task-detail-leftside .description-main h4.task-details-subtitle {
        margin-top: 0px;
    }
    .task-detail-leftside .activity-log {
        padding: 10px;
    }
    .createProjectListSidebarContentWrapper .checklist-main {
        margin-top: 20px;
        margin-bottom: 20px!important;
    }
    .createProjectListSidebarContentWrapper .description-main,.createProjectListSidebarContentWrapper  .description__Edit-wrapper, .createProjectListSidebarContentWrapper .description-action{
        margin-bottom: 0px;
    }
    .task-detail-leftside .timeLogWrapper {
        padding: 10px;
    }
    .task-detail-leftside .time-logtable-wrapper.mainTableDiv {
        overflow: auto;
    }
}
@media(max-width: 576px){
    .drag-and-drop-attchement {width: 92%;}
    .createProjectListSidebarContentWrapper .tagList__main-wrapper-sidebar {
        max-width: 90%;
    }
}
@media(max-width: 480px){
    .showProjectDetailRight .drag-and-drop-attchement {width: 90%;}
}
@media(max-width: 320px){
    .showProjectDetailRight .drag-and-drop-attchement {font-size: 13px;}
}