.tab-list-header {
    padding: 0px;
    position: relative;
    width: 100%;
    max-width: 73.477%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 73.477%;
    flex: 0 0 73.477%;
    height: auto;
}
.tab-list-header .tab-list-header-ul {
    display: flex !important;
    text-align: center;
    -webkit-box-pack: start;
    display: -webkit-box;
    display: -ms-flexbox;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding: 0px;
    margin: 0px 0 0 10px;
}
.tab-list-header .tab-list-header-ul li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #818181;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}
.tab-list-header .tab-list-header-ul li:before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background: #000;
    opacity: 0.2;
    left: 0;
}
/* .tab-list-header .tab-list-header-ul li.active:before {
    content: none;
} */
.tab-list-header .tab-list-header-ul li.active{
    border-radius: 5px 5px 0px 0px;
}
.tab-list-header .tab-list-header-ul li.active a {
    color: #818181;
    font-weight: 500;
}
.tab-list-header .tab-list-header-ul li:last-child::after{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    background: #000;
    opacity: 0.2;
    right: 0;
}
/* .tab-list-header .tab-list-header-ul li.active+li:before {
    content: none;
} */
.tab-list-header .tab-list-header-ul li:first-child:before {
    content: none;
}
@media(max-width: 767px){
    .tab-list-header{max-width: 100%;flex: 0 0 100%;overflow: auto}
    .tab-list-header .tab-list-header-ul li {font-size: 13px;line-height: 20px;color: #818181;padding: 0 5px;}
    .tab-list-header .tab-list-header-ul li img {padding-right: 5px !important;}
    .task-detail-action ul li{margin-right: 0px;}
    .task-detail-action .watcher-action {margin-right: 10px;}
}
@media(max-width: 414px){
    .tab-list-header .tab-list-header-ul{ width: 400px;}
}