.advancefilter .advancefilter__body {
    max-width: 100%;
    width: 100%;
}
.advancefilter .advancefilter__header {
    height: 53px;
    background: #FCFCFC;
    padding: 0 15px;
    border-bottom: 1px solid #DAE1E7;
}
.advancefilter .advancefilter__header--left {
    width: 99%;
}
.advancefilter .advancefilter__header--left--input {
    width: 90%;
}
.advancefilter .advancefilter__body--left {
    /* width: 100%; */
    min-width: 180px;
    padding: 20px 15px 0px;
    background-color: #FFF;
}
.advancefilter .advancefilter__body--centerwrapper {
    width: calc(100% - 180px);
}
.advancefilter .advancefilter__body--center {
    width: 100%;
    max-width: 1325px;
    padding: 0 15px;
    background: #F4F5F7;
    height: 100vh;
}
.advancefilter .advancefilter__body--right {
    /* width: 100%; */
    min-width: 420px;
    /* padding: 15px; */
}
.advancefilter .advancefilter__header--right {
    background-color: #DFE1E6;
    padding: 5px 10px;
    border-radius: 5px;
}
.advancefilter .pipeline_wrapper:after {
    background-color: #000000;
    content: "";
    display: inline-block;
    font-size: 20px;
    opacity: 0.2;
    width: 1px;
    height: 23px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 2px;
}
.advancefilter input.form-control::placeholder,.advancefilter input.form-control {
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 26.6px !important;
}
.advancefilter input.form-control {
    border: none;
    color: black;
}
.advancefilter .advancefilter__body--name {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.68px;
}
.advancefilter .advancefilter__body--active {
    background-color: #F4F5F7;
    border-radius: 5px;
}
.advancefilter .advancefilter__body--sort {
    padding: 15px 0px;
}
.advancefilter .advancefilter__body--list {
    background: white;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 15px 10px 20px;
    height: 63px;
    width: 100%;
}
.advancefilter .advancefilter__body--list--left {
    width: 90%;
}
.advancefilter .advancefilter__body--list--left--content {
    width: 93%;
}
.advancefilter .advancefilter__body--width {
    width: 100%;
}
.advancefilter .advancefilter__body--newtab {
    margin-right: 10px;
}
.advancefilter .advancefilter__body--list:hover {
    background: #F4F5F7;
}
.advancefilter .advancefilter__body--list:hover ul {
    display: flex !important;
    padding: 0px !important;
}
.advancefilter .advancefilter__body--ul {
    display:none;
    list-style-type: none;
}
.advancefilter .advancefilter__body--paddingbottom {
    padding-bottom: 20px;
}
.advancefilter .advancefilter__body--paddingtop {
    padding-top: 33px;
}
.advancefilter .advancefilter__body--marginbottom {
    padding: 7px 11px;
    /* padding-left: 10px;
    padding-right: 10px; */
}
.advancefilter .advancefilter__body--projectname {
    margin-left: 16px;
}
.advancefilter .advancefilter__body--taskname {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.68px;
}
.advancefilter .advancefilter__body--taskstatus {
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
.advancefilter .advancefilter__body--marginright {
    margin-right: 10px;
}
.advancefilter .advancefilter__body--taskblock::after {
    background-color: #000000;
    content: "";
    display: inline-block;
    font-size: 18px;
    opacity: 0.2;
    width: 1px;
    height: 18px;
    margin-right: 10px;
    margin-left: 10px;
}
.advancefilter .activeTaskFilterTab {
    border-radius: 8px;
    background-color: #DBF1FF;
}
.advancefilter .advancefilter__body--paddingleft {
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.advancefilter .advancefilter__body--left--image {
    padding-left: 13px;
}
.advancefilter .advancefilter__body--active .advancefilter__body--name {
    color: #2F3990;
}
.advancefilter .advancefilter__body--sortby {
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.68px
}
.advancefilter .advancefilter__body--right--name {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
}
.advancefilter .advancefilter__body--right--filterStatus {
    max-height: calc(100vh - 340px);
    overflow: auto;
}
.advancefilter .advancefilter__body--pipeline:before {
    background-color: #000000;
    content: "";
    display: inline-block;
    font-size: 18px;
    opacity: 0.2;
    width: 1px;
    height: 18px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: sub;
}
.advancefilter .nodata {
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.advancefilter .text-ellipse {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 930px;
}
.advancefilter .advancefilter__body--dropdown {
    margin-right: 10px;
}
.advancefilter .advancefilter__body--filtename {
    font-size: 16px;
    font-weight: 500;
    /* line-height: 24px; */
    letter-spacing: 0px;
    text-align: left;
    color: black;
    /* padding-bottom: 15px; */
    display: block;
}
.inital-box-setting-project {
    height: 28px;
    max-width: 28px;
    min-width: 28px;
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    color: white;
    font-weight: 600;
    margin-left: 6px;
}
.advancefilter .table-data-padding_bottom {
    padding: 15px 15px 15px 15px;
}


/* reponsive */
.advancefilter .advancefilter__body--right--reponsive {
    position: fixed;
    right: 0;
    background-color: #fff;
    height: calc(100vh - 0px);
    top: 0px;
    z-index: 7;
}
.advancefilter .advancefilter__body--right.advancefilter__body--right--reponsive:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: calc(100% - 354px);
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}
.advancefilter .advancefilter__body--center.advancefilter__body--center--reponsive {
    max-width: 100% !important;
}
/* mark { */
    /* background-color: rgb(228 228 228); */
/* } */
.advancefilter .advancefilter__body--scroll {
    height: calc(100vh - 150px);
    overflow: auto;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 100%;
}
@media (max-width:1440px){
    .advancefilter .text-ellipse {
        max-width: 450px;
    }
}
@media (max-width:1199px){
    .advancefilter .advancefilter__body--right {
        min-width: 354px;
    }
    .advancefilter .advancefilter__body--centerwrapper { 
        width: 100%;
    }
    .advancefilter .advancefilter__body--list ul {
        display: flex !important;
        padding: 0px !important;
    }
    .advancefilter .advancefilter__body--active {
        border-radius: 5px 5px 0px 0px;
    }
    .advancefilter .advancefilter__body--center {
        border-top: 1px solid #DFE1E6;
    }
    .wrapper_table_data_padding_fields {
        max-height: 500px !important;
    }
    .advancefilter .advancefilter__body--left {
        padding: 10px 15px 0px;
    }
    .advancefilter .advancefilter__body--list:hover {
        background: white;
    }
    .advancefilter .advancefilter__body--scroll {
        height: calc(100vh - 205px);
    }
}
@media (max-width:991px){
    .advancefilter .advancefilter__body--centerfilter {
        border-radius: 6px;
        border: 1px solid #CFCFCF;
        background: #FFF;
        padding: 5px 10px;
    }
    .advancefilter .advancefilter__body--marginbottom {
        margin-right: 10px;
    }
}
@media (max-width:768px) {
    .advancefilter .advancefilter__body--right.advancefilter__body--right--reponsive:after {
        width: 100%;
        height: calc(100vh - 700px);
    }
    .advancefilter .advancefilter__body--right--reponsive {
        top: calc(100vh - 700px);
    }
    .advancefilter .advancefilter__body--right {
        min-width: 100%;
    }
   .custom-filters-col {
        padding-bottom: 0px;
    }
    .DueDate_wrapper .font-size-14 {
        padding: 16px 12px 16px 8px !important;
        margin-bottom: 20px;
    }
    .wrapper_table_data_padding_fields {
        max-height: 400px !important;
    }
    .advancefilter .table-data-padding_bottom {
        padding: 20px;
        border-bottom: 1px solid #DFE1E6;
        margin-bottom: 20px;
    }
    .advancefilter .advancefilter__body--filtename {
        font-size: 20px;
    }
    .advancefilter__body--left {
        overflow: auto;
    }
    .advancefilter .text-ellipse {
        max-width: 320px;
    }
    .advancefilter .advancefilter__body--center {
        padding: 0px;
    }
    .advancefilter .advancefilter__body--sort {
        padding: 15px 20px;
    }
    .advancefilter .advancefilter__body--left--image {
        padding-left: 10px;
    }
    .advancefilter .advancefilter__body--left {
        padding: 10px 20px 0px;
    }
    .advancefilter .advancefilter__body--sortby {
        font-size: 14px;
        line-height: 20.72px;
    }
    .advancefilter .advancefilter__body--dropdown {
        margin-right: 8px;
    }
    .advancefilter .advancefilter__body--sort .advancefilter__body--taskname {
        font-size: 14px;
    }
}
@media (max-width:767px) {
    .custom-filters-col {
        padding-bottom: 20px;
    }
}
@media (max-width:576px) {
    .advancefilter .text-ellipse {
        max-width: 220px;
    }
}
@media (max-width:480px) {
    .advancefilter .text-ellipse {
        max-width: 150px;
    }
    .advancefilter__body--ul li {
        height: 25px;
    }
    .status_text_overflow {
        text-overflow: ellipsis;
        white-space: nowrap;
        text-overflow: auto;
        overflow: hidden;
        max-width: 44px;
    }
}
@media (max-width:375px) {
    .advancefilter .text-ellipse {
        max-width: 50px;
    }
    .text-ellipse-responsive {
        max-width: 120px !important;
    }
}