.title-team-user{
    margin-bottom: 6px;
}
.title-team-user span {
    color: #818181;
    font-size: 16px;
    line-height: 23.6px;
    padding: 0px 20px;
    width: 165px;
    display: flex;
    justify-content: flex-start;
}
.title-team-user span:last-child{
    display: flex;
    justify-content: flex-start;
    width: 160px;
}

.team_name {
    font-size: 14px;
    line-height: 20.72px;
}
.team-section{
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 15px 20px;
}
.team_icon_span {
    width: 30px;
    min-width: 30px;
    height: 30px;
    padding: 0px!important;
    line-height: 30px;
    border-radius: 5px;
    margin-right: 20px;
    flex-direction: column;
}
.team-section .Assignee-component{
    display: flex;
    justify-content: flex-start;
    width: 115px;
}
.team-management-settings .error-text {
    max-width: 460px;
    margin: 0 auto;
    margin-top: 50px;
}
.team-management-settings .errorWrapper {
    max-width: 677px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team-management-settings ul.ul-colors.ul-color-sidebar-popup li {
    height: 7px;
    width: 7px;
    margin: 6px;
}
ul.ul-colors.ul-color-sidebar-popup {
    list-style-type: none;
    z-index: 9999;
    top: 100%;
    padding: 10px;
    width: 186px!important;
    border-radius: 7px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.team-management-settings .profile-image{
    margin-left: -5px;
}
.setting-section-right:has(.team-management-settings) {
    background-color: #f4f5f7!important;
}
.team-name-icon{
    width:165px !important;
}
.assginee__comp-wrappper{
    min-width: 30px;
}
@media (max-width: 1199px){
    .setting-section-right:has(.team-management-settings){
        width: 100%;
        overflow: auto;
    }
    /* .title-team-user span:last-child {
        margin-right: 45px;
    } */
}

@media (max-width:412px) {
    .d-flex.align-items-center.team-name-icon {
        margin-right: auto;
        position: relative;
    }
    .team-section{
        flex-direction: column !important;
        justify-content: flex-start !important;
    }
    .Assignee-component{
        margin-left: 5px !important;
        margin-right: auto;
        margin-top: 10px;
    }
    .title-team-user span:last-child{
        display: none;
    }
}