.message {
    /* width: 100%; */
    padding: 0px 10px;
}
.message pre {
    word-break: break-word;
    white-space: break-spaces;
    transition: all 0.5s ease;
    margin: 0px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.right-message {
    justify-content: flex-end;
}

.comment-media {
    width: 182px;
    height: 112px;
    cursor: pointer;
    object-fit: contain;
}
img.profile-image.message__profile-image {
    height: 30px;
    min-width: 30px;
}
.comments__message--dropdown .drop-down-item {
    font-size: 14px;
}
.show__day{
    top: 50%; 
    height: 1px;
}
.show__day-format{
    left: 50%; 
    bottom: -8px;
    transform: translateX(-50%);
}
.unread__message-text{
     width: 98%;
}
.show__user{
    line-height: 21px;
}
.message_id-sent{
    max-width: 50vw;
 }
.comment__image{
   object-fit: contain;
   border: 1px solid #cecece; 
   border-radius: 5px;
}
.video_controls{
    border: 1px solid #cecece; 
    border-radius: 5px;
}
.message__profile-image{
    width: 25px;
    height: 25px;
}
.white__space-nowrap{
    white-space: nowrap !important;
}
@media(max-width:767px){
    .message_id-sent{
        max-width: 77vw;
     }
}