.border-0 {
    border: 0 !important;
}
.border {
    border: 1px solid #e5e5e5;
}
.bordergray{
    border: 1px solid #CFCFCF;
}
.border-2 {
    border: 2px solid #e5e5e5;
}
.border-gray{
    border: 1px solid #DFE1E6 !important;
}
.border-groupBy{
    border: 1px solid #E0E0E0;
}
.border-primary {
    border: 1px solid #2F3990 !important;
}
.border-secondary{
    border: 1px solid #818181;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.border-bottom-mobiledrop {
    border-bottom: 1px solid #DFE1E6 !important;
}
.border-bottom-black{
    border-bottom: 1px solid black !important;
}
.border-bottom-serach{
    border-bottom: 1px solid #CFCFCF;
}
.border-left {
    border-left: 1px solid #e5e5e5;
}
.border-right {
    border-right: 1px solid #e5e5e5;
}
.border-top-lightwhite{
    border-top: 1px solid #f2f2f2;
}

.border-x {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.border-y {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.border-bottom-red {
    border-bottom: 1px solid #e42b2b!important;
}
.border-right-grey {
    border-right: 1px solid #ccc!important;
}
.border-red {
    border: 1px solid #e42b2b!important;
}
.border-2px-blue
{
    border: 2px solid #2F3990 !important;
}
.borderdarkgray{
    border: 1px solid #cdcdcd;
}
.border-left-0{
    border-left: 0 !important;
}
.border-bottom-lightgray{
    border-bottom: 1px solid #C7C7C7;
}
.ai-border-bottom {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #4B5DEE,#F241CD);
}