.border-radius-0 {
  border-radius: 0rem;
}
.border-radius-1 {
  border-radius: 1rem;
}
.border-radius-2 {
  border-radius: 2rem;
}
.border-radius-3 {
  border-radius: 3rem;
}
.border-radius-4 {
  border-radius: 4rem;
}
.border-radius-5 {
  border-radius: 5rem;
}
.border-radius-1-px {
  border-radius: 1px !important;
}
.border-radius-2-px {
  border-radius: 2px !important;
}
.border-radius-3-px {
  border-radius: 3px !important;
}
.border-radius-3-33-px {
  border-radius: 3.33px !important;
}
.border-radius-4-px {
  border-radius: 4px !important;
}
.border-radius-5-px {
  border-radius: 5px !important;
}
.border-radius-6-px {
  border-radius: 6px !important;
}
.border-radius-7-px {
  border-radius: 7px !important;
}
.border-radius-8-px {
  border-radius: 8px !important;
}
.border-radius-10-px {
  border-radius: 10px;
}
.border-radius-12-px {
  border-radius: 12px !important;
}
.border-radius-15-px {
  border-radius: 15px;
}
.border-radius-30-px {
  border-radius: 30px;
}
.border-top-radius-0 {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.border-top-radius-1 {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.border-top-radius-2 {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.border-top-radius-3 {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.border-top-radius-4 {
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
}
.border-top-radius-5 {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

.border-top-radius-5-px {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.border-top-radius-10-px {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.border-top-radius-15-px {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.border-bottom-radius-0 {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}
.border-bottom-radius-1 {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.border-bottom-radius-2 {
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.border-bottom-radius-3 {
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.border-bottom-radius-4 {
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
.border-bottom-radius-5 {
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.border-bottom-radius-5-px {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.border-topbottom-left-6-px{
  border-radius: 6px 0px 0px 6px !important;
}
.border-leftright-6-px
{
  border-radius: 0px 6px 6px 0px !important;
}
.border-topbottom-right-6-px{
  border-radius:0px 6px 6px 0px !important;

}
.border-topleft-right-8-px{
  border-radius:8px 8px 0px 0px;
}
.border-left-radius-0 {
    border-top-left-radius: 0rem !important;
    border-bottom-left-radius: 0rem !important;
}
.border-left-radius-1 {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.border-left-radius-2 {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.border-left-radius-3 {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}
.border-left-radius-4 {
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}
.border-left-radius-5 {
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.border-right-radius-0 {
    border-top-right-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}
.border-right-radius-1 {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.border-right-radius-2 {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.border-right-radius-3 {
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
.border-right-radius-4 {
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
}
.border-right-radius-5 {
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}
.border-right-radius-5-px {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.border-radius-5-per {
  border-radius: 5%;
}
.border-radius-10-per {
  border-radius: 10%;
}
.border-radius-20-per {
  border-radius: 20%;
}
.border-radius-25-per {
  border-radius: 25%;
}
.border-radius-50-per {
  border-radius: 50%;
}
.border-radius-100-per {
  border-radius: 100%;
}
