.outline-primary {
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #2F3990;
    border-radius: 4px;
    color: #2F3990;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.outline-secondary {
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #959595;
    border-radius: 4px;
    color: #959595;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.outline-secondary-bg-gray{
    border: 1px solid #E8E8E8;
    background-color: #F4F5F7;
    Padding:3px 14px 3px 14px;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 4px;
    color:#959595;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.outline-required{
    height: 30px;
    background: #FFFFFF;
    border: 1.5px solid #CFCFCF;
    border-radius: 7px;
    color: #959595;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.btn-primary {
    cursor: pointer;
    background: #2F3990;
    border-radius: 4px;
    color: white;
    border: none;
    height: 30px;
    font-family: 'Roboto', sans-serif;
}
.btn-danger {
    cursor: pointer;
    background: red;
    border-radius: 4px;
    color: white;
    border: none;
    height: 30px;
    font-family: 'Roboto', sans-serif;
}
.btn-secondary {
    cursor: pointer;
    background: #959595;
    border-radius: 4px;
    color: white;
    border: none;
    height: 30px;
    font-family: 'Roboto', sans-serif;
}

.btn-white {
    height: 30px;
    color: #000;
    background: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.btn{
    margin-left: 5px;
    padding: 4px 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
button{
    font-family: 'Roboto', sans-serif !important;
}