.white {
    color: #FFFFFF !important;
}
.black {
    color: #000;
}
.blue {
    color: #2F3990 !important;
}
.darkblue{
    color: #3845B3 !important;
}
.light-blue {
    color: #DBF1FF;
}
.gray {
    color: #959595;
}
.gray4b{
    color: #4B4B4B;
}
.red {
    color: #ff0000;
}
.light-gray {
    color: #F4F5F7;
}
.lighter-gray {
    color: #f1f1f1;
}
.gray91 {
    color: #e8e8e8;
}
.light-purple {
    color: #8591F9;
}
.purple {
    color: #2b3ab9;
}
.dark-gray {
    color: #3A3A3A;
}
.dark-gray2 {
    color: #3b3b3b;
}
.green {
    color: #4ED164;
}
.red{
    color: #ff0000;
}
.GunPowder{
   color : #535358;
}
.color52{
    color : #525255;
 }
.gray81{
    color: #818181;
}
.gray63{
    color : #636C78;
}
.color94{
    color: #949DA8;
}
.color90{
    color: #090A0A !important;
}
.color63{
    color: #636C78;
}
.color47{
    color: #474747 !important;
}
.colorlowlightgray{
    color: #CFCFCF !important;
}
.colorlightgray{
    color: #DFE1E6;
}
.hover-white:hover {
    color: #FFFFFF !important;
}
.hover-black:hover {
    color: #000 !important;
}
.hover-blue:hover {
    color: #2F3990 !important;
}
.hover-light-blue:hover {
    color: #DBF1FF !important;
}
.hover-gray:hover {
    color: #959595 !important;
}
.hover-light-gray:hover {
    color: #F4F5F7 !important;
}
.hover-lighter-gray:hover {
    color: #f1f1f1 !important;
}
.hover-gray91:hover {
    color: #e8e8e8 !important;
}
.hover-light-purple:hover {
    color: #8591F9 !important;
}
.hover-purple:hover {
    color: #2b3ab9 !important;
}
.hover-dark-gray:hover {
    color: #3A3A3A !important;
}
.bg-transparent{
    background-color: transparent !important;
}
.bg-white {
    background-color: #FFFFFF;
}
.bg-red {
    background-color: #FF0000;
}
.bg-black {
    background-color: #000;
}
.bg-blue {
    background-color: #2F3990;
}
.bg-gray81{
    background-color: #818181;
}
.bg-light-blue {
    background-color: #DBF1FF;
}
.bg-colorlightgray{
    background-color: #DFE1E6;
}
.bg-fresh-air {
    background-color: #B4E2FF;
}
.bg-gray {
    background-color: #959595;
}
.bg-lowlight-gray{
    background: #CFCFCF;
}
.bg-light-gray {
    background-color: #F4F5F7;
}
.bg-light-gray2 {
    background-color: #f6f7f9;
}
.bg-lighter-gray {
    background-color: #f1f1f1;
}
.bg-gray91 {
    background-color: #e8e8e8;
}
.bg-lightgray{
    background-color: #ECEEF1;
}
.bg-gainsboro {
    background-color: #DCDCDC;
}
.bg-purple {
    background-color: #2b3ab9;
}
.bg-light-purple {
    background-color: #8591F9;
}
.bg-dark-gray {
    background-color: #3A3A3A;
}
.bg-dark-gray2 {
    background-color: #3b3b3b;
}
.bg-green {
    background-color: #4ED164;
}
.bg-lightgreen {
    background-color: #D4FFDB; 
}
.bg-dark-gray3{
    background-color: #FFFFFFd6;
}
.bg-timesheet-title{
background-color: #FCFCFC;
}
.bg-dark-green{
    background: #1CB303;
}
.bg-dark-green-light{
    background: #28C76F;
}
.hover-bg-white:hover {
    background-color: #FFFFFF !important;
}
.hover-bg-black:hover {
    background-color: #000 !important;
}
.hover-bg-blue:hover {
    background-color: #2F3990 !important;
}
.hover-bg-light-blue:hover {
    background-color: #DBF1FF !important;
}
.hover-bg-gray:hover {
    background-color: #959595 !important;
}
.hover-bg-light-gray:hover {
    background-color: #F4F5F7 !important;
}
.hover-bg-lighter-gray:hover {
    background-color: #f1f1f1 !important;
}
.hover-bg-lighter-gray-dropdown:hover{
    background-color: #F0F0F0!important;

}
.hover-bg-gray91:hover {
    background-color: #e8e8e8 !important;
}
.hover-bg-purple:hover {
    background-color: #2b3ab9 !important;
}
.hover-bg-purplemobielist:hover {
    background-color: #2f3990 !important;
}
.hover-bg-light-purple:hover {
    background-color: #8591F9 !important;
}
.hover-bg-dark-gray:hover {
    background-color: #3A3A3A !important;
}
.bg-dark-purple{
    background-color: #544DC9;
}
.bg-pink{
    background-color: #F241CD;
}
.bg-lightpink{
    background-color: #EE5E99;
}
.bg-light-yellow{
    background-color: #FFECDA;
}
.bg-dark-greenmodal{
    background-color: #49B643;
}
.bg-dark-redmodal{
    background-color: #EA3F51;
}
.ai-color {
    background: linear-gradient(270deg, #F241CD 0%, #4B5DEE 100%);
    color: transparent;
    background-clip: text;
}