.cursor-pointer {
  cursor: pointer !important;
}
.cursor-default {
  cursor: default !important;
}
.cursor-nodrop {
    cursor: no-drop;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.cursor-wait {
    cursor: wait;
}
.cursor-progress {
    cursor: progress;
}
.cursor-cell {
    cursor: cell;
}
.cursor-crosshair {
    cursor: crosshair;
}
.cursor-text {
    cursor: text;
}
.cursor-all-scroll {
    cursor: all-scroll;
}
.pointer-event-none {
    pointer-events: none;
}
.cursor-grab{
    cursor: grab !important;
}
