@import 'flex.css';
@import 'font.css';
@import 'color.css';
@import 'margin.css';
@import 'padding.css';
@import 'border.css';
@import 'border-radius.css';
@import 'position.css';
@import 'text.css';
@import 'shadow.css';
@import 'cursor.css';
@import 'overflow.css';
@import 'display.css';
@import 'visibility.css';
@import 'z-index.css';
@import 'input.css';
@import 'responsive.css';
@import 'button.css';
@import 'scrollbar.css';
@import 'rotate.css';
@import 'spinner.css';
@import 'blur.css';
@import 'lineheight.css';
@import 'loader.css';
/* @import 'size.css';
@import 'animation.css';
@import 'transition.css'; */
.disableInputField{
    pointer-events: none;
}
.profile-image {
    object-fit: fill;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #f4f5f7;
}
.subtask__item-assignee .asignee-profile {
    border: 2px solid #fff !important;
}
.profile-sm-square {
    object-fit: cover;
    height: 20px;
    width: 20px;
    border-radius: 5px;
}
.profile-md-square {
    object-fit: cover;
    height: 35px;
    width: 35px;
    border-radius: 5px;
}
.profile-lg-square {
    object-fit: cover;
    height: 73px;
    width: 73px;
    background: #D9D9D9;
    border: 2px solid #2F3990;
    box-shadow: 0px 4px 6px rgba(47, 57, 144, 0.25);
    border-radius: 15px;
}
.mobile-back-drop {
    height: 100dvh;
    width: 100%;
    background-color: #00000033;
    top: 0;
    left: 0;
}
.count-block {
    display: flex;
    height: 13px;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: #ffffff;
    padding: 0 3.05px;
    font-size: 10px;
    line-height: 29px;
}
.count-block.parent-count-block{
    border-radius: 3px !important;

}
.count-block.child-count-block{
    border-radius: 3px !important;

}
.w-9 {
    width: 9px;
}
.w-15 {
    width: 15px;
}
.w-14 {
    width: 14px;
}
.w-25 {
    width: 25px;
}
.w-20 {
    width: 20px;
}
.status_square {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 2px;
  }

/* width and height */
.h-100{
    height: 100%;
}
.w-fitcontent{
    width: fit-content;
}
.h-100vh{
    height: 100vh;
}
.w-100 {
    width: 100%;
}
/* width and height */
.h-100{
    height: 100%;
}
.mh-100{
    max-height: 100%;
}
.w-fitcontent{
    width: fit-content;
}
.h-100vh{
    height: 100vh;
}
.h-100dvh{
    height: 100dvh;
}
.w-100 {
    width: 100%;
}
.w-100vw{
    width: 100vw;
}
.mw-80{
    max-width: 80%;
}
.w-100vw{
    width: 100vw;
}
.mw-85{
    max-width: 85%;
}
.w-auto {
    width: auto;
}
.mw-18{
    max-width: 18% !important;
}
.mw-38{
    max-width: 38% !important;
}
.mw-40{
    max-width: 40% !important;
}
.mw-50{
    max-width: 50% !important;
}
.mw-60{
    max-width: 60% !important;
}
.mw-62{
    max-width: 62% !important;
}
.mw-65{
    max-width: 65%;
}
.mw-66{
    max-width: 66%;
}
.mw-70{
    max-width: 70%;
}
.mw-75{
    max-width: 75%;
}
.mw-82{
    max-width: 82% !important;
}
.mw-50{
    max-width: 50%;
}
.mw-90{
    max-width: 90%;
}
.mw-100 {
    max-width: 100%;
}
.w-50{
    width: 50%;
}
.w-35{
    width: 35% !important;
}
.w-65{
    width: 65% !important;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}
.w-94{
    width: 94%;
}
.w-95{
    width: 95%;
}
.mw-65px{
    max-width: 65px;
}
.mw-90px{
    max-width: 90px;
}
.sidebar__top47{
    top:47px;
}
.box-sizing-box{
    box-sizing: border-box;
}
/* end */
input[type="color"]:focus{
    outline: none;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 12px !important;
    height: 12px !important;
    padding: 0 !important;
    margin-left: 1px;
}

 input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0px !important;
}
input[type="color"]::-moz-color-swatch {
    padding: 0px !important;
}
input[type="color"]::-webkit-color-swatch  {
    padding: 5px;
    border: 0;
    border-radius: 2px;
}
input[type="color"]::-moz-color-swatch {
    padding: 5px;
    border: 0;
    border-radius: 2px;
}
.webkit-avilable{
    width: -webkit-fill-available;
}
/* .project-option{
    padding: 7px 5px;
} */
@media(max-width: 767px){
    /* img.project-option-mobile {margin-left: 20px !important;} */
    /* .count-block {padding: 2px 3.4px;min-width: auto;margin-left: 20px !important;border-radius: 20px !important;font-size: 12px !important;height: auto;} */
    /* .count-block.parent-count-block{border-radius: 20px !important;}
    .count-block.child-count-block{border-radius: 20px !important; } */
    .profile-image{border-radius: 50% !important;}
}