.custom-loader { 
  width:500px !important;
  margin:0 auto !important;
  border-radius:10px !important;
  border:4px solid transparent !important;
  position:relative !important;
  padding:5px !important;
}
.custom-loader:before {
  content:'' !important;
  border:1px solid #cecece !important; 
  border-radius:10px !important;
  position:absolute !important;
  top:-4px; 
  right:-4px; 
  bottom:-4px; 
  left:-4px;
}
.custom-loader .loaderBar { 
  position:absolute !important;
  border-radius:10px !important;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  /* background:#fff !important;  */
  width:0;
  animation: borealisBar 2s linear infinite !important;
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}