/* NOTE: 1rem = 16px */

.m-0 {
    margin: 0px;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 2rem;
}
.m-3{
    margin: 3rem;
}
.m-4{
    margin: 4rem;
}
.m-5{
    margin: 5rem;
}
.m-6{
    margin: 6rem;
}
.m-7{
    margin: 7rem;
}


.mt-0{
    margin-top: 0rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-030{
    margin-top: 1.875rem !important;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}
.mt-5{
    margin-top: 5rem;
}
.mt-6{
    margin-top: 6rem;
}
.mt-7{
    margin-top: 7rem;
}

.ml-0{
    margin-left: 0rem;
}
.ml-1{
    margin-left: 1rem;
}
.ml-010{
    margin-left: 0.625rem !important;
}
.ml-015{
    margin-left: 1.5rem;
}
.ml-023{
    margin-left: 1.4375rem;
}
.ml-016{
    margin-left: 1.4375rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.ml-4{
    margin-left: 4rem;
}
.ml-5{
    margin-left: 5rem;
}
.ml-6{
    margin-left: 6rem;
}
.ml-7{
    margin-left: 7rem;
}
.ml-5-px{
    margin-left: 5px;
}
.mr-5-px{
    margin-right: 5px;
}
.mr-10-px{
    margin-right: 10px;
}
.mr-14-px{
    margin-right: 14px;
}
.mr-0{
    margin-right: 0rem;
}
.mr-1{
    margin-right: 1rem;
}
.mr-010{
    margin-right: 0.625rem;
}
.mr-15{
    margin-right: 0.938rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-3{
    margin-right: 3rem;
}
.mr-4{
    margin-right: 4rem;
}
.mr-5{
    margin-right: 5rem;
}
.mr-6{
    margin-right: 6rem;
}
.mr-7{
    margin-right: 7rem;
}

.mb-0{
    margin-bottom: 0rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-010{
    margin-bottom: 0.625rem;
}
.mb-20px{
    margin-bottom: 1.25rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.mb-6{
    margin-bottom: 6rem;
}
.mb-7{
    margin-bottom: 7rem;
}


.mx-0{
    margin-left: 0px;
    margin-right: 0px;
}
.mx-1{
    margin: 0px 1rem;
}
.mx-2{
    margin: 0px 2rem;
}
.mx-3{
    margin: 0px 3rem;
}
.mx-4{
    margin: 0px 4rem;
}
.mx-5{
    margin: 0px 5rem;
}
.mx-6{
    margin: 0px 6rem;
}
.mx-7{
    margin: 0px 7rem;
}

.my-0{
    margin-top: 0px;
    margin-bottom: 0px;
}
.my-1{
    margin: 1rem 0px;
}
.my-2{
    margin: 2rem 0px;
}
.my-3{
    margin: 3rem 0px;
}
.my-4{
    margin: 4rem 0px;
}
.my-5{
    margin: 5rem 0px;
}
.my-6{
    margin: 6rem 0px;
}
.my-7{
    margin: 7rem 0px;
}
/* marign in pixel */
.my-2px{
    margin: 2px 0px;
}
.mx-8px
{
    margin: 0 8px;
}
.m-2px{
    margin: 2px;
}
.m-3px{
    margin: 3px;
}
.m-5px{
    margin: 5px;
}
.m-6px{
    margin: 6px;
}
.m-7px{
    margin: 7px;
}
.m-10px{
    margin: 10px;
}
.m-15px{
    margin: 15px;
}
.m-20px{
    margin: 20px;
}
.m-30px{
    margin: 30px;
}
.mt-0px{
    margin-top: 0px !important;
}
.mt--1px{
    margin-top: -1px;
}
.mt-5px{
    margin-top: 5px !important;
}
.mt-1px{
    margin-top: 1px;
}
.mt-3px{
    margin-top: 3px;
}
.mt-6px{
    margin-top: 6px;
}
.mt-7px{
    margin-top: 7px;
}
.mt-8px{
    margin-top: 8px;
}
.mt-10px{
    margin-top: 10px;
}
.mt-12px{
    margin-top: 12px;
}
.mt-15px{
    margin-top: 15px;
}

.mt--15px{
    margin-top: -15px;
}
.mt-17px{
    margin-top: 17px;
}
.mt-20px{
    margin-top: 20px;
}
.mt-29px{
    margin-top: 29px;
}
.mt-30px{
    margin-top: 30px;
}
.mt-31px{
    margin-top: 31px;
}
.mt-40px{
    margin-top: 40px;
}
.mt-50px{
    margin-top: 50px;
}
.mr-0{
    margin-right: 0px !important;
}
.mr-2px{
    margin-right: 2px;
}
.mr-3px{
    margin-right: 3px;
}
.mr-4px{
    margin-right: 4px;
}
.mr-5px{
    margin-right: 5px;
}
.mr-6px{
    margin-right: 6px;
}
.mr-7px{
    margin-right: 7px;
}
.mr-8px{
    margin-right: 8px;
}
.mr-10px{
    margin-right: 10px;
}
.mr-12px{
    margin-right: 12px;
}
.mr-13px{
    margin-right: 13px;
}
.mr-15px{
    margin-right: 15px;
}
.mr-20px{
    margin-right: 20px;
}
.mr-30px{
    margin-right: 30px;
}
.mr-40px{
    margin-right: 40px;
}
.ml-auto{
    margin-left: auto !important;
}
.ml-0{
    margin-left: 0px !important;
}
.ml-2px{
    margin-left: 2px;
}
.ml-3px{
    margin-left: 3px;
}
.ml-4px{
    margin-left: 4px;
}
.ml-5px{
    margin-left: 5px;
}
.ml--5px{
    margin-left: -5px;
}
.ml-6px{
    margin-left: 6px;
}
.ml-7px{
    margin-left: 7px;
}
.ml-8px{
    margin-left: 8px;
}
.ml-9px{
    margin-left: 9px;
}
.ml-10px{
    margin-left: 10px;
}
.ml-12px{
    margin-left: 12px;
}
.ml-13px{
    margin-left: 13px;
}
.ml-15px{
    margin-left: 15px !important;
}
.ml-16px{
    margin-left: 16px;
}
.ml-18px{
    margin-left: 18px;
}
.ml-20px{
    margin-left: 20px;
}
.ml-25px{
    margin-left: 25px;
}
.ml-30px{
    margin-left: 30px;
}
.ml--30px{
    margin-left: -30px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-2px{
    margin-bottom: 2px;
}
.mb-3px{
    margin-bottom: 3px;
}
.mb-5px{
    margin-bottom: 5px !important;
}
.mb-6px{
    margin-bottom: 6px;
}
.mb-7px{
    margin-bottom: 7px;
}
.mb-9px{
    margin-bottom: 9px;
}
.mb-10px{
    margin-bottom: 10px;
}
.mb--10px{
    margin-bottom: -10px;
}
.mb-13px{
    margin-bottom: 13px;
}
.mb-15px{
    margin-bottom: 15px;
}
.mb-17px{
    margin-bottom: 17px;
}
.mb-20px{
    margin-bottom: 20px !important;
}
.mb-28px{
    margin-bottom: 28px;
}
.mb-30px{
    margin-bottom: 30px;
}
.m0-auto{
    margin: 0 auto;
}
.m3px-auto{
    margin: 3px auto;
}
.m10px-0px{
    margin: 10px 0px;
}
.m20px-0{
    margin: 20px 0px;
}
.m11px-0px{
    margin: 11px 0px;
}
.m0px-10px{
    margin: 0px 10px;
}
.m0px-5px{
    margin: 0px 5px;
}
.m0px-6px{
    margin: 0px 6px;
}
.m0px-20px{
    margin: 0px 20px;
}