/* NOTE: 1rem = 16px */
.p-0{
    padding: 0!important;
}
.pl-0{
    padding-left: 0!important;
}
.pr-0{
    padding-right: 0!important;
}
.pt-0{
    padding-top: 0!important;
}
.pb-0{
    padding-bottom: 0!important;
}
.p-015{
    padding: 0.938rem !important;
}
.p-1{
    padding: 1rem;
}
.p-020{
    padding: 1.25rem;
}
.p-030{
    padding: 1.875rem;
}
.p-2{
    padding: 2rem;
}
.p-040{
    padding: 2.5rem;
}
.p-3{
    padding: 3rem;
}
.p-4{
    padding: 4rem;
}
.p-5{
    padding: 5rem;
}
.p-6{
    padding: 6rem;
}
.p-7{
    padding: 7rem;
}
.px3-py14{
    padding: 0.188rem 0.875rem;
}
.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-20{
    padding-top: 1.25rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-4{
    padding-top: 4rem;
}
.pt-5{
    padding-top: 5rem;
}
.pt-6{
    padding-top: 6rem;
}
.pt-7{
    padding-top: 7rem;
}

.pl-1{
    padding-left: 1rem;
}

.pl-2{
    padding-left: 2rem;
}
.pl-3{
    padding-left: 3rem;
}
.pl-4{
    padding-left: 4rem;
}
.pl-5{
    padding-left: 5rem;
}
.pl-6{
    padding-left: 6rem;
}
.pl-7{
    padding-left: 7rem;
}
.pl-20px{
    padding-left: 20px;
}

.pr-1{
    padding-right: 1rem;
}
.pr-2{
    padding-right: 2rem;
}
.pr-3{
    padding-right: 3rem;
}
.pr-4{
    padding-right: 4rem;
}
.pr-5{
    padding-right: 5rem;
}
.pr-6{
    padding-right: 6rem;
}
.pr-7{
    padding-right: 7rem;
}

.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}
.pb-5{
    padding-bottom: 5rem;
}
.pb-6{
    padding-bottom: 6rem;
}
.pb-7{
    padding-bottom: 7rem;
}

.px-010rem{
    padding: 0px 0.625rem;
}
.px-1{
    padding: 0px 1rem;
}
.px-020{
    padding: 0px 1.25rem;
}
.px-2{
    padding: 0px 2rem;
}
.px-3{
    padding: 0px 3rem;
}
.px-4{
    padding: 0px 4rem;
}
.px-5{
    padding: 0px 5rem;
}
.px-6{
    padding: 0px 6rem;
}
.px-7{
    padding: 0px 7rem;
}

.py-1{
    padding: 1rem 0px;
}
.py-2{
    padding: 2rem 0px;
}
.py-3{
    padding: 3rem 0px;
}
.py-4{
    padding: 4rem 0px;
}
.py-5{
    padding: 5rem 0px;
}
.py-6{
    padding: 6rem 0px;
}
.py-7{
    padding: 7rem 0px;
}

/* padding in pixel */

.p-3px{
    padding: 3px;
}
.p-4px{
    padding: 4px;
}
.p-5px{
    padding: 5px;
}
.p-6px{
    padding: 6px;
}
.p-7px{
    padding: 7px !important;
}
.p-8px{
    padding: 8px;
}
.p-10px{
    padding: 10px;
}
.p-12px{
    padding: 12px;
}
.p-15px{
    padding: 15px;
}
.p-20px{
    padding: 20px;
}
.p-30px{
    padding: 30px;
}
.p-50px{
    padding: 50px;
}
.pt-2px{
    padding-top: 2px;
}
.pt-3px{
    padding-top: 3px !important;
}
.pt-5px{
    padding-top: 5px;
}
.pt-6px{
    padding-top: 6px;
}
.pt-7px{
    padding-top: 7px;
}
.pt-10px{
    padding-top: 10px;
}
.pt-15px{
    padding-top: 15px;
}
.pt-17px{
    padding-top: 17px;
}
.pt-20px{
    padding-top: 20px;
}
.pt-30px{
    padding-top: 30px;
}
.pt-40px{
    padding-top: 40px;
}
.pl-30px{
    padding-left: 30px;
}
.pr-0px{
    padding-right: 0px;
}
.pr-5px{
    padding-right: 5px;
}
.pr-6px{
    padding-right: 6px;
}
.pr-7px{
    padding-right: 7px;
}
.pr-10px{
    padding-right: 10px;
}
.pr-15px{
    padding-right: 15px;
}
.pr-20px{
    padding-right: 20px;
}
.pr-22px{
    padding-right: 22px;
}
.pr-30px{
    padding-right: 30px;
}
.pl-2px{
    padding-left: 2px;
}
.pl-3px{
    padding-left: 3px;
}
.pl-5px{
    padding-left: 5px;
}
.pl-6px{
    padding-left: 6px !important;
}
.pl-7px{
    padding-left: 7px;
}
.pl-8px{
    padding-left: 8px !important;
}
.pl-9px{
    padding-left: 9px;
}
.pl-10px{
    padding-left: 10px;
}
.pl-11px{
    padding-left: 11px;
}
.pl-15px{
    padding-left: 15px;
}
.pl-20px{
    padding-left: 20px;
}
.pl-30px{
    padding-left: 30px;
}
.pb-0px{
    padding-bottom: 0px;
}
.pb-1px{
    padding-bottom: 1px;
}
.pb-2px{
    padding-bottom: 2px;
}
.pb-3px{
    padding-bottom: 3px;
}
.pb-4px{
    padding-bottom: 4px;
}
.pb-5px{
    padding-bottom: 5px;
}
.pb-6px{
    padding-bottom: 6px;
}
.pb-7px{
    padding-bottom: 7px;
}
.pb-10px{
    padding-bottom: 10px;
}
.pb-13px{
    padding-bottom: 13px;
}
.pb-15px{
    padding-bottom: 15px;
}
.pb-20px{
    padding-bottom: 20px;
}
.pb-22px{
    padding-bottom: 22px;
}
.pb-25px{
    padding-bottom: 25px;
}
.pb-28px{
    padding-bottom: 28px;
}
.pb-30px{
    padding-bottom: 30px;
}
.pb-50px{
    padding-bottom: 50px;
}
.p0x-2px{
    padding: 0px 2px;
}
.p5px-p10px{
    padding: 5px 10px;
}
.p5px-p15px{
    padding: 5px 15px;
}
.p10px-p15px{
    padding: 10px 15px;
}
.py-10px{
    padding: 10px 0px;
}
.py-8px{
    padding: 8px 0;
}
.p0x-5px{
    padding: 0px 5px;
}
.p2x-5px{
    padding: 2px 5px;
}
.p3x-5px{
    padding: 3px 5px;
}
.p4x-5px{
    padding: 4px 5px;
}
.p7x-5px{
    padding: 7px 5px;
}
.p0x-10px{
    padding: 0px 10px;
}
.p2x-10px{
    padding: 2px 10px;
}
.p0x-15px{
    padding: 0px 15px;
}
.p15x-0px{
    padding: 15px 0px;
}
.p0x-13px{
    padding: 0px 13px;
}
.p9x-13px{
    padding: 9px 13px;
}
.p3x-14px{
    padding: 3px 14px;
}
.p15x-20px{
    padding: 15px 20px;
}
.p5x-0px{
    padding: 5px 0px;
}
.p20px-0px{
    padding: 20px 0px;
}
.p50px-0px{
    padding: 50px 0px;
}
.p1px-15px {
    padding: 1px 5px;
}