.box-shadow-2 {
    box-shadow: 2px 2px 8px 0 #b8b8b8;
}

.box-shadow-4 {
    box-shadow: 4px 4px 8px 0 #b8b8b8;
    border-radius: 5px;
}
.box-shadow-5 {
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.1);
}
.box-shadow-serach{
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.filter-shadow
{
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.10));
}
.filter-shadow-light{
    filter: drop-shadow(1px 1px 1px #aaa);
}
.payment__box-shadow{
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.15);
}
