/* TEXT */
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text-decoration-none {
    text-decoration: none;
}
.text-decoration-underline {
    text-decoration: underline;
}
.text-decoration-line-through {
    text-decoration: line-through;
}
.text-break {
    word-break: break-word;
}
.word-break-all {
    word-break: break-all
}

.para-overflow{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.v-toast__item {
    min-height: 3.5em!important;
}
.v-toastitem .v-toasttext {
    padding: 0.5em 1em!important;
}
.v-toast__text {
    margin: 0;
    padding: 0.5em 1em;
    word-break: break-word;
    font-family: 'Roboto', sans-serif;
    font-size: 14px!important;
}
.vertical-middle{
    vertical-align: middle;
}
.vertical-bottom{
    vertical-align: bottom;
}